[2017-07-30 21:39] Eric89GXL commented on #205
@Titan-C any comment on this [starting here](https://github.com/sphinx-gallery/sphinx-gallery/issues/205#issuecomment-285108592)? This is a feature we still miss.

[2017-07-30 21:40] Eric89GXL commented on #261
In some sense #205 could be made to take care of this using backreferences.

[2017-07-30 21:41] choldgraf commented on #205
I agree w/ @Eric89GXL - Matplotlib would also have a huge benefit from improvements along these lines (e.g. SG isn't detecting any of the methods called on `Axes` objects that are created with `plt.subplots`

[2017-07-30 21:43] Eric89GXL opened #275 "ENH: Allow setting example order"
I recently migrated PySurfer over to SG, and want to be able to set the example file order. There currently is no way to do that, correct? The workarounds would be to either build subdirectories, or re-title the examples e.g. "01. Basic visualization" etc. to get them in the correct order, which is not so satisfactory.

I propose adding an `example_order` dict to `conf.py` to complement the existi

[2017-07-30 21:45] Eric89GXL opened #276 "DOC: List all `conf` options in one place"
I'm not 100% sure e.g. #275 is valid (maybe something to do it exists already in SG?) because I couldn't find one place where all SG conf options were listed. I propose adding a single place that lists all options, and linking to the relevant advanced- or basic-doc sections to describe each entry as necessary.

I can take a stab at this if people agree it would help.

[2017-07-30 21:47] choldgraf commented on #275
![](https://media0.giphy.com/media/dnP2VxYVlW2NW/giphy.gif)

[2017-07-30 21:49] choldgraf commented on #275
but to be a bit more helpful, I'd see this as an extension of https://github.com/sphinx-gallery/sphinx-gallery/pull/234 ...if folks are cool with it (and personally I am as long as it doesn't add much complexity), I think the solution should be similar to what's in there so that we don't have too many different ways of accomplishing the same kind of thing...

[2017-07-30 21:49] Eric89GXL commented on #276
... for example, I couldn't find anywhere in the docs that mentioned how to set the thumbnail size. ~~There is probably some way to do it but I don't know after some looking at docs and code searching.~~ After [looking at the code](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L357) I finally figured out there probably is no way to set it. Having a list in

[2017-07-30 21:50] Eric89GXL opened #277 "ENH: Add thumbnail size setter"
It looks like the thumbnail dimensions are static:

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L357

I'm happy to add it as a `conf.py` key (`thumbnail_size` tuple?) if people agree it would be useful.

[2017-07-30 21:52] choldgraf commented on #276
This I think is a good idea - I found discovering the various functionality in sphinx-gallery to be a bit difficult as well. I think there should be one place that gives a docstring-style explanation of each possible configuration option.

[2017-07-30 22:20] anntzer commented on #275
FWIW I think this would be better handled by a custom (toctree-like) directive e.g. at the level of the README.txt (as this is closer to the actual place of usage, rather than hidden within an already length conf.py).  Something like
[code]

Allowing for skipping files could then be done with a directive option, e.g.
[code]

(I certainly support the feature request, of course.)

[2017-07-30 22:26] Eric89GXL commented on #275
FWIW I think this would be better handled by a custom (toctree-like)
directive e.g. at the level of the README.txt (as this is closer to the
actual place of usage, rather than hidden within an already length conf.py).

Agreed that this is simpler and nicer, I hadn't considered that
possibility. I haven't worked with Sphinx directives before (let alone
integrating with SG) but I assume there is a w

[2017-07-30 22:32] Eric89GXL commented on #275
Although in principle the subsection ordering could have been done in the
same fashion but wasn't. So maybe the entry is better for consistency...?

@choldgraf not sure what you mean about integrating the two keys, they seem
separable to me. Feel free to propose an alternative API you find nicer.

[2017-07-30 22:41] anntzer commented on #275
Well I would argue that the subsection ordering should also be done using rst syntax, so I would generate something like https://sphinx-gallery.readthedocs.io/en/latest/auto_examples/index.html using
[code]
which seems way more explicit.

(Well that would not support `:allow-missing:` but that wasn't supported to begin with :-))

[2017-07-30 22:48] Eric89GXL commented on #275
Okay but the subsection ordering is already done in conf. Are you proposing
to have two ways to do it, or that the old way should be deprecated and
removed?

[2017-07-30 23:10] anntzer commented on #275
I would just get rid of the old way.

Actually, the toctree even has globbing facility (http://www.sphinx-doc.org/en/stable/markup/toctree.html), so we could *even* get rid of filename_pattern in favor of
[code]

[2017-07-30 23:28] Eric89GXL commented on #275
This might create bad deprecation pains for users depending on how widely
used the feature is. I lean toward erring on the side of avoiding such
deprecation (and maintaining consistent interface), so I'm still +0.5 on
putting it in conf.py over moving to README.

[2017-07-30 23:56] anntzer commented on #275
The "old way" was only released in 0.12 (i.e. yesterday), so it can't be *that* widely used.
(Deprecating filename_pattern would cause much more pain and would be a completely different story.)

[2017-07-31 07:45] lesteve commented on #275
Indeed controlling the examples ordering within a subsection was in the back of our mind in #234 (this is part of the reason #234 took some time) so that is the way I would go for. The idea would be to have an additional key like `within_section_order` and pass in a sort key to it.

[2017-07-31 10:53] Titan-C commented on #275
Indeed we had examples ordering in vision. And I strongly support using a sortkey in this case as well. I don't want nevertheless to mix it with the subsection order sortkey, it should be independent.
The reason for making it independent is that at the examples level, there is more information in place. And thus we sort under criteria beyond what is included in the filename. (To keep compatibility

[2017-07-31 11:07] Titan-C commented on #276
I agree our docs are not the most discoverable. Thus at least explaining all our defaults in one place and having the link to the docs on how to modify them is extremely helpful.

[2017-07-31 11:28] Titan-C commented on #277
Thumbnails are of fixed size and rather big(compared to the gallery thumbnail size) as on scikit-learn they were used on other places in their docs(the carousel for example).

I'm not sure about adding this extra setter. But if we go for it, I might say start clustering it with other options for the thumbnail, like the default image. Something like
[code]
Of course that would break backwards compa

[2017-07-31 11:44] lesteve commented on #275
:confused: I was advocating having a separate key `within_subsection_order` (or a better name). How is that mixing it with the subsection order key?

If you have the filename you can figure out the amount of code inside the file to mimic the current behaviour, can you not?

I thought there was some consensus on this and I am slightly puzzled that we are still debating it. I feel I have already mad

[2017-07-31 12:01] Titan-C commented on #275
@lesteve I missunderstood your first comment. I also have in mind what you put in your code example. 2 separate entries with separate sortkeys.

Yes you can. But you need to read the file again to infer that. On the other hand that is a value we have already evaluated. Said that, multiple reads of the same file have been a common pattern in our codebase and does not affect performance to much.

[2017-07-31 12:39] lesteve commented on #275
Great to hear that!

Agreed, in most cases opening the file multiple times is going to be peanuts compared to running the example inside the file.

[2017-07-31 13:05] choldgraf commented on #275
I agree w/ @lesteve and @Titan-C - before I was suggesting we should use a similar solution to the one that we did with folders (e.g. using a sorting key, list of folders, something like this), but I agree that it should not be the *same* thing.

[2017-07-31 13:10] choldgraf commented on #277
It sounds like @Titan-C is suggesting that using CSS to resize images would be a decent solution, is that right?

[2017-07-31 13:21] Titan-C commented on #277
We already resize with CSS. My guess is @Eric89GXL wants to set a new smaller size on the Thumbnail, so save on space as the thumbnail images is larger than the saved size. Otherwise, if it is on the aesthetics of the thumbnail, yes changing CSS at will is the easiest and can be done on the user side.

[2017-07-31 13:50] Eric89GXL commented on #277
I actually just want larger images in the gallery section. If this can
already be done with CSS, then I'll just make a documentation PR update.

[2017-07-31 13:55] Eric89GXL commented on #275
AlphabeticalOrderKey seems ambiguous, maybe AlphabeticalFilenameOrderKey
and AlphabeticalTitleOrderKey (current default, right?).

Otherwise I think I have enough information to proceed to making a PR.

[2017-07-31 14:07] lesteve commented on #275
I know that filenames get passed to the sort key (probably not obvious to any user of course), so `AlphabeticalOrderKey` sounds fine to me. This is the first name that came to mind so better suggestions welcome.

Note the default is length of the example (number of characters or lines in the file, I can't remember) of the as a proxy of "example complexity" so simple (i.e. short) examples come firs

[2017-07-31 14:15] choldgraf commented on #275
* If it was just  `AlphabeticalOrderKey`, this means it could be used either for file names, folder names, etc. It'd just need to be clearly documented how you could use this.
* `LineLengthKey` sounds like an easy name to me :-)

+1 on a PR, I think this is a logical extension of functionality

[2017-07-31 14:18] lesteve commented on #275
Great point!

FWIW at the moment the "amount of code" is computed by `generate_file_rst` [here](https://github.com/sphinx-gallery/sphinx-gallery/blob/fb2da9af8c3c9282150b26c356f97fdddfcefb82/sphinx_gallery/gen_rst.py#L544).

[2017-07-31 14:25] amueller commented on #270
Ah, I was using the sphinx-gallery release, not dev version. sorry!

[2017-07-31 14:25] #270 closed

[2017-07-31 16:37] Titan-C commented on #275
I must say that the default ordering for strings in Python is case sensitive and alphabetical. Thus such default would go as `None`, which is already the case for alphabetically sorted subsections, no need to invent a new name. I would only worry about the amount of code key.

[2017-07-31 17:10] choldgraf commented on #275
I'm OK with that as long as we document the "python default" case :-)

[2017-08-01 03:17] choldgraf commented on #277
were you able to figure this out w/ CSS? (and if so can we close this?)

[2017-08-01 03:47] Eric89GXL commented on #277
Will auto-close on merge

[2017-08-01 04:59] lesteve commented on #275
I thought about `None`, but this feels like a bit too magical to me. On top of that, `within_subsection_order: None` feels too much like there is no order rather than an alphabetical one.

The sorting key is straightfoward to implement (not tested):

[code]

[2017-08-01 10:26] Titan-C commented on #275
`None` is indeed too magical. And after looking at the CI fails of PR #278, I see we'll need to give it a name and use a more elaborate function to handle the paths and filenames to all the examples.

[2017-08-01 13:44] choldgraf commented on #275
good point @lesteve !

[2017-08-01 15:58] Eric89GXL commented on #275
Okay I'll incorporate these ideas when taking over #278

[2017-08-01 18:52] choldgraf commented on #275
you are on a roll right now @Eric89GXL !!!

[2017-08-02 22:09] Eric89GXL opened #282 "BUG: pillarboxes are added to square images when scaling thumbnails"
I couldn't figure out why I couldn't get my square-figure output to be size 250x250, then I looked at the actual thumbnail image, and it looked like this (ignore the improperly captured static image, this is a Mayavi problem that I need to track down), which I have put in a quoted bit of text so you can see the offset:

This gets created from this original image, which has no such offset:

In othe

[2017-08-02 22:16] Eric89GXL commented on #282
... alternatively, we could expose a `thumbnail_size` parameter, since the current code will force all real thumbnail images to be 400x280 [here](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L356) and uses pillar / letterboxing to fill any gaps.

I'm also not sure why the "failing example" ones get set to a different size. I guess both sizes are bigger tha

[2017-08-02 22:18] Eric89GXL commented on #277
CSS isn't sufficient, I have opened a different bug report about that (#282). Closing this one to move discussion there.

[2017-08-02 22:18] #277 closed

[2017-08-03 02:24] choldgraf commented on #282
I guess another option would be to add (yet another) configuration parameter (e.g. `pillar_width:`). Dunno how I feel about that though...

[2017-08-03 02:40] Eric89GXL commented on #282
Just setting the thumbnail size (tuple) would be sufficient here. And in
the docs say the image is scaled, respecting aspect ratio, to this size,
which might necessitate adding pillar or letterboxing.

[2017-08-03 23:47] #276 closed

[2017-08-05 02:18] #282 closed

[2017-08-06 15:26] #275 closed

[2017-08-07 14:15] glemaitre opened #284 "Issue with interative plot and notebook style"
I am having an issue when trying to plot and update it using the notebook style.
I added a small examples in the details section.

I wanted to create a `subplots` figure and then create multiple cells (text/code) in which I would update the initial figure. However, it seems that the figure never get updated once it pass the first cell.

Is there any work-around to allow such behaviour?

<details>

[2017-08-07 16:42] Eric89GXL commented on #284
This looks like a dup of #161, if so can you close and comment over there?

[2017-08-07 16:45] choldgraf commented on #284
Correct me if I'm wrong, but I think what they'd like to do is have the figured display each time that it is updated. I don't think that sphinx-gallery supports this, right?

[2017-08-07 16:48] Eric89GXL commented on #284
I think it's the same as in #161, namely not closing a figure so it can update + display in subsequent cells

[2017-08-07 16:51] choldgraf commented on #284
either way, the end-result was that this isn't supported, and that people should re-create the figure each time they want it displayed, right?

[2017-08-07 16:52] Eric89GXL commented on #284
Yep. Although the more people request such a feature, the more I would be tempted to add it with the caveat that it works differently in IPython -- but that's really up to the maintainers to weigh

[2017-08-07 16:57] glemaitre commented on #284
Thanks @Eric89GXL @choldgraf
Re-create the figure will the work around if we don't find another layout for the example.

[2017-08-07 16:57] #284 closed

[2017-08-24 11:45] GaelVaroquaux opened #286 "Caching the "Embedding documentation hyperlinks in examples""
The step "Embedding documentation hyperlinks in the examples" takes a lot of time. It would be great to cache it.

[2017-08-24 16:54] Titan-C commented on #286
We already cache the database of links. What takes time is truly the
parsing of the HTML and rewriting it. This got a lot faster after
merging #272 if I remember correctly. Which version are you using?

[2017-08-24 18:11] GaelVaroquaux opened #287 "Crasher in doc_resolv, in js_index.loads"
Scipy-lectures does not build with latest sphinx-gallery and sphinx 1.4.6. A bit of debugging shows that it is when doc_resolv tries to load the js from statsmodels (http://www.statsmodels.org/stable/searchindex.js).

The full traceback is below.

My hunch is that it is because it is trying to load a searchindex.js generated by a different version of sphinx. However, this hypothesis is not that cl

[2017-08-24 18:12] GaelVaroquaux commented on #286
Good point. I was on an old version. I updated, and it broke the build
:$.

I am closing this issue, but I opened a new one: #287.

The logic in #272 might be broken.

[2017-08-24 18:12] #286 closed

[2017-08-28 07:37] GaelVaroquaux opened #288 ""Generated by sphinx-gallery" should be replaced by "Gallery generated by sphinx-gallery""
In a gallery, it would be better to write "Gallery generated by sphinx-gallery", as when the gallery is included somewhere, it looks weird.

[2017-08-28 08:55] #288 closed

[2017-09-16 20:25] choldgraf commented on #206
Just a note that https://github.com/sphinx-gallery/sphinx-gallery/pull/208 was closed because we didn't reach a consensus on whether this should be supported...are just deciding not to support this? Or is it worth somebody trying to finish up that PR?

[2017-09-16 20:52] ngoldbaum commented on #206
It would be really nice to support this. Not all graphics produced via python happen via pyplot. Encoding that assumption into sphinx-gallery means many libraries won't be able to use this project at all for their documentation.

[2017-09-17 10:27] Titan-C commented on #206
I also agree on being able to capture objects which are not matplotlib
images. How we might get to support that is still a matter of
discussion.

[2017-09-26 10:53] jnothman opened #295 "Store warnings or other stderr"
I would appreciate a feature where warnings (or perhaps any stderr output) produced by a gallery script was logged somewhere in an associated file. This would make it easier to find unwanted warnings, etc.

[2017-09-28 07:58] lesteve commented on #295
I guess you want to figure out which the example the warnings are coming from? Hmm I have to say that I generally pipe the output of `make html` to a file when I want to do this kind of stuff. Alternatively you could be creative with PYTHONWARNINGS and look at the exceptions which would tell you which example is to blame.

All in all I don't think this should be very high on the priority list of s

[2017-09-28 08:51] jnothman commented on #295
I've found the output of make html not very informative. warnings not
aligned with example names

[2017-09-28 09:07] lesteve commented on #295
Agreed that's why I suggested the PYTHONWARNINGS work-around ...

[2017-09-28 17:16] Titan-C commented on #295
Really? Which version are you using? At the end of the build there is a
list of all files specified with absolute path and their corresponding
trace-back. And of course during build those warnings are also
printed. Yes those are not to helpful because you have to look for them
back in the log, but the end summary is very helpful because is at the
end.

But I just fail to see where the warning is n

[2017-09-28 21:05] lesteve commented on #295
I am not sure why you mention the summary which is good for exceptions but not for warnings (this is the reason I said a bit tongue-in-cheek use PYTHONWARNINGS, i.e. to turn warnings into exceptions so that the source would be easier to spot)

Look at this log:
https://circleci.com/api/v1.1/project/github/scikit-learn/scikit-learn/13935/output/10/0?file=true
and now tell me if it is easy to find w

[2017-09-28 21:16] lesteve commented on #295
Just a quick example look for DataDimensionalityWarning

[code]

You would be tempted to believe that examples/applications/plot_out_of_core_classification.py is to blame according to the log, nope, it is actually examples/plot_johnson_lindenstrauss_bound.py.

[2017-09-28 21:22] jnothman commented on #295
yes, thanks for uncovering details I glossed over. I suspect this is a
result of using Sphinx logging and there may be a better fix if this is
considered a bug.

[2017-09-28 21:31] lesteve commented on #295
Just to be clear by "sphinx logging" I meant changes introduced by this PR https://github.com/sphinx-gallery/sphinx-gallery/pull/250 and maybe others.

[2017-09-29 05:43] lesteve commented on #295
@QuLogic do you know off the top of your head if there is an easy way to configure sphinx logging (or maybe status iterator is the right word here) to be in "print each output on a separate line" mode?

[2017-10-01 09:23] QuLogic commented on #295
If you [pass non-zero `verbosity`](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/__init__.py#L613), it appears it will do that. You could pass that based on some verbosity command-line flag (I assume sphinx captures this somewhere already.)

[2017-10-01 09:33] QuLogic commented on #287
When I run `jsdump.loads` from 1.6.3 against that file, I get `ValueError: bareword as value`. Maybe they did some additional optimization of that file themselves?

I would definitely think using `intersphinx` would be simpler and safer, but I did not have much time to see how to do it.

[2017-10-02 15:39] larsoner commented on #287
PR up at #296

[2017-10-02 20:28] GaelVaroquaux opened #297 "Download button and 'generated by sphinx-gallery' should be only:: html"
When generating a PDF with a project using sphinx-gallery, the examples appear with
"""
Download Python source code:
Download Jupyter notebook:
Generated by Sphinx-Gallery
"""
Which is very strange. We should put the corresponding rst code in "only" directives so that it appears only on html output

[2017-10-03 16:01] #297 closed

[2017-10-04 14:56] #287 closed

[2017-10-07 11:17] glemaitre opened #299 "Error when building examples"
~~I got into the following issue after upgrading from 0.1.11 to 0.1.12~~

I just recently get the following error.

[code]

~~Checking blaming it seems that #246 modified those line in the meantime.
I am not really familiar with the internal of sphinx-gallery but I am willing to make a PR if something need to be changed.~~

Does anybody have an idea where it is coming from.

#### System info

[cod

[2017-10-07 12:26] glemaitre commented on #299
Uhm this is not linked to the version.

[2017-10-07 14:58] larsoner commented on #299
These were fixed in #293 and then (even better, use `intersphinx`) in #296, can you try latest `master`? See updated docs [here](http://sphinx-gallery.readthedocs.io/en/latest/advanced_configuration.html#link-to-documentation).

[2017-10-07 21:05] #299 closed

[2017-10-07 21:07] glemaitre commented on #299
Thanks @larsoner, there is not problem in master using intersphinx.
I will upgrade our CI :)

[2017-10-08 09:30] Titan-C commented on #299
I'm doing a release today. There are plenty of improvements since the last release and #287 which was a blocker is now fixed.

[2017-10-08 20:28] jasmainak opened #301 "option to control verbosity"
The newer version of sphinx-gallery does not anymore print the output from the executed examples on the console. This can be problematic when some of the examples are slightly longer as Circle CI times out if there is no output for 5 minutes.

This is what I've been facing for [autoreject](https://github.com/autoreject/autoreject/pull/82) where some of the examples are on the longer side. Granted

[2017-10-08 20:30] tacaswell opened #302 "Having `plot_gallery` as a bool in conf.py raises warning"
Having

[code]

in `conf.py` results in (seem independent of sphinx version)

[code]

This fails the build if you have sphinx set to treat warnings as errors.

Replacing with

[code]

works as expected

[2017-10-08 20:31] tacaswell commented on #302
This changed from 0.1.12 to 0.1.13

[2017-10-08 20:53] Titan-C commented on #301
We reduced verbosity because now we can separately capture failing
examples finish the build with error code. Thus our output was
unnecessarily verbose for some of our users. We also adopted the status
iterators which reduce output size even further.

The easy control on verbosity is to build with the flags '-v', '-vv', '-vvv'.
And one of those options gives you the standard output of every file.

[2017-10-08 20:57] Titan-C commented on #302
I knew this would fire back at some point. It is not a bug, its a
feature. Please go over the discussion of merged PR #195.

[2017-10-08 21:04] tacaswell commented on #302
It seemed intentional but I didn't see a mention of it skimming the release note.

Is the prose at https://sphinx-gallery.readthedocs.io/en/latest/advanced_configuration.html#building-without-executing-examples still correct with a bool `False`?

[2017-10-08 21:24] Titan-C commented on #302
Yes it is an obscure, merged PR and I did miss including all the discussion to it in the release notes.

It should work because the value of  `plot_gallery` passed through `eval` during execution. But it being a bool should give a warning.  The main problem is that this variable can be defined from the command line which only gives string values.  This type mismatch, will always give a warning. @l

[2017-10-09 01:29] larsoner commented on #302
https://github.com/sphinx-gallery/sphinx-gallery/pull/304

[2017-10-09 05:42] GaelVaroquaux commented on #301
Well, for usage on circle the new approach is a major problem, I would
say. In effect, it implies that all examples must be shorter than 5mn,
which is not the case for projects that do major computation.

Is there a way to reenable the Tee?

[2017-10-09 09:06] #302 closed

[2017-10-20 23:22] NelleV opened #306 "ipynb file not created"
Setting up a new project to use sphinx-gallery, I ran into this issue (the ipynb file is not found).

[code]

[2017-10-21 01:05] NelleV commented on #306
It's now working, and I am not able to reproduce the bug with the changes I made since…

[2017-10-21 01:05] #306 closed

[2017-10-21 03:15] GaelVaroquaux commented on #306
I've already seen this after a half-successful build (and half-broken
build)

[2017-10-25 18:46] choldgraf opened #309 "Is there a poster for sphinx-gallery?"
I'm going to the MSDSE retreat in about 1.5 weeks (it's the joint project between data science centers at Berkeley, UW, and NYU). I was planning to have a poster there to show off sphinx-gallery and try to drum up some interest in adoption, as there will be many open-sourcey people there.

Does anybody have a poster that they put together for the project? Or slides? Trying to not duplicate efforts

[2017-10-25 19:49] GaelVaroquaux commented on #309
Not that I know of. There have been presentations (slides), but I don't
know of a poster.

[2017-10-25 19:55] choldgraf commented on #309
do you have links to presentations by any chance? :-)

[2017-10-25 19:55] choldgraf commented on #309
(obv if I put together a poster I'll share it with you all)

[2017-10-25 20:07] GaelVaroquaux commented on #309
@titan-C?

I found this: http://oscarnajera.com/sphinx-gallery-slides/

[2017-10-26 22:12] Titan-C commented on #309
I'm jumping in quite late.

This are the slides for the presentation I made for Euroscipy 2016
http://oscarnajera.com/sphinx-gallery-slides/

The source is on
https://github.com/Titan-C/sphinx-gallery-slides

I prepared a poster for EuroPython 2017, but Sphinx-Gallery wasn't its
main focus. But that I'm putting my PhD work onto a platform where you can reproduce my work using Sphinx-Gallery.

[pos

[2017-10-27 04:29] lesteve commented on #309
I didn't know about your poster at EuroPython. Nice poster showcasing sphinx-gallery!

[2017-10-31 14:11] GaelVaroquaux opened #310 "Failure : 'Sphinx' object has no attribute '_extensions'"
We're getting a failure that I don't understand on the CI of a project:

https://circleci.com/gh/nistats/nistats/45?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-10-31 14:15] KamalakerDadi commented on #310
I think it depends on the sphinx version.
Please have a look at this
https://github.com/nilearn/nilearn/commit/07455aadd202ac32cd4d72937682d2a72c0b7e1b

[2017-10-31 14:43] Titan-C commented on #310
This was already fixed in PR #242 to for version of Sphinx>1.6. You need a version upgrade.

[2017-11-06 16:55] yuvipanda commented on #238
@choldgraf now that mybinder.org is in much better shape, do you wanna pick this up?

Also @minrk has done amazing work on things like https://minrk.github.io/thebelab/ perhaps that could also be integrated here somehow?

[2017-11-06 20:18] choldgraf commented on #238
@yuvipanda it's already almost there in #244

right now it got bogged down in a super annoying sphinx bug that's hard to debug. I'll pick it back up after the retreat talks!

[2017-11-08 13:59] larsoner commented on #206
I think the most general approach would be to allow custom post-block image scrapers that take in which code block was run (maybe the leading comments, and the code?) and returns a list of image arrays (which SG will then save to the correct filenames).

The simplest implementation of this could be a new class `LocalImageScraper` that e.g. searches the local directory for new images, and adds thos

[2017-11-08 14:00] larsoner commented on #206
(I'm volunteering to do this refactoring / new config var if people agree it makes sense)

[2017-11-08 14:03] GaelVaroquaux commented on #206
I think that the general is a great one: seems versatile and powerful. I
don't fully picture how it would be implemented.

[2017-11-08 15:55] lesteve commented on #206
Just curious, do you have a use case for this that is more precise that "people will want to do that at one point"?

The thing I am a bit worried a bit is that the test coverage of sphinx-gallery is not that great so it is easy to break small things without realising. See https://github.com/sphinx-gallery/sphinx-gallery/issues/301 for example where we got bitten by this recently.

About capturing

[2017-11-08 15:58] choldgraf commented on #206
A related question: people increasingly ask me if sphinx-gallery will be able to handle HTML output / javascript viz libraries. There are more and more of these popping up (e.g. Altair, Bokeh, ipyvolume, ipywidgets, etc). Riffing off of @larsoner 's thoughts maybe it could be an `HTMLImageScraper` or something?

[2017-11-08 16:04] GaelVaroquaux commented on #206
That would be useful. How technically hard is it?

⁣Sent from my phone. Please forgive typos and briefness.​

On Nov 8, 2017, 16:58, at 16:58, Chris Holdgraf <notifications@github.com> wrote:

[2017-11-08 16:05] choldgraf commented on #206
That is the big question :-) I am not sure off the top of my head but happy to brainstorm about it. Maybe that'd be worth its own separate issue though as it's a bit tangential to scraping files saved to disk?

[2017-11-08 16:08] choldgraf commented on #206
I was chatting w/ @jakevdp about this and he was interested in whether sphinx-gallery could be used w/ Altair. Maybe he has thoughts about how the outputs of these kinds of packages could be collected etc.

[2017-11-08 16:13] lesteve commented on #301
IIUC this is related to the change in logging that were done in https://github.com/sphinx-gallery/sphinx-gallery/pull/250. Personally I think the simplest thing to do would be just to revert them unless someone plans to fix this in the not too distant future. cc @QuLogic.

[2017-11-08 16:41] larsoner commented on #206
Yes, in addition to the image-saving that this issue talks about, I'd like to use SG for VisPy as linked above: https://github.com/vispy/vispy/issues/557

It doesn't sound too terrible (look for `<img` tags and parse, hopefully), but in any case it fits in with the framework I proposed just fine

[2017-11-08 21:10] QuLogic commented on #301
We could re-instate the `Tee` and instead of `sys.stdout`, point one output at the logger. That should have the same effect as before, but still produce output.

[2017-11-08 23:17] Titan-C commented on #206
I'm in the same line of thought. Building a list of capturers, and at
the same time we must have a plugin list for their representation, not
everything will be an image.

What I mean is that the user would want to extend SG to capture
arbitrary objects, which will then require an corresponding
representation in the RST file(including raw html if necessary). I have
a personal use case on video and

[2017-11-08 23:34] larsoner commented on #206
This is a much more extensive proposal than what I have in mind. You're basically talking about changing SG from a run/extract-image/make-pretty library to run/extract-*anything*/make-pretty library. This clearly has more potential flexibility, but I suspect will be a lot more difficult to do and get right. Take a look at the (relative) simplicity of #313, which just does `image_scrapers`. Hopeful

[2017-11-09 12:29] jasmainak commented on #301
Would this fix the timeout problem on Circle?

[2017-11-09 12:48] GaelVaroquaux commented on #301
Probably

[2017-11-09 13:37] lesteve commented on #301
We would also need an easy way to turn the sphinx-gallery logger to verbose. Maybe doable already in conf.py, not sure.

[2017-11-10 01:59] QuLogic commented on #301
Increasing logger verbosity can be done the same way as normal sphinx, i.e., by passing `-v` to `sphinx-build`. If you're using the default makefile, then `make SPHINXOPTS=-v html` works for that.

[2017-11-10 11:28] lesteve commented on #301
Nice, thanks! For reference for a conf.py-only solution I found this works as well:
[code]

[2017-11-13 02:21] jnothman opened #315 "Option to insert a preamble in index.rst"
Not having a top-level heading for an example gallery with many sections seems a bit awkward. One result is that we have a 7-page table of contents for the scikit-learn PDF docs, most of which are examples, only because there is a *chapter* for each examples section (i.e. of equal weight as the user guide).

An introductory paragraph wouldn't hurt either, pointing, for instance, to the source dire

[2017-11-13 03:00] jnothman commented on #315
I also note that we had such a top-level heading at scikit-learn previously, so this is a regression relative to the pre-sphinx-gallery era: http://scikit-learn.org/0.17/auto_examples/

[2017-11-13 06:36] GaelVaroquaux commented on #315
Am I wrong to think that this can be done via the README.rst of the main
example folder?

Maybe this should be documented better.

[2017-11-13 06:52] jnothman commented on #315
Ahh of course. I'd forgotten the headings were coming from readme too.

I can't say I looked for the docs, and it would probably be obvious to a newcomer. I was merely trying to solve the regression and placed blame incorrectly!

[2017-11-13 06:52] #315 closed

[2017-11-17 02:09] anntzer commented on #221
Essentially closed by #290.

[2017-11-17 02:09] #221 closed

[2017-11-17 21:26] choldgraf commented on #309
Hey all - just in case you'd like it, here's the poster that I used at the BIDS summit in New Orleans:

Illustrator:
https://www.dropbox.com/s/f6q16eblt71oms0/sphinx_gallery.ai?dl=0

PDF:
https://www.dropbox.com/s/o0lvgab8mf48uf3/sphinx_gallery.pdf?dl=0

Happy for folks to re-use/edit/etc

[2017-11-17 21:28] #309 closed

[2017-11-20 10:17] lesteve commented on #309
@choldgraf looks very nice, thanks for sharing! Nitpick I think reST (rather than rST) is used as an acronym for reStructuredText.

[2017-11-20 10:53] lesteve opened #316 "First gallery plot uses .matplotlibrc rather than the matplotlib defaults"
From https://github.com/sphinx-gallery/sphinx-gallery/pull/280#issue-246961733:

matplotlibrc whereas all others uses the internal default one.

[2017-11-20 16:59] choldgraf commented on #309
that is good to know :-) will change it next time I have the occasion to present the poster somewhere!

[2017-11-21 00:11] choldgraf opened #317 "A place to put CSS for different gallery stylings"
One thing that's nice about sphinx-gallery is that you can use whatever CSS you want in order to get the gallery look you want. E.g., with a few small tweaks you can get seaborn-like gallery images (grey box misalignment notwithstanding...this only took me like 5 minutes)

![image](https://user-images.githubusercontent.com/1839645/33047947-43dc3db0-ce0d-11e7-9c45-2851afacdf93.png)

I wonder if it'

[2017-11-21 00:17] choldgraf commented on #317
or e.g., the scikit-image styling that includes rounded borders

http://scikit-image.org/docs/stable/auto_examples/

[2017-11-21 02:15] GaelVaroquaux commented on #317
I like the general idea. How do you propose to expose this to users?

⁣Sent from my phone. Please forgive typos and briefness.​

On Nov 20, 2017, 19:17, at 19:17, Chris Holdgraf <notifications@github.com> wrote:

[2017-11-21 11:01] Titan-C commented on #317
We already have our css in sphinx-gallery/_static/gallery.css
We may put more there if there are radical changes needed for the
defaults on different themes.

I would nevertheless prefer to use css overloading. That is the user
puts his custom css in his doc/_static/mytheme.css and then lets Sphinx
use that. The same way we do to overload the readthedocs theme in our
conf. We could document that,

[2017-11-21 11:07] Titan-C commented on #317
@choldgraf We have rounded borders as default. But the container has no border by default until you hover on it.

[2017-11-21 16:22] choldgraf commented on #317
@Titan-C that's what I'm suggesting too, I'm just saying we could have the CSS needed for different look and feel as a reference for others who want to overload on their own themes. Maybe this would be better as a separate repo or something

[2017-11-22 10:25] jnothman opened #318 "SKLEARN_DOC_OPTIPNG"

[2017-11-22 10:25] #318 closed

[2017-11-22 10:26] jnothman opened #319 "What is SKLEARN_DOC_OPTIPNG about?"
We no longer seem to apply optipng in scikit-learn doc builds, while sphinx-gallery apparently allows for an undocumented [`SKLEARN_DOC_OPTIPNG` environment variable](https://github.com/sphinx-gallery/sphinx-gallery/blob/dbd4b7b1a9bea7338e94854535bca6b79993042e/sphinx_gallery/gen_rst.py#L343). Should we be using this in Scikit-learn's Circle CI? Should it be removed? Should the `SKLEARN_` prefix b

[2017-11-22 10:51] jnothman commented on #319
Also, unlike the former use of optipng when building scikit-learn docs, it only seems to be applied here to thumbnails and mayavi images.

[2017-11-22 14:31] GaelVaroquaux commented on #317
I do think that it answers a desire: it's a theming. Maybe we could have
an example folder of themes and tell users to copy the corresponding css
file to something that they include.

[2017-11-22 15:04] lesteve commented on #319
Well spotted! You may remember better than me why we were using it in scikit-learn. I found this:
https://github.com/scikit-learn/scikit-learn/blob/08ec7be764e43f63454acd2553badd9beb9dc0cb/doc/README.md.

I don't think we are using it anymore in scikit-learn on CircleCI for good or bad. Not sure whether we should keep it in sphinx-gallery. If yes, environment variable should be renamed to remove S

[2017-11-22 15:15] lesteve commented on #319
Another one I found, from a one year younger version of @jnothman ;-) in https://github.com/scikit-learn/scikit-learn/pull/7671#issuecomment-254486587

[2017-11-22 18:41] Titan-C commented on #317
I understand that people would be interested in using different styles
for their gallery. We have a reasonably pretty default, which "survives"
all the default Sphinx themes (we already experienced some collisions
with some themes).

When I see the seaborn theme, it looks more like iphone icons. To me it
does look pretty, but I also think it is un-usable. Image is to big for
container and you loos

[2017-11-22 19:22] choldgraf commented on #317
That's fine w/ me. I'm not arguing for the merits of seaborn-style galleries (that's a matter of opinion), but rather suggesting that it'd be useful to have a place where styling code can exist. When people say "I love the idea of sphinx-gallery, but I want XXX-style galleries, I wanna be able to tell them 'you're in luck! there's a place where you can see sample styles for customization'".

How a

[2017-11-23 10:48] lesteve commented on #317
I am fine with adding a few lines in the sphinx-gallery doc saying how to style the gallery with custom CSS files and point to a few implementations that we already have.

I think for now it's fine having the demo gallery with different CSS outside of the main repo e.g. in http://predictablynoisy.com/sphinx-gallery-themes (whatever the name, please don't mix `_` and `-`). We can reconsider if this

[2017-12-01 15:42] dstansby opened #320 "Not clear that README.txt should contain a title"
Just spent a while trying to reference the sphinx-gallery index page, and realised that my `README.txt` file only contained:

[code]

Changing this to
[code]

made everything work as expected - it would be good mention in the docs that the `README.txt` file should have a title and is eventually interpreted as markup.

[2017-12-01 15:57] GaelVaroquaux commented on #320
Sounds right. Do you want to send a pull request?

Thanks!

[2017-12-05 13:05] lesteve commented on #320
Maybe we should move to README.rst to make it clearer that this is rst ... I think @Titan-C mentioned this at one point. Of course backward-compatibility is needed at least for a few sphinx-gallery versions.

[2017-12-05 13:15] larsoner commented on #320
+1 from me, I was surprised (had to be reminded) that it wasn't .rst the
most v recent time I set up SG

[2017-12-07 05:13] nicain commented on #262
I just hit exactly this use case.  The idea here is to leverage CI workflow to ensure that examples that don't actually work don't get checked in, and that example-breaking changes made to the package send up a flag ASAP to the example-maker.

I am happy to take a stab at this in a PR if I get the blessing of a core dev, and a little guidance about the best way to make it happen.

[2017-12-07 16:24] lesteve commented on #262
@nicain I am not 100% sure I understand how what you say is related to @choldgraf original problem. Can you elaborate a bit?

[2017-12-08 02:13] nicain commented on #262
@lesteve Sorry about that.  I am actually exactly in @choldgraf 's original use case: I have a repository with the examples file inside of the project dir.  The examples folder contains __init__.py, and I have built tests around these examples to ensure that they always run, given the current state of the repo.  I just started playing with a sphinx-gallery branch, and was able to gallerify the exa

[2017-12-08 02:20] nicain opened #321 "Run sphinx-gallery on just one file?"
My use case is that I would like an executable to convert a single python file, with appropriate sphinx-gallery header and comments to deliniate cells, and build an associated .html file.  Of course I could build out a template, inject that one file into the examples dir, turn the crank on the whole thing, and extract out just the one file, but this is pretty hacky.  Is there a relatively easy sol

[2017-12-08 02:21] nicain commented on #321
CC @NileGraddis

[2017-12-08 02:56] choldgraf commented on #262
FWIW, I found out the reason that the initial package includes `__init__.py` in their examples folder. It's because they want users to be able to do `from mypackage.examples import plot_example; plot_example()`

[2017-12-08 07:25] lesteve commented on #262
@nicain if you just want to run the examples in the CI, you just need to do something like:

[code]

Look at https://github.com/sphinx-gallery/sphinx-gallery/blob/master/.travis.yml for how we do it in sphinx-gallery.

@choldgraf it would make sense to have an additional variable to completely exclude files from the gallery. I would not say this is very high priority though. I don't see a good rea

[2017-12-08 12:28] lesteve commented on #321
Short answer: I haven't tried it and I would think this is not this easy.

Longer answer: I don't really see your point.
* you can prototype your example rapidly by running `python your_example.py`
* if you are adding or tweaking a single example and care about the HTML ouput, you need to run `make html` once to run all the examples and then `make html` will only run the example you changed. This

[2017-12-08 12:30] larsoner commented on #321
SG requires running sphinx with a proper setup. And if you use Sphinx hooks in your doc building (e.g., `intersphinx`) you probably want those checked in the examples, too -- so I'd expect you want some sort of near-full build anyway.

FWIW over in MNE we do something like this in an automated way using CircleCI -- we examine the `git diff` for any changed files and build with a `PATTERN` for SG b

[2017-12-08 12:34] lesteve commented on #321
Nice (we build the doc fully in scikit-learn) !

[2017-12-08 12:35] larsoner commented on #321
For us the time difference is something like 1.5 hours to build the entire thing vs 10 minutes to build a single example, so it was worth it :)

[2017-12-08 19:53] nicain commented on #321
@lesteve

Sorry, what I meant is user to copy the .py file into the exampels folder, once they have it looking the way they want.

[2017-12-08 20:02] nicain commented on #321
Following up:

I meant prototyping the layout of the example in html, not just the py file.  It can be tricky (esp with latex markdown) to see what the final rendered html will look like.

Imagine several contributors building examples for a project.  Currently for an example contributor to test the html layout resulting from a given .py example, they have to have the whole documentation package t

[2017-12-08 20:10] nicain commented on #262
Here is a package that does this: https://github.com/nicain/dipde/tree/release/0.2.1

`conda install -c nicholasc dipde`
`from dipde.examples.singlepop import example`

[2017-12-08 20:11] choldgraf commented on #321
this was a huge PITA with matplotlib, we had a hell of a time getting new contributors to work on documentation because:

1. They had to run the whole doc build each time to demo their results
2. They often didn't have any experience with Sphinx.

IMO users shouldn't *have* to know about sphinx builds, makefiles, etc in order to see what sphinx-gallery is gonna do to their python file. Those feel

[2017-12-08 20:14] choldgraf commented on #262
here's another: https://github.com/SciTools/cartopy

My 2 cents on the "from xxx import examples" topic. While this is not how I would personally structure my package, I don't think we should be in the business of telling users "your workflow is wrong".

[2017-12-08 20:19] nicain commented on #262
Another use-case for ignoring a file would be to place a pre/post "make html" hook scripts into the gallery, that are not meant to be examples themselves.  Although these could live elsewhere, I guess...

[2017-12-08 20:24] nicain commented on #321
Exactly what I am hitting as well.  rst2html.py (installed with docutils) is close, except it takes the rst file not the py file, and it doesn't know about SG.

[2017-12-08 20:32] nicain commented on #321
For example, if the contributor is on windows (this happened to my team yesterday); no make (we customize our make-html, and we don't have a parallel make.bat).

[2017-12-08 20:33] choldgraf commented on #321
@nicain if you run rst2html on the rST that's generated from sphinx-gallery, how does it look? I wonder if this could be addressed by:

1. Giving a CLI to run sphinx-gallery on one python file, outputting the rST to some location.
2. Creating documentation to suggest to users how to preview the rendered rST as HTML

[2017-12-08 20:35] nicain commented on #321
wget https://gist.githubusercontent.com/nicain/50d65440482e568512fc6a8c2277b7e2/raw/d5d8132b76944bc4671f4f5f2eeb5d9079b6fe1d/out.html

[2017-12-08 20:42] choldgraf commented on #321
hmmm, that's not great as the rst for images isn't picked up.

What if you tried following the commands here:

https://stackoverflow.com/questions/10692228/simplest-way-to-run-sphinx-on-one-python-file

aka, navigate to teh folder w/ `conf.py` in it and run `sphinx-build` on the rst file

[2017-12-08 20:57] larsoner commented on #321
To me it seems like what you two are talking about already exists. Did you look at the code I linked to above?

That is one way but not the only one...

... a one-liner like this should work when run from the `doc` directory:

[code]
This is what the code I linked to above does.

If this is too long, you might be able to omit some arguments (haven't checked). In MNE we just wrap this in a `Makefil

[2017-12-08 21:00] choldgraf commented on #321
that's a good point @larsoner , on this point:

after thinking about it a bit more, I agree w/ you and @lesteve that this is kind of hard to avoid. @nicain what do you think about the workflow that @larsoner proposes?

[2017-12-08 23:47] nicain commented on #321
Seems good at first glance.  But I just tried it, and cannot seem to build a conf.py file that will run through, without building the rest of the website (index.rst, etc.)

[2017-12-09 00:33] larsoner commented on #321
Yes it will build the rest of the site, too, is that a limiting factor?

[2017-12-12 10:40] Titan-C commented on #262
I don't see the point in this. The entire idea of Sphinx-Gallery is to
teach. Yes, we are not in a place to tell users "Your workflow is
wrong". If they want to expose the example files as modules is totally
fine. I even do that having a module in the examples that has commonly
used plotting functions.

This module does nothing on its own. And it looks ugly to have an
example that does nothing. Bu

[2017-12-12 15:52] lesteve commented on #262
I am in favour of allowing to ignore completely a file based on a regex (based on `re.search` applied to the full absolute path). It does not seem too hard to do, I am guessing we can just skip files when we walk the examples folders. I may even be in favour of skipping `__init__.py` files by default.

[2017-12-12 15:58] lesteve commented on #262
The main argument for me: we should not error with empty `__init__.py` files and in most cases there is very little point in showing the code of `__init__.py` files in the gallery.

[2017-12-12 17:26] choldgraf commented on #262
I'd be +1 on either:

* Treating `__init__.py` files as "special" and just skipping (not erroring) on these if they don't have a header.
* Letting users create a regex to skip some files entirely.

This would be a pretty simple addition and I think it'd meet both usecases described here (where you do or you don't want to include those files)

[2017-12-12 17:43] nicain commented on #262
+1

[2017-12-12 18:07] larsoner commented on #262
Makes sense to me, and the value could default to `ignore='__init__.py'`, too.

[2017-12-13 03:21] nicain opened #322 "name string_replace trips on projects with ".py" in path"
https://github.com/sphinx-gallery/sphinx-gallery/blob/fb2da9af8c3c9282150b26c356f97fdddfcefb82/sphinx_gallery/notebook.py#L193

This code will trip on projects that have '.py' as a substring.  I found this because I am working on a project called "aibs.pyproject_template".  This will need a more exclusive replacement string.

[2017-12-13 09:32] lesteve commented on #322
Oops sorry about that ... PR more than welcome! You may want to double-check that there are not more instances of this pattern across the whole codebase.

[2017-12-14 09:14] lesteve commented on #301
@jasmainak as a temporary work-around it seems like you can configure the timeout without output in CircleCI. See https://circleci.com/docs/1.0/configuration/#modifiers.

[2017-12-14 16:54] choldgraf opened #323 "I'm gonna be in paris tomorrow :-)"
Apologies that this is not really sphinx-gallery related, but I'm not sure how to get ahold of you all otherwise :-)

I'm boarding a flight for Paris today, will arrive Friday and will be around the city for most of next week. It'd be great to have a cafe or a drink if anyone is around!

(I'll close this issue soon :-P )

[2017-12-14 16:57] GaelVaroquaux commented on #323
OK, where will you be in Paris?

[2017-12-14 17:00] choldgraf commented on #323
For the weekend / first few days, north of the city near Saint Denis. During the week I think we'll stay near Nation. Then it's down to the ⛰ Friday :-D

That said, each day I'll probably be in Paris finding coffee shops to work at etc, probably going to spend some time with Sylvain who has an office near nation as well

[2017-12-14 17:02] GaelVaroquaux commented on #323
OK, we're all located in the South (the deep South, actually). On
Wednesday end of afternoon, I'll be in Paris.

[2017-12-14 17:03] choldgraf commented on #323
cool - I may come down there to see @agramfort at some point too, will let you know plans to head that direction as they become more clear! You're off of the RER yea?

[2017-12-14 17:05] GaelVaroquaux commented on #323
Absolutely. The RER is the source of the cool!

[2017-12-14 17:10] choldgraf commented on #323
haha - looking forward to it ;-)

[2017-12-14 17:10] choldgraf commented on #323
closing this issue since you all know about my existence in your city now :-)

[2017-12-14 17:10] #323 closed

[2017-12-14 19:42] Titan-C commented on #323
Just read this. I'm leaving Paris next Wednesday, we can still manage to meet
over the weekend or Monday.

[2017-12-15 06:04] agramfort commented on #323
ping me on hangout when you're around.

[2017-12-15 10:45] jasmainak commented on #301
Thanks I already know this but I prefer to see all the output as before. Do I understand correctly that doing `make SPHINXOPTS=-v html` in the `Makefile` should also return to the old verbosity level?

[2017-12-15 12:46] lesteve commented on #301
I tried with sphinx-gallery and adding `-v` to SPHINXOPTS works: the example outputs is printed on the console when generating the documentation. It may depend on your Makefile, but basically the thing you want is that `-v` gets to the sphinx-build command that gets run.

As noted in https://github.com/sphinx-gallery/sphinx-gallery/issues/301#issuecomment-335037763 the output is printed after a co

[2017-12-15 12:58] lesteve commented on #323
Interested to meet as well, keep me posted! I work in Paris near gare de Lyon but I can venture in the deep south if that's more convenient for everybody involved.

[2017-12-15 14:17] lesteve commented on #260
I think we have something like this already:
https://github.com/sphinx-gallery/sphinx-gallery/blob/ebe1ca3cbdd7a410c2a45b22cb374af08d4912d5/sphinx_gallery/tests/test_full.py#L48-L64

Closing, @Titan-C feel free to reopen if I missed something.

[2017-12-15 14:17] #260 closed

[2017-12-16 19:33] choldgraf commented on #323
Starting Tuesday I'll be staying near Nation, so maybe it'd be easiest to meet up tues or wed or thurs?

[2017-12-16 19:48] agramfort commented on #323
wed or thurs would work for me

[2017-12-18 08:54] lesteve commented on #269
Closed by #311.

[2017-12-18 08:54] #269 closed

[2017-12-18 09:29] NelleV commented on #269
Thanks!

[2017-12-18 10:41] choldgraf commented on #323
sounds like Wednesday evening is a good plan - I'll be somewhere near either telecom paristech or nation, not sure which, but can make it wherever you all would like to meet. How does that sound?

[2017-12-19 14:44] #301 closed

[2017-12-19 21:45] GaelVaroquaux opened #330 "Inputing also ".rst" files"
If we ever want to also input ".rst" files, it's really easy to read them in, and convert them to .py files.

I just came across some code lying on my disk since a while (probably copy-pasted from Internet):

[code]

So we should keep in mind that it's probably a low cost feature that might make users happy.

[2017-12-19 23:06] nicain commented on #322
@lesteve See https://github.com/sphinx-gallery/sphinx-gallery/pull/331

[2017-12-20 12:56] choldgraf commented on #323
Headed to Télécom now if anybody would like to meet this evening for a
bière. I think @agramfort is gonna join me and Tom in a few hours

On Sat, Dec 16, 2017, 8:48 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2017-12-21 15:33] choldgraf commented on #245
as it sounds like people are only so/so on adding jupyter notebooks support, what do folks think about adding a section to the documentation called "Using Sphinx-Gallery with Jupyter Notebook examples" and there suggesting that the best way to do so is to use something like: https://gist.github.com/chsasank/7218ca16f8d022e02a9c0deb94a310fe

We could either link to that gist, or we could add a util

[2017-12-21 16:34] lesteve commented on #245
I am fine having a utility function in sphinx-gallery, if "by use in their conf.py file", you mean that it is up to the user to write the code that finds all their notebooks, converts them to .py through our utility function (possibly they need to tweak the docstring with title and first short paragraph), put them in a folder structure that sphinx-gallery expects (e.g. README.txt).

A few comments

[2017-12-21 22:21] choldgraf commented on #245
yep, that's what I was thinking.

Yeah, I'd think that a round-trip from .py -> .ipynb -> .py shouldn't modify the script at all, so that'd be a good test.

I think I'm 👎 on telling people they should or should not use one workflow or another.

I'm still not convinced that a utility function like this is a good idea BTW, curious to hear if this is out-of-scope for the package in some people's opin

[2017-12-22 06:07] #322 closed

[2017-12-22 09:36] GaelVaroquaux commented on #323
Hey,

I couldn't be there on Wednesday: I was at a meeting until late.

I am close to ENS at lunch and after this taking a train. @choldgraf :
are you still around?

[2017-12-22 09:45] choldgraf commented on #323
no worries! Yesterday I took a train down to Chambery, so I'll hopefully be busy eating raclette + foie gras and skiing for the rest of the holidays. I'll be in Paris plenty of more times in the future! :-)

[2017-12-22 09:52] GaelVaroquaux commented on #323
Taking a train to Briancon in a couple of hours :)

[2017-12-22 09:56] choldgraf commented on #323
🎿 ⛰ 🧀

[2018-01-03 09:17] corinnebosley opened #333 "No support for numpydoc"
I have been trying to switch to sphinx-gallery rendering for our library cartopy (http://scitools.org.uk/cartopy/docs/latest/index.html) but all our docstrings are in numpydoc (https://numpydoc.readthedocs.io/en/latest/format.html#overview), which is not being rendered properly by sphinx-gallery.

Specifically, anything underlined inside a docstring is not being rendered at all; it just disappears

[2018-01-03 13:40] Titan-C commented on #333
I'm really confused. Sphinx-Gallery is completely independent of
numpydoc, we don't document functions but make the web gallery.
Sphinx-Gallery does document its function docstrings using numpy syntax,
and for that to work you need to load the napoleon sphinx extension, you
can also load numpydoc sphinx extension.

Can you be more specific on where you docstrings are failing? Link to
your code?

[2018-01-03 13:44] lesteve commented on #333
I was just about to post something similar to @Titan-C. Do you have a snapshot or even better a way to reproduce the problem?

FWIW a lot of projects that use sphinx-gallery follow the numpydoc convention for docstring as well (scikit-learn, scikit-image, matplotlib, etc ...) and that doesn't seem to be a problem.

[2018-01-03 14:20] #333 closed

[2018-01-03 14:26] lesteve commented on #333
Can you explain why you closed the issue? Did you manage to fix your problem? Was it just a misclick?

[2018-01-03 14:28] corinnebosley commented on #333
I think this must be a general sphinx thing, not sphinx-gallery.  Apologies.

[2018-01-03 18:25] lesteve commented on #333
OK, thanks! Do let us know how in case sphinx-gallery turns out to be the culprit or if you bump into other problems while trying to use sphinx-gallery!

[2018-01-04 17:04] lesteve opened #335 "Surprising interaction between file_pattern and expected_failing_examples"
If through filename_pattern you are not running an example that is expected to fail you will get an error that the example has not failed as expected.

I would expect that there is no error: in my use case I just want to run one example I could not care less about examples that are expected to fail.

To reproduce apply this diff (set filename_pattern to seaborn essentially):
[code]

Relevant part

[2018-01-17 03:47] nicain opened #338 "Enhancement binder: more flexibility with filepath"
Currently the filepath is hard coded to live in a directory `_downloads`:

https://github.com/sphinx-gallery/sphinx-gallery/blob/b12868d32bb295e5518265fb184e549c3f5c79c2/sphinx_gallery/binder.py#L47

Is it true that this directory will always be an element of `sphinx_gallery_conf['gallery_dirs']`? I was able to get my example working by replacing `_downloads` with my `gallery_dirs` setting , but I

[2018-01-17 10:00] lesteve commented on #338
AFAIR _downloads is a magical sphinx folder where downloadable files live. This is used on the website to be able to download .ipynb and .py files when looking at an example. I found this:
http://www.sphinx-doc.org/en/stable/markup/inline.html#role-download

[2018-01-17 16:45] Titan-C commented on #338
_downloads folder is just a limitation of how Sphinx works, I don't
think we can do any better for the sake of organizing the .ipynb files
in a nicer location or to keep the structure of the gallery. All
downloadable files will be relocated over there the same way images are
all moved to the _images folder.

[2018-01-24 01:18] choldgraf opened #340 "The "floating buttons box" still needs some work"
Or some documentation on how to disable it / change its behavior.

E.g., the matplotlib theme doesn't quite get the floating correct:

![sphinx_gallery_float](https://user-images.githubusercontent.com/1839645/35309427-556cfcb4-0061-11e8-9ad9-16ffa616729e.gif)

[2018-01-24 10:53] tamasgal opened #341 "Rendering issues with scripts using `docopt`"
I have a problem with rendering scripts in the gallery which uses docopt.
The problem is that docopt requires a specific docstring format, which of course is also used by sphinx-gallery to generate the first paragraph.

You can see the issue here: http://km3pipe.readthedocs.io/en/latest/auto_examples/offline_analysis/qk40calib.html

One workaround is putting in "two docstrings", since the first wi

[2018-01-24 11:03] tamasgal commented on #341
This is another workaround, although not really nice...

[code]

[2018-01-24 13:09] lesteve commented on #341
I think your second workaround is fine. Actually maybe you don't even need `__doc__` in `docop_str`, i.e. you can do something like this:

"""
=====
Title
=====

Description
"""

docopt_str = """
Usage:
"""

args = docopt(docopt_str)
[code]

[2018-01-24 13:12] tamasgal commented on #341
Actually I also would like to have the description of (which is in `__doc__`) in the docopt output, that's why I included that.

A friend of mine suggested playing around with `####` lines to enforce the code block parsing but I did not manage to get it working.

[2018-01-24 13:33] lesteve commented on #340
Not 100% great I agree. As someone with a very limited CSS-fu, I would be enclined to follow a low-tech approach, basically put something like this (in a visible yet not too intrusive manner that is left as an exercise to the reader) before the beginning of the example: "To launch binder or download the example code click here" with a link to the bottom of the page where you have all the download

[2018-01-24 13:33] lesteve commented on #340
As always better suggestions more than welcome!

[2018-01-24 14:18] lesteve commented on #341
Can you elaborate why?

[2018-01-24 14:56] tamasgal commented on #341
Yeah sure: docopt is printing the whole string if you use run the script with `-h`. If I'd cut it in half, I'd only see the usage part.

[2018-01-24 16:17] choldgraf commented on #340
Alternatively we could add a section to the configuration page that explains how to modify the CSS for these elements. E.g., it could have a section on removing the "floating right" behavior and defaulting to putting the buttons at the end. Maybe that's a simpler short-term solution than changing the code?

[2018-01-24 17:24] lesteve commented on #340
I am OK with this as a stop-gap solution. The not so great part is that it goes against the original goal of the "float right" functionality which was to make the download buttons more prominent because they are easy to miss.

[2018-01-24 17:27] GaelVaroquaux commented on #340
Is the matplotlib theme a simple modification of a classic sphinx theme?
If so, we should detect it with CSS rules and change the behavior
accordingly.

If not, we should just document how to override this behavior and let
matplotlib do it in their CSS.

[2018-01-24 20:20] choldgraf commented on #340
I believe so, but not sure how to check for it since I do think they've customized it quite a bit

[2018-01-25 04:50] Titan-C commented on #340
My CSS is very limited too. But my guess is that trying to get a generic CSS right to any theme our users may want to use might be beyond the time we have for this. I once prepared the build script to test with all available Sphinx themes, needless to say we don't always check that all themes are working in a compatible manner.
My suggestion would be to return to our default and not fancy download

[2018-01-25 05:16] Titan-C commented on #341
I find your workaround nice enough. I can also propose you as an alternative workaround to declare the options inside a code block. That is:
[code]
Sphinx-Gallery will then nicely render the documentation text in html. The options are a 'bash' script which respects indentation and remains nicely formatted. Everything remains in the first string of documentation and docopt continues to work you don

[2018-01-25 08:25] tamasgal commented on #341
😆 thanks ;)

@Titan-C aah thanks, that's very nice, I'll try that immediately. I don't care about that `code-block` line showing up in the console...

[2018-01-25 10:31] lesteve commented on #341
It feels like your question has been answered so I am going to close the issue. Shout if you strongly disagree.

[2018-01-25 10:31] #341 closed

[2018-01-25 10:33] tamasgal commented on #341
Yep, just tried and wanted to answer/close.

There is one little down-side with the `code-block` approach: you still can't copy paste since the `"""` are lost during the rendering.

Anyways, thanks  :)

[2018-01-25 22:15] choldgraf commented on #340
yeah I'm +1 on "solve this with documentation" one way or another...I'm .5/.5 on whether we the default floating or make the default at the bottom

[2018-01-25 22:30] GaelVaroquaux commented on #340
One of the values of sphinx-gallery is that it is useable. Defaulting to
the buttons down decreases that usability, so it's a loss.

I'll try to see if I can find time to add a special rule for the culprit
here, but documentation will be needed, because we cannot catter for
every theming in the world.

[2018-01-26 13:16] glemaitre opened #342 "Notebook style issues with indentation"
We are using the notebook style to write some examples in joblib. One pattern that we are using which make the example readable in both code and example is the following.

[code]

Due to the lack of a whitespace, the full paragraph is indented. There is currently 2 workarounds.

[code]

or

[code]

However, the first one introduces some trailing whitespace and the second one is less readable.
Is t

[2018-01-28 08:59] GaelVaroquaux opened #343 "Sphinx-gallery in unbuildable state after crash"
A project can get in a state where it is impossible to build with sphinx-gallery:
https://readthedocs.org/projects/joblib/builds/6641437/

I think that I've already seen this on my own computer and that it is related to the ".py" file of an example being present in the output dir and not the .ipynb. We could probably fix this with a better check on our side.

[2018-01-29 10:26] lesteve commented on #342
This seems to work for me (no space in the empty line after the title).

[code]

I don't really know what is happening with the second line of hashes I have to admit. In my mind, a line of hashes start a text cell, and then you write rst like you would normally except you add `# ` on each line.

[2018-01-29 10:37] glemaitre commented on #342
I forgot to mention this solution. I think that @GaelVaroquaux found it less readable.

[2018-01-29 13:19] lesteve commented on #342
The fact that the double line of hashes almost work is just pure luck if you ask me.

I quickly grepped the doc and this is the only thing I found is from this [example](https://sphinx-gallery.github.io/tutorials/plot_notebook.html#sphx-glr-tutorials-plot-notebook-py):

[2018-01-29 14:06] GaelVaroquaux commented on #342
Not completely, the line of hashes is a valid title line in rst.

I think that what breaks sphinx-gallery is that we are not starting by "# #####..."

[2018-01-29 14:23] lesteve commented on #342
This should work indeed.

[2018-02-05 17:02] larsoner commented on #340
Just noticed over at PySurfer these buttons overlap with the `sphinxdoc` theme when the right sidebar is enabled (PySurfer does not do any fancy formatting so this could be a common problem among SG users):

![screenshot from 2018-02-05 11-33-43](https://user-images.githubusercontent.com/2365790/35816592-14ae5166-0a69-11e8-8609-b9147a2cd17c.png)

For me to disable this floating I 1) added an `extr

[2018-02-09 16:03] choldgraf commented on #343
to be clear, this is something that is fixed by cleaning out the "build" directory yeah?

[2018-02-09 16:08] choldgraf opened #344 "v0.1.14 release plan"
It's been about 6 months since the last release, so I'd be keen on getting something new out the door. There have been several improvements, but still some things to take care of. I wanted to open this issue to make sure we have a plan for what to go in the next release.

I created a milestone and added two issues to it that need to get figured out:

https://github.com/sphinx-gallery/sphinx-galler

[2018-02-09 19:16] larsoner commented on #321
@nicain okay to close this one?

[2018-02-09 19:18] larsoner commented on #238
@choldgraf isn't this merged now?

[2018-02-09 19:19] larsoner commented on #209
@choldgraf this can be closed

[2018-02-09 19:20] larsoner commented on #232
@choldgraf I think this has been fixed in some PR (one of mine I think?), too

[2018-02-09 19:22] larsoner commented on #310
@GaelVaroquaux it sounds like this has been fixed, okay to close?

[2018-02-09 19:50] choldgraf commented on #238
woot! yep!

[2018-02-09 19:50] #238 closed

[2018-02-09 19:50] choldgraf commented on #209
ah yes, #210 is now merged!

[2018-02-09 19:50] #209 closed

[2018-02-09 19:53] choldgraf commented on #232
yep! thanks for squashing these issues

[2018-02-09 19:53] #232 closed

[2018-02-09 20:00] #222 closed

[2018-02-09 20:29] larsoner commented on #224
@choldgraf still seeing this one?

[2018-02-09 20:33] larsoner commented on #6
@Titan-C is this still an issue with modern Sphinx (1.5+)?

[2018-02-09 20:34] larsoner commented on #113
This issue can be closed, this should have been fixed by the PR that switched to using `intersphinx`

[2018-02-09 20:35] choldgraf commented on #224
Hmmm, I think in distanced enough from this really weird bug that we should close this as not actionable

[2018-02-09 20:35] #224 closed

[2018-02-09 21:16] #321 closed

[2018-02-09 21:57] larsoner commented on #321
FYI @nicain I added a `.. note::` in the doc update to #346 that should make it clearer to future folks how to do it:

https://366-25860190-gh.circle-artifacts.com/0/home/ubuntu/sphinx-gallery/rtd_html/advanced_configuration.html#parsing-and-executing-examples-based-on-matching-patterns

Feel free to look and comment if it's not clear.

[2018-02-11 13:57] Titan-C commented on #344
Let's include PR #307. It starting from changes in our config, it's
better to keep solving these on each release.

[2018-02-11 15:57] choldgraf commented on #344
I think it's a good idea!

[2018-02-12 08:47] lesteve commented on #113
Thanks!

[2018-02-12 08:47] #113 closed

[2018-02-12 09:52] lesteve commented on #310
Closing this one.

[2018-02-12 09:52] #310 closed

[2018-02-12 09:54] lesteve commented on #6
Closing this one. @Titan-C please reopen if you are still seing this. Full disclosure: I don't understand what this issue is about.

[2018-02-12 09:54] #6 closed

[2018-02-12 10:15] lesteve commented on #338
I'd be inclined to close this one. @nicain do you have a use case where controlling the output folder of the notebooks is really important?

[2018-02-12 17:07] lesteve commented on #343
FWIW I can reproduce a similar error by deleting a .ipynb and regenerating the doc. It goes away if I do `make clean`.

This should reproduce the problem:
[code]

[code]

[2018-02-12 17:30] lesteve commented on #344
I agree it'd be nice to have a release soonish, be it only to push the binder functionality to sphinx-gallery users.

[2018-02-13 22:57] astrofrog opened #351 "Error with Sphinx 1.7 due to changes in DOCUMENTATION_OPTIONS"
The following code:

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/docs_resolv.py#L95

Now fails:

[code]

Due to the following change in Sphinx 1.7:

https://github.com/sphinx-doc/sphinx/blob/6cf0698b0c6bde9fdcf4a606838552e1e7e20663/CHANGES#L237

[2018-02-14 00:08] lesteve commented on #351
@QuLogic it seems like you wrote this piece of code, any suggestion how to fix it for sphinx 1.7 (looking at https://github.com/sphinx-doc/sphinx/pull/4295/files, this could be by looking at _static/documentation_options.js on top of index.html). Any suggestions on how to make it less brittle would be more than welcome!

[2018-02-16 11:16] #319 closed

[2018-02-19 13:14] #351 closed

[2018-02-19 13:37] #262 closed

[2018-02-22 08:17] lesteve commented on #351
@QuLogic thanks a lot for your input! Let's stick to the straightforward fix for now and revisit potentially next time it breaks ...

[2018-02-22 08:33] lesteve opened #353 "JupyterLab support on binder"
I just heard about urlpath=lab. Maybe it would be nice to support at one point. I could not find a way to point to a given file with JupyterLab, i.e. using both urlpath=lab&filepath=myipnb. Is this correct @choldgraf?

Thinking about it out loud, in a multi-notebook context (at the moment we are just opening a single notebook in binder but you could imagine pointing to a folder e.g. in the main ga

[2018-02-22 17:48] choldgraf commented on #353
That's a great point - it seems like there are a few things to unpack:

* Enable `urlpath=` in the binder links (this is easy)
* Pointing to a specific file (this is possible but not well documented (use the pattern `http://localhost:8888/lab/tree/my-notebook.ipynb`
* Duplicating notebooks so that they follow the same folder hierarchy as examples (I am +100 on the hierarchy mirroring. -1 on duplic

[2018-02-23 06:25] pelson opened #354 "Feature request: non-directory based hierarchy and example post-processing"
Thanks for this package! Having been helped massively by @choldgraf to get cartopy using sphinx-gallery, we have been able to delete complex sphinx code and replace it with a very simple configuration update. Awesome! 🎉

http://scitools.org.uk/cartopy/docs/latest/gallery/

In order to group similar examples, cartopy took the approach of using metadata in the example file itself, rather than using

[2018-02-23 17:10] lesteve commented on #354
Great to hear that you found sphinx-gallery useful and that you managed to get rid of complex sphinx code, that was probably one of the goal of starting sphinx-gallery in the first place!

It seems to me that what some of your use cases are slightly off the beaten path, maybe having an example in different subsections is the one that could be needed more broadly. Reorganising the subsections witho

[2018-02-23 17:12] choldgraf commented on #354
+1

+ 100

:-)

[2018-02-23 17:13] larsoner commented on #354
I agree making things more modular (image capturing, etc.) is the way to go. So far we have found ways of doing this that maintains the status quo but allows for more flexibility. If subsection organization and so forth can be split out into a user-override-able function, with existing functionality being the default one, that sounds like a clean way to go.

[2018-02-23 17:15] larsoner commented on #354
(Even in cases where these things are going to be used by only one or two projects, which may or may not be the case here, modularization could and should simultaneously lead to cleaner code, which is a nice side benefit. I saw this a bit while working toward separating image scraping.)

[2018-02-23 17:17] choldgraf opened #355 "A grant for sphinx-gallery?"
Has the sphinx-gallery team ever thought about getting some $$$ to work on the project? I don't think it has a size that'd attract a big grant, but perhaps it'd be useful to look for $$ to fund a specific part of the project like refactoring/modularizing/etc? Just throwing the idea out there.

cc @ericholscher who I think was interested in getting some funding for docs infrastructure in the scienc

[2018-02-23 17:28] larsoner commented on #355
Maybe a `numfocus` grant for a sprint? It wouldn't be a ton of money but a 1-week sprint with sufficient dev attendance could move a lot of things forward.

[2018-02-23 17:44] choldgraf commented on #355
I believe that @tacaswell was in touch with folks at the moore foundation about documentation grants as well

[2018-02-26 09:17] ericholscher commented on #355
I'd love to hear more about anyone willing and able to give grants to OSS Python doc tools, and how we might be able to manage to get some of that funding applied in this direction.

[2018-02-26 13:59] lesteve commented on #355
It would be more than welcome of course, I don't think too much thinking has been put into that on the sphinx-gallery front. @GaelVaroquaux may have more inputs on that side of things or maybe have more clever longer-term plans in his head ;-).

For completeness, the Paris-Saclay Center for Datascience has a little bit of funding to pay PhD students to spend 10% on their time on open-source softwa

[2018-03-12 16:32] lesteve commented on #344
So this has been a month already ... here are the two main things I have on my radar:
* improve floating download links. My bias is to get rid of it and use something simpler. I have started to work on this already and will let you know when I have something working.
* have .ipynb organization that mirrors the examples folders. This was part of https://github.com/sphinx-gallery/sphinx-gallery/issu

[2018-03-15 09:42] choldgraf commented on #344
+1 to the ipynotebooks mirroring the examples tructure

+100 to de-bus-factoring sphinx-gallery releases :-)
--

On Mon, Mar 12, 2018 at 4:32 PM Loïc Estève <notifications@github.com>
wrote:

[2018-03-20 20:04] ajtritt opened #361 "ignore code-blocks"
Please add the ability to ignore code blocks.

I am trying out sphinx-gallery as a way of building a set of tutorials for [PyNWB](https://github.com/NeurodataWithoutBorders/pynwb) that can also serve as integration tests. Since the Python code I am writing is going to be an integration test, I would like to clean up any files that get written after running the test; however, I don't want this code

[2018-03-20 20:50] lesteve commented on #361
I am afraid I don't understand what you mean. Can you give us a better idea of what you have in mind when you say a tutorial that serves as integration test? How would a `.py` look like?

[2018-03-20 21:31] ajtritt commented on #361
The integration test part of this is orthogonal to the problem, you can ignore that.

I want to be able to add a comment to a code-block that tells sphinx-gallery to ignore this code-block.

[code]

[2018-03-20 23:16] ajtritt commented on #361
If it helps, I added code to accomplish this. Here's a PR I made on my own fork https://github.com/ajtritt/sphinx-gallery/pull/1

[2018-03-21 07:05] lesteve commented on #361
Thanks a lot for the details! The reason I asked about integration test is I wanted to understand better what your motivation for hiding blocks is. When we need to clean up files we tend to do it towards the end of the example with a comment. The alternative is to leave the generated file alone. Maybe you can explain why these two approaches are lacking in your particular use case?

One of the pri

[2018-03-21 14:08] ajtritt commented on #361
If the clean up is in a comment, then it will not actually remove the file when the script gets executed.

Sometimes I want to clean up the generated file.

If this is the primary goal of sphinx-gallery, what features does sphinx-gallery offer that are not already available in Jupyter, apart from integrating with sphinx?

[2018-03-26 14:56] flothesof commented on #351
Hi,
I'm running into exactly this problem.
I'm using the latest Sphinx (1.7.2) and sphinx-gallery and it crashes after completing the HTML generation:
[code]
Since it appears that this was fixed back in February, would it be possible to release a new version including this fix? Alternatively, could you mention when you expect this to be pushed?

Thank you for your help.
Best regards
Florian

[2018-03-26 15:09] lesteve commented on #351
Would installing sphinx-gallery directly from master be an option for you? Detailed instructions in https://github.com/sphinx-gallery/sphinx-gallery/pull/352#issuecomment-367090938.

[2018-03-27 23:19] jnothman commented on #335
xpass should probably not be a fatal error in any case. Here we are using xfail because passing is unreliable.

[2018-03-28 14:51] lesteve commented on #335
I agree that a xpass could only be a warning. It definitely has some value, for example when mldata.org misbehaves and some examples may or may not fail almost randomly.

Having said that, it is slightly orthogonal to this issue which is about interaction between filename_pattern and expected_failing_examples.

I think we did it like this because we were worried that people would eventually fix th

[2018-03-30 17:07] #361 closed

[2018-04-05 00:35] ImportanceOfBeingErnest opened #363 "Delay output capturing to a further code block"
Imagine you have a piece of code that would produce some output. Yet, you do not want to show that output (because it's too long or too distracting). Is that possible?

In a more concrete example, I wish to create a matplotlib plot in several steps, having explanations as text in between the code. However I only want the final plot to show up. As an example:

[code]

Of course you would only want

[2018-04-05 07:31] lesteve commented on #363
I don't see a way to do that currently in sphinx-gallery. I think this would require some tweaks to how we are currently capturing figures at the end of a code-block. IIRC we are currently closing all the figures at the end of a code block.

Maybe slightly related to https://github.com/sphinx-gallery/sphinx-gallery/pull/161 and https://github.com/sphinx-gallery/sphinx-gallery/issues/284.

In your

[2018-04-05 07:38] lesteve commented on #363
Thinking about this a bit more, I don't think that is a good idea and could potentially break existing examples because `plt.show()` tend to be called only once at the end of the example.

[2018-04-05 10:30] ImportanceOfBeingErnest commented on #363
Thanks for commenting. I see that the current behaviour is probably useful in many cases where the educational part that needs heavy explanation is not on the side of the figure creation itself. In those cases you can simply have a code block producing the figure with the accumulated data in a small code block.

In matplotlib, documenting the figure creation itself is the part that needs the heavy

[2018-04-05 13:02] lesteve commented on #363
Thanks for explaining your pain points in detail! At the moment, you will need to resort to work-arounds to achieve something similar to what you want. Quickly looking at your example, it feels like your main options are:
* creating two figures instead of a single figure with subplots and keep all the figure plotting code in a single code-block
* use comments inside your code as you mentioned in h

[2018-04-05 14:36] ImportanceOfBeingErnest commented on #363
Yes I'm going with option 1 (creating 2 figures) now ([This is](https://8615-1385122-gh.circle-artifacts.com/0/home/circleci/project/doc/build/html/gallery/pie_and_polar_charts/pie_and_donut_labels.html#sphx-glr-gallery-pie-and-polar-charts-pie-and-donut-labels-py) how it looks like). The only drawback in this specific case is then that the automatically generated thumbnail only shows one of the f

[2018-04-06 06:33] lesteve commented on #363
Glad that you found a work-around!

I am going to rename your issue to track this feature request.

[2018-04-16 15:21] choldgraf commented on #340
hey all - has there been any movement on this?

If so, can we close this issue?
If not, it sounds like the latest agreement was to make the "floating right" behavior optional and disabled by default, so the path forward would be to expose this as a kwarg in the configuration, then change the CSS based on that kwarg. Does that sound correct?

Either way, I'll update the top-comment of this issue so

[2018-04-16 15:22] choldgraf commented on #355
hey all - I'm gonna close this one - it was mostly aimed at sparking a little conversation (or getting some thoughts moving in people's heads ;-) ) so I don't want it to just stay open indefinitely...feel free to re-open if anyone would like to!

[2018-04-16 15:22] #355 closed

[2018-04-16 15:25] choldgraf commented on #353
@lesteve have your thoughts on this topic changed at all? I might have a few cycles in the coming weeks to polish this up, so making sure that we're still in agreement on it :-)

[2018-04-16 15:56] lesteve commented on #353
Great to hear you may have some time to tackle this indeed !

I haven't investigated this in detail but my plan was:
* have a configurable output folder for notebooks. This probably needs to be a subfolder of the build output folder
* not use the `:download:` directive for notebooks, and just use a normal link with the `href` pointing to the URL of the notebook (which will be part of the repo if w

[2018-04-16 15:58] lesteve commented on #338
See https://github.com/sphinx-gallery/sphinx-gallery/issues/353#issuecomment-381655543 but this is my understanding as well that this would tackle @nicain's feature request.

[2018-04-16 16:07] choldgraf commented on #353
Why not keep the download directive as-is, and use the notebook hierarchy folder for Binder links? At least as a first step. There'd be unnecessary duplication, but this could be spot-checked in subsequent PRs.

[2018-04-16 17:30] lesteve commented on #353
This is certainly fine with me as a first step.

[2018-04-16 19:13] Titan-C commented on #353
I'll prefer data duplication. Storage is getting really cheap nowadays
and bandwidth too. Messing around with sphinx and getting links to
behave correctly is very time consuming.

[2018-04-16 22:08] lesteve commented on #340
My attempt at this is #362. To sum up:
* remove the floating button CSS because I am slightly skeptical about floating buttons being a good enough default for a wide set of sphinx themes.
* add a note at the top of the example that has a link to go to the bottom of the example to find the download links.

Do comment on #362 if you have an opinion on it!

[2018-04-19 15:00] ImportanceOfBeingErnest opened #365 "No examples file generates for aliases"
It seems sphinx-gallery has a problem with aliases and does not produce any example file for them?

[code]

This would result in an example file `Foo.examples` being created. But no `AliasOfFoo.examples`.
However, since Sphinx generates an automodule rst page for both classes the `AliasOfFoo.rst` tries to include `AliasOfFoo.examples` via `.. include:: AliasOfFoo.examples`.
Finally this results in

[2018-04-19 15:48] ImportanceOfBeingErnest commented on #365
I suppose one can work around by not creating any gallery for those Aliases at all,

[code]

but that is for sure not ideal, because (1) we loose the galleries, (2) we clutter the autosummary template with content specific stuff.

[2018-04-20 05:37] lesteve commented on #365
Sounds like a bug indeed and I am afraid I don't have any suggestions off the top of my head as how to solve or work around it. A PR fixing this would be welcome!

I am going to be frank: this is unlikely to be a priority until 0.14 is released.

If you had time to set-up a reproducible example outside of matplotlib, it would greatly help anyone to work on trying to fix this.

[2018-04-20 17:09] ImportanceOfBeingErnest commented on #365
I created an example showing the issue. This can be found here: https://github.com/ImportanceOfBeingErnest/sphinx-mwe

There are two folders, one works just fine, the other contains a line creating an Alias class
[code]

This will lead to the error being raised

[code]

I found out that when creating an example which actually uses the `MyClassAlias` class, this error does not occur. But of course

[2018-04-21 16:28] fredrik-1 opened #366 "plot_gallery=False working as expected?"
It seems that the gallery is generated also when plot_gallery is set to 0, or False or 'False' and this is due to a missing if statement at line 194 in `gen_gallery.py`. The only difference I see are that the calculation times are not printed.

Am I missing something?

[2018-04-23 12:41] fredrik-1 commented on #366
Thanks, I guess that it works as expected and I got confused. I have not seen a page that that though because it seems that the old plots are saved somewhere even after a `make clean`.

[2018-04-23 12:41] #366 closed

[2018-04-23 13:11] lesteve commented on #366
Hmmm I think it should work as long as your Makefile `clean` target deletes $BUILDDIR. Maybe have a look at the `Makefile` in sphinx-gallery for inspiration or maybe it is related to https://github.com/sphinx-gallery/sphinx-gallery/pull/364#issuecomment-382322097 and we are not really doing it the modern "sphinx way" not completely sure.

[2018-04-25 22:21] choldgraf opened #368 "Create `output` folder configurable option"
In both #353 and #338 there are requests to allow for an "output" folder in the sphinx gallery configuration. This would be a folder where all generated SG content would live *in addition to* the traditional sphinx "downloads" folder.

An important difference is that this output folder should mirror the structure that the examples folders take.

[2018-04-25 22:25] choldgraf commented on #340
closing this, since @lesteve has the buttons back on the bottom now. I think it's worth thinking more in the future about what's the best way to structure the buttons / layout / etc, but I think that should happen in a different, more specific issue!

[2018-04-25 22:25] #340 closed

[2018-04-25 22:26] choldgraf commented on #335
ping on this one - it's a minor blocker on the next release :-)

[2018-04-26 12:50] lesteve commented on #368
In my mind this should be only for generated notebooks. Do you have other kind of content in mind?

[2018-04-26 20:19] GaelVaroquaux opened #369 "Feature request: Different ordering options"
We should really support a switch to order examples by alphabetic order.

It's been requested before by others, and I've finally hit a situation where this was crucial :).

[2018-04-27 08:09] GaelVaroquaux opened #370 "Feature request: Add an option for different cell separations"
We should add an option so that to give equivalent to what currently is "########################", used as a cell separated.

Candidates:

* "\n\n" to have lighter source files

* "# %%" to be compatible with other softwares such as atom hydrogen, as mentioned below by @lesteve

Thanks to @ogrisel for having suggested this a while ago.

[2018-04-27 13:39] lesteve commented on #369
You can sort examples within a gallery sub-section through [this](https://sphinx-gallery.github.io/advanced_configuration.html#within-gallery-order). Not tested but it seems like something like this sould do what you want:

[code]

[2018-04-27 14:25] lesteve commented on #370
I'll mention this here, but it seems like `# %%` seems to be a common way of creating cells (probably taken from [Matlab](https://www.mathworks.com/help/matlab/matlab_prog/run-sections-of-programs.html) actually), see:
* [Pycharm](https://www.jetbrains.com/help/pycharm/matplotlib-tutorial.html#d163906e80)
* [Jupyter VS code plugin](https://marketplace.visualstudio.com/items?itemName=donjayamanne.j

[2018-04-27 21:50] Titan-C commented on #369
This was a solved problem. At least for the alphabetical and some
other options.

[2018-04-28 10:26] GaelVaroquaux commented on #369
OK. My bad.

I can't even blame our documentation, it's clear that this option exists
from a quick glance at it.

Good job, team! And my apologies!

[2018-04-28 10:27] #369 closed

[2018-05-03 23:36] sandrotosi opened #373 "fails to build with recent matplotlib"
Hello,
when building sphinx-gallery with matplotlib 2.2.2, we got this error:

[code]

https://matplotlib.org/api/api_changes.html says

[2018-05-03 23:50] sandrotosi commented on #373
this patch fixes it

[code]

[2018-05-04 13:59] Titan-C commented on #373
Hello thank you for your concern. This was fixed in master already with
PR #357. We are still not ready with a release including this patch.

[2018-05-12 11:15] fumitoh opened #376 "download_section_examples implemented?"
I tried to remove download buttons on each gallery page by setting `download_section_examples` to `False` but it didn't work. I tried to look into the source but didn't find relevant parts. Is this setting in effect?

[2018-05-12 13:00] Titan-C commented on #376
It is true. This option is not in the source code anymore. To be honest
I wasn't even aware this was a feature we support, not sure how it got
into the docs.

[2018-05-12 13:03] fumitoh commented on #376
In turn, `download_all_examples` for summary pages is working, but doesn't seem to be documented!!

[2018-05-12 13:15] Titan-C commented on #376
Yes, I was looking at the source and git history as well. It all comes back to my mind, I was me who implemented the feature. Initially the download button was per section, but after a discussion with users and contributors we settled for a global and unique download button containing all examples. PR #132
The docs did not got updated after that change

[2018-05-12 13:29] fumitoh commented on #376
Oh, okay I was probably confused in the first comment. What I was trying to do was to remove download buttons on **each example page**, but I guess no option was available to do that in the first place, correct?

[2018-05-12 17:50] Titan-C commented on #376
No, you can't do that in the configuration. But you can hide the download buttons using CSS

[2018-05-13 02:10] fumitoh commented on #376
Thanks for the tip!

[2018-05-21 17:12] stuaxo opened #378 "Can this work for files other than .py ?"
In shoebot (a python creative coding environment) we have python in a .bot file .... when run with ```sbot {filename}``` we can do thinks like output a png file for each frame.

How hard would it be to get sphinx gallery to render our examples by running shoebot?

[2018-05-21 21:22] Titan-C commented on #378
There was an attempt to support other languages in PR #197 maybe you can
look at it.

Currently sphinx-gallery loads the script to be executed into its
running process. Thus it is not friendly to loading other interpreters
for the moment. It would be great if we could offload the execution of
the script to a different process. That would help us with
multiprocessor support, and clearing from memor

[2018-05-21 22:00] stuaxo commented on #378
That's interesting, I'll check it out.

Shoebot is python... - we put various things into the namespace though, so it might be simpler than adding proper support for other interpreters.

[2018-05-28 09:39] #373 closed

[2018-05-28 12:00] GkAntonius opened #380 "How to link the gallery"
Hello. I'm fairly new to sphinx-gallery and sphinx in general, and here is my problem.

I created a `plot_example.py` script and placed it in my `examples_dirs` folder. As a result, I do see it copied in the `gallery_dirs` folder, that is, I get the file `auto_examples/plot_example.py`. Then, to include a link to the gallery in my main documentation page (`index.rst`), I have the line
`` :doc:`Gal

[2018-05-28 12:41] lesteve commented on #380
I don't know off the top of my head. Could you point us to a github repo for your project so that we can try to reproduce the problem ?

[2018-05-28 14:28] Titan-C commented on #380
With a minimal example we can try to debug the problem. But the warning
is strange like you wouldn't have a title for your example. But if I
remember correctly we still raise an exception if examples don't have
heading titles.

[2018-05-28 22:05] tkf opened #382 "Sphinx 1.7.5 causes ValueError in parse_sphinx_docopts"
Here is the exception:

[code]
https://travis-ci.org/tkf/adaptiveheatmap/jobs/384926641#L610

which is caused by just freeing Sphinx version (from 1.7.4):

[code]
https://github.com/tkf/adaptiveheatmap/commit/c6abb7d81f67519cb6670006219b0bd8755a2eae

FYI, in `html/_static/documentation_options.js`, I have

[code]

when I build the document with Sphinx 1.7.5 and

[code]

with Sphinx 1.7.4.

[2018-05-29 12:46] GkAntonius commented on #380
[Here is a minimal working example that reproduces the problem.](https://github.com/GkAntonius/sphinx-gallery-mwe) Thank you for your quick reply!

[2018-05-29 15:38] GkAntonius commented on #380
That's it! Thank you Titan-C. Looking back at the sphinx-gallery documentation, the instructions were unequivocal:

Yet, an example would have been helpful for sphinx newbies. Cheers!

[2018-05-29 15:38] #380 closed

[2018-05-31 16:51] #353 closed

[2018-06-04 14:26] #335 closed

[2018-06-04 22:05] choldgraf commented on #338
closed by #368 !

[2018-06-04 22:05] #338 closed

[2018-06-04 22:06] choldgraf commented on #368
closed by #371 !

[2018-06-04 22:06] #368 closed

[2018-06-04 22:06] choldgraf commented on #344
hey all - I think that we are ready to cut a new release (at least judging from the items that were on our milestones). What do you all think?

[2018-06-04 22:07] choldgraf commented on #344
cc @Titan-C in case he wants to write up some short docs on cutting a release for sphinx-gallery

[2018-06-05 02:11] Titan-C commented on #344
The "how to release" docs where already merged in #360

[2018-06-05 07:29] lesteve commented on #344
Fine with me!

[2018-06-05 08:01] choldgraf commented on #344
@Titan-C nice! I didn't know it had already been merged :-)

Woo, 🚢 :shipit:

[2018-06-05 08:05] lesteve commented on #344
If it is not too much work, it would be nice to move the documentation to CircleCI https://github.com/sphinx-gallery/sphinx-gallery/pull/327.

[2018-06-05 08:41] lesteve commented on #344
To be honest, I don't want to delay the release too much because it has been quite a while since the last release. So if the CircleCI doc is too much work (say more than 1 day) we can release as is and do another release in a few weeks.

[2018-06-05 12:12] choldgraf commented on #344
@lesteve do you have the time to move the docs to circleci in less than 1 day? :-)

[2018-06-05 12:34] lesteve commented on #344
I was hoping to get some feed-back from @Titan-C to understand more what is involved and we *need* to do it before the release.

[2018-06-05 12:35] choldgraf commented on #344
The issue you linked is for moving to github pages, which I think is orthogonal from whether to use circle or travis, no?

[2018-06-05 12:36] larsoner commented on #344
I can try today, we do it in MNE

[2018-06-05 12:59] lesteve commented on #344
The question I had in mind (probably my earlier statement was too ambiguous): do we want to set-up `doctr` (or a similar tool) to move our doc to sphinx-gallery.github.io and shut down readthedocs before the release.

More details: we are already using CircleCI to build the documentation on each commit and push it to sphinx-gallery.github.io. This is the way forward to have binder support since we

[2018-06-05 13:29] choldgraf commented on #344
I'm +0 on this, since it is both adding complexity (adding doctr to build the documentation) and removing complexity (no more need to worry about how it looks on readthedocs). it's also adding features (more flexibility building with doctr) and removing features (no more auto-generated docs for different versions)

[2018-06-05 13:30] Titan-C commented on #344
We don't really need to have the docs migration prior to doing the release. I did not put that PR as a blocker. I'm fine preparing a release today.

Few comments on the docs.
- We already build them on CircleCI and push to the github pages, which we need for binder support. Because the binder team never prioritized the upload of a zip file to configure the binder instance, to my knowledge, they as

[2018-06-05 13:38] Titan-C commented on #344
Extra thought. Once we implement the docs for multiple version tags on github pages. We will need to include support for that in the binder links, which my guess now is we don't support that yet.

[2018-06-05 13:46] lesteve commented on #344
Right, for some reason I thought that the binder links would not be shown on readthedocs. I think this is good enough for now!

[2018-06-05 15:38] Titan-C commented on #344
I'm going to do release 0.2 instead of 0.1.14. We have fixed a lot of things in the last 8 months, and included great features. Release commit is on https://github.com/Titan-C/sphinx-gallery/commit/3b719ca354c75e27952bbd61c16b35232ba058d4 if CI is all green I'll push to master and then upload to PyPI

[2018-06-05 16:20] Titan-C commented on #344
Ok. All green. This is done. Github release and published in PyPI

[2018-06-05 16:20] #344 closed

[2018-06-05 17:30] GaelVaroquaux commented on #344
Congratulations team! Someone does a nice tweet? So that we can retweet it.

⁣Sent from my phone. Please forgive typos and briefness.​

On Jun 5, 2018, 19:25, at 19:25, Chris Holdgraf <notifications@github.com> wrote:

[2018-06-05 19:45] choldgraf commented on #344
how's this: https://twitter.com/choldgraf/status/1004086721859014656 ?

[2018-06-05 21:21] lesteve commented on #344
Great, thanks a lot everyone!

[2018-06-06 13:30] CompPhysChris opened #388 "matplotlib inline vs notebook"
Currently sphinx-gallery puts ["% matplotlib inline"](https://github.com/sphinx-gallery/sphinx-gallery/blob/830a11c6ba5a80a4cbbaff7e2932dd37e81321a5/sphinx_gallery/notebook.py#L113) at the top of all notebooks.  Would it be possible to add an option to use "% matplotlib notebook" instead?  Interactive elements in figures seem to work better with notebook.

[2018-06-06 13:48] lesteve commented on #388
A configurable `notebook_preamble` (or a better name) would make sense I guess.

I don't remember, does `%matplotlib notebook` work fine with JupyterLab?

[2018-06-06 13:55] lesteve opened #389 "binder notebook copy problem when examples_dirs and gallery_dirs are strings instead of list"
Yeah first bug report ;-)! I thought I tried on scikit-learn before the release but actually I did not try configuring binder ...

Note that there is a work-around of using a list with a single element.

[code]

Output:
[code]

IIRC somewhere in the code `example_dirs` and `gallery_dirs` are turned into a single element list if they are strings and that it happens quite early in the code. I am not

[2018-06-19 02:12] jnothman opened #394 "Unnecessary regeneration of API docs"
The creation of `.examples` files for backreferences from API documentation always leaves those `.examples` newly modified, even if the underlying examples were unchanged. This results in the API doc being re-generated as well (i.e. they are marked as changed in Sphinx's "updating environments" log item).

Ideally, we should have a way to identify unchanged examples backrefs, and make sure their m

[2018-06-19 02:16] jnothman opened #395 "Unnecessary regeneration of example pages"
It seems that sphinx-gallery includes the source code of its plots, and rewrites the source code files with each run. Then, for instance, Sphinx's Environment recognises a changed modification time on 'auto_examples/ensemble/plot_voting_decision_regions.py' which leads to 'auto_examples/ensemble/plot_voting_decision_regions' being marked as changed, even if the original source code was unchanged.

[2018-06-21 19:44] GaelVaroquaux opened #396 "Capture HTML output as in Jupyter"
More and more objects can do nice html rendering in the jupyter notebook. For instance pandas dataframe, but also plotting libraries use this.

The way it works is that the jupyter kernel calls the "_repr_html_" on an object, if present, to get the HTML to display:
https://ipython.readthedocs.io/en/stable/config/integrating.html#rich-display

I think that sphinx-gallery could and should do that. I

[2018-06-28 18:50] amueller opened #397 "feature request: only rebuild individual examples"
I want to debug an example that's breaking when run via sphinx-gallery but not by itself.
However, that requires running all examples, which takes forever in scikit-learn.

It would be great if I could generate single examples to debug them.
Sorry if that's already possible, haven't seen it in the docs.

[2018-06-28 23:43] Titan-C commented on #397
Sphinx-gallery only rebuilds the examples that have changes since the
last build.

But you can also use the filename pattern to specify which example you
want to build during debugging.

https://sphinx-gallery.github.io/advanced_configuration.html#parsing-and-executing-examples-based-on-matching-patterns

[2018-06-29 15:16] amueller commented on #397
well the last build might have been a long time ago, though ;) Or I might be on a completely different branch.
I guess changing the configuration would be an option. I was more thinking about it as running a specific test instead of running all tests, so I was imagining a command line option or something like that. Maybe that's too specific though?
I couldn't reproduce the original bug that prompt

[2018-06-29 15:28] larsoner commented on #397
This sounds like what @Titan-C was referring to with the link to the docs above -- it allows specifying which examples to run using a regular expression. And you can do it from the command line (it's at the bottom of the sectino in a `.. note::`) because you can override `conf` options via the command line.

[2018-06-29 15:30] amueller commented on #397
Sorry I read too fast! Thanks!

[2018-06-29 15:30] #397 closed

[2018-07-04 14:48] owlas commented on #320
It would actually be ideal if the user could configure the name of this file in `conf.py`. For example, repositories that use `readme.md` as a convention would rather follow that convention.

[2018-07-06 22:21] choldgraf commented on #396
I know @SylvainCorlay and @maartenbreddels would probably be happy to see this

[2018-07-06 22:26] choldgraf opened #399 "How to get the `.css` files to copy over on building the docs?"
This is only tangentially related to sphinx-gallery, but I have a quick question for @Titan-C (or whoever might know)

I'm having a heck of a time figuring out how sphinx-gallery is able to get its `.css` file copied over to the built `_static` directory (so that it can be linked in pages). I see that https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_gallery.py#L116 s

[2018-07-07 00:59] Titan-C commented on #399
This is one of Sphinx's dark magic(you need to do 2 things). Sphinx
should copy anything that is on its _static directory, or any directory
in the list html_static_path.

Nevertheless to actually use it you need to use a link to it. We do it
with

app.add_stylesheet('gallery.css')

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_gallery.py#L360

[2018-07-07 09:56] GaelVaroquaux commented on #396
Great!

Our execution line is at:
https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L544

What would be the easiest way to change it so that it captures the
_repr_html of the returned object?

[2018-07-07 16:34] choldgraf commented on #399
so in my case, I have both `add_stylesheet` there (which adds the relevant line to the `<head>` section, and I've added to the static path with `app.html_static_path.append(path_to_my_files)`, but those files aren't actually copied over on build. It's super confusing to me :-P

In the end I just pushed those files to github and am using github as a CDN to load them, but this is quite hacky :-/

[2018-07-09 15:54] GaelVaroquaux commented on #396
The difficult step is to exec and capture the last returned value. This is difficult, because fundamentally it is mixing the "exec" and "eval" semantics of Python. I had a look at the IPython codebase, and it does this in a fairly involved way.

However, I think that the necessary logic is summarized in the following stackoverflow answer:
https://stackoverflow.com/a/38615712/413856

[2018-07-09 16:42] maartenbreddels commented on #396
That would be really great!

I think the exec/eval is being done here quite elegantly: https://github.com/jupyter-widgets/jupyter-sphinx/blob/b1d5a4568fc697e8ffb07d669432592e5f0f3aa0/jupyter_sphinx/embed_widgets.py#L65

[2018-07-09 17:48] GaelVaroquaux commented on #396
That's very neat. Thank you !

⁣Sent from my phone. Please forgive typos and briefness.​

On Jul 9, 2018, 18:42, at 18:42, Maarten Breddels <notifications@github.com> wrote:

[2018-07-09 21:46] SylvainCorlay commented on #396
Some context about the `jupyter-sphinx` extension and the added `rst` directives:

It solves a slightly more complicated problem than what Gael was asking (which is to enable the use of _repr_html_), since we also gather the state of all the widgets instantiated in the special code blocks.

Although, I would love sphinx gallery to also be able to do that. I have been looking at it for making a gal

[2018-07-12 14:58] SylvainCorlay commented on #396
We are working on separating how we monkey patch `IPython.display` in https://github.com/martinRenou/jupyter-sphinx/, maybe separating it into a new package, so that `jupyter-sphinx` and `sphinx-gallery` don't step on each other's toes in that regard.

[2018-07-13 21:09] SylvainCorlay commented on #396
For reference: https://github.com/jupyter-widgets/jupyter-sphinx/pull/19

[2018-07-14 15:33] choldgraf commented on #396
A quick thought - could we use a try/except block somewhere around here: https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L569 that'd try to call the `_repr_html_` method of the last line in the code block, and if it returns something real then attach it to the rST output with whatever necessary wrappings we'd need in a `.. raw-html` block?

[2018-07-14 17:14] GaelVaroquaux commented on #396
I have in mind some similar, but I think that the exec/eval dance isn't
that bad, based on the code shared above.

[2018-07-15 17:54] #399 closed

[2018-07-15 17:56] choldgraf commented on #388
cc @tacaswell - I believe that if we put `% matplotlib notebook` in the generated notebooks, then all of the matplotlib interactive examples would work, yeah?

[2018-07-15 17:56] choldgraf commented on #388
@lesteve I believe it works now judging from this issue: https://github.com/matplotlib/jupyter-matplotlib/issues/9#issuecomment-403303690

[2018-07-15 20:20] lesteve commented on #388
It'd be good to double-check on a relased JupyterLab version, the last comment seems to mention JupyterLab from master.

[2018-07-15 21:39] choldgraf commented on #388
true - though note that currently JupyterLab needs to be turned on manually with sphinx-gallery, so probably a small number of people are using it. My guess is that the next JupyterLab release (probably several) will happen before the next SG release

[2018-07-15 23:09] tacaswell commented on #388
To work with lab you will have to use ipympl (`%matplotlib widget`) to work in JLab.

[2018-07-16 16:24] choldgraf commented on #388
ah good point - I believe that in general `%matplotlib notebook` is deprecated in favor of `%matplotlib widget`

[2018-07-16 18:44] #205 closed

[2018-07-18 01:46] choldgraf commented on #388
the problem is that making fewer assumptions about what people want also means exposing a more complex API for users to wrap their heads around. In a sense, precisely the thing that tools like sphinx-gallery provide is an opinionated, pre-configured pathway to deploy something that's "good enough" for 80% of use-cases.

In this case, I'm open to the idea of making this a configurable field that de

[2018-07-24 20:30] jklymak commented on #394
OK, I'd be willing to poke at this, because this re-generation drives me nuts for matplotlib dev docs; basically one small change still takes 10 minutes to rebuild the webpage locally.

But, I wasn't quite clear how to install the development version of sphinx-gallery and be able to edit the source and execute it on the fly.  Is there a guide somewhere (or is it a sign that if I can't figure that

[2018-07-24 21:01] larsoner commented on #394
I would do this the way it can be done with most (pure) Python repos:
[code]
Or you can do
[code]
https://stackoverflow.com/questions/30306099/pip-install-editable-vs-python-setup-py-develop

[2018-07-24 21:04] jklymak commented on #394
Yeah, thats what I do for matplotlib, but I must have done something wrong w/ `sphinx-gallery`.  Just wasn't sure if there were extra incantations...

[2018-07-29 00:37] t-makaro commented on #150
I really need this feature. For the docs that I'm currently working on, every single example is an animation. A file of the name ```plot_<name>.py``` will produce a file ```<name>.gif``` (from matplotlib.Animation.save). I'd be great if this could include those .gifs as the output plot instead. It's really useless to have a gallery of static animations.

[2018-07-29 01:50] larsoner commented on #150
#313 would make this easier presumably because you could write your own scraper

[2018-08-06 22:07] larsoner commented on #363
Perhaps a custom scraper after #313 is in could work for your issue?

[2018-08-08 01:08] ImportanceOfBeingErnest commented on #363
Not sure. How would you select the custom scraper to be used for a particular example?
I would have imagined something like a flag in the document which says `#sphnx-gal-command: $output-here$` to controll at which point in the document all gathered output so far shall be put.

[2018-08-08 01:11] larsoner commented on #363
You would have to write a custom scraper that looked for this tag and only scraped images when it saw it. Probably less than a dozen lines of code, basically what matplotlib_scraper currently does plus this extra check.

Though it does make me think that perhaps the scraper should also take as input the code block being executed.

[2018-08-10 15:37] SylvainCorlay commented on #396
hey all, we actually might have a more elegant discussion which should enable capturing rich outputs of non-python kernels, using a similar method as the execute preprocessor of nbconvert.

[2018-08-10 15:44] choldgraf commented on #396
@SylvainCorlay nice - do you have a writeup of it somewhere? I tried hacking on this a bit after scipy and made some progress but not enough to add a PR :-)

[2018-08-10 15:56] SylvainCorlay commented on #396
sorta. I am working on a common-line utility to visualize notebook files including live widgets and kernel, but non-editable, and disallowing arbitrary code execution.

Basically, it uses a modified version of the nbconvert execute preprocessor.

Most of what we need here is already in nbconvert. There is a discussion with minrk on the jupyter/jupyter gitter channel right now about this.

[2018-08-13 01:51] choldgraf commented on #388
I just opened up #401 which would let you put whatever text you like in that first notebook cell :-)

[2018-08-13 10:42] #316 closed

[2018-08-26 13:47] #388 closed

[2018-08-26 14:16] choldgraf opened #402 "Inspiration from new gallery package for sphinx: sphinx-exhibit"
hey folks - I just found out about an interesting project that @anntzer from the Matplotlib community is working on. It's called "sphinx-exhibit" and replicates many of the things that sphinx-gallery does with a few improvements:

https://github.com/anntzer/sphinx-exhibit

The main differences to me seem to be:

1. sphinx-exhibit does more introspection of the code to generate intersphinx links fo

[2018-08-26 14:50] anntzer commented on #402
See https://github.com/matplotlib/matplotlib/pull/11936 for some examples of the difference in generated docs and https://github.com/matplotlib/matplotlib/pull/11936#issuecomment-416043980 for the "why" of sphinx-exhibit.

[2018-08-26 15:55] GaelVaroquaux commented on #402
Post processing sphinx output for the notebooks is something that I had been thinking about for a while. It seems very useful.

Of course the deeper inspection for better linking is useful and great!

⁣Sent from my phone. Please forgive typos and briefness.​

On Aug 26, 2018, 16:50, at 16:50, Antony Lee <notifications@github.com> wrote:

[2018-08-28 07:56] choldgraf opened #404 "Supported Python and Sphinx versions"
Recently in https://github.com/matplotlib/matplotlib/pull/11936 we had an interesting conversation about the difficulty of supporting multiple Sphinx and/or Python versions with Sphinx Gallery. I realized that I'm not exactly sure what is the Sphinx-Gallery team plan for this, and I wonder if it's worth having this conversation explicitly.

My 2 cents is this: Sphinx Gallery is probably not part o

[2018-08-28 08:31] GaelVaroquaux commented on #404
I don't particularly want to hang on to Python 3: it's currently being
dropped by most packages.

If we drop Python 3, we should do a release before dropping it, and
mention in the release notes.

[2018-08-28 08:41] choldgraf commented on #404
Unless you are being particularly progressive, I am going to assume you mean python 2 😊

[2018-08-28 09:09] Cadair commented on #404
+1 to dropping Python 2.

with regard to sphinx versions, I think something like last two versions (i.e 1.6 and 1.7) makes sense, as the sphinx version upgrade can be a little lumpy.

[2018-08-28 09:32] choldgraf commented on #404
Here's a proposal: we freeze features and cut a new release relatively soon. Then after the release, begin testing only against the latest 2 major Sphinx versions, and latest 3 or 4 major versions of python 3.X

Thoughts? Thumbs up/down?

[2018-08-28 10:31] GaelVaroquaux commented on #404
Latest 2 major Sphinx versions is a time window of 2 years (as seen from
https://pypi.org/project/Sphinx/#history). I find it a little short,
given that updating Sphinx a recurrent problem. Not an absolute blocker,
but we would be doing our users (downstream projects) a service to
maintain longer backward compatibility with sphinx.

[2018-08-28 11:16] larsoner commented on #404
For packages used primarily by typical Python users I agree that 2 years is a bit short. It seems like SG has a different user base from most Python packages, though, as it's designed primarily to be used by Python developers and package maintainers. I expect far fewer use cases where someone needs it to work on an old CentOS or Ubuntu distribution, and in cases where it doesn't, the people are pr

[2018-08-28 16:26] choldgraf commented on #404
what @larsoner makes sense to me. Is there any way for us to determine how many python 2.x and 3.x users have installed via pip?

[2018-08-28 22:02] larsoner commented on #404
No, not sure. I'd be okay with moving to Py3k-only after cutting the next release (soon).

[2018-08-29 12:31] choldgraf opened #405 "Drop Python 2.X support"
in https://github.com/sphinx-gallery/sphinx-gallery/issues/404 we decided that in the release-after-next we'll drop Python 2.x support. This issue is to discuss and/or keep track of this decision!

[2018-08-29 12:33] choldgraf opened #406 "Release v0.3.0"
Hey all - it's been a bit of time since our last release (v0.2.0). I've created a milestone so we can decide what we'd like to get into v0.2.1. Can we take a whack at what we'd like to see in the next version that's still left to do? (or decide we're happy w/ current features and just let them be?)

## To Do

- [x] Get Chris pypi push access for Sphinx Gallery
- [x] Confirm that the instructions i

[2018-08-29 12:36] choldgraf opened #407 "Only support the latest 2 or 3 Sphinx versions"
In https://github.com/sphinx-gallery/sphinx-gallery/issues/406 we decided that we can safely have Sphinx-Gallery only support the latest 2 or 3 Sphinx versions. We can be a bit more aggressive with dropping support for old versions of Sphinx because Sphinx-Gallery is more "developer-facing" than many other analysis packages, and so we assume our users are more familiar with installing many version

[2018-08-29 12:39] choldgraf commented on #404
OK, I've done a couple of things to follow-up on this issue, which I'll now close.

* Created milestones for [v0.2.1](https://github.com/sphinx-gallery/sphinx-gallery/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+milestone%3Av0.2.1) and [v0.3.0](https://github.com/sphinx-gallery/sphinx-gallery/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+milestone%3Av0.3.0)

Added the following more actio

[2018-08-29 12:39] #404 closed

[2018-08-29 12:41] choldgraf opened #408 "Release v0.3.0"
This is an issue to discuss the release of v0.3.0. It's coming up next after v0.2.1

[2018-08-29 12:41] choldgraf opened #409 "Release v0.3.0"
This is an issue to discuss the release of v0.3.0. It's coming up next after v0.2.1

[2018-08-29 12:44] larsoner commented on #406
No required things from my end.

[2018-08-29 14:52] lesteve opened #411 "Consider adding links to Google colab?"
Just a thought (IIRC I saw that in a semi-recent tweet by Jake van der Plas) if you a notebook on github e.g.: https://github.com/sphinx-gallery/sphinx-gallery.github.io/blob/master/notebooks/auto_examples/sin_func/plot_sin.ipynb

You can prepend https://colab.research.google.com/github and get a Google Colab link:
https://colab.research.google.com/github/sphinx-gallery/sphinx-gallery.github.io/bl

[2018-08-29 15:12] Titan-C commented on #409
Unnecessary repeat

[2018-08-29 15:12] #409 closed

[2018-08-29 15:13] GaelVaroquaux commented on #411
If we can get around the dependencies issue, it would be awesome. I find it is good to provide several alternatives for computation.

Ping @jakevdp, who works on the collab team, I believe, who can maybe help us with the dependencies.

[2018-08-29 15:17] Titan-C commented on #406
I would like to follow up on my bokeh PR #324. We did merge the image scraping API but I think we need more things to capture that what that API offers. I continue to agree that the object capturing is experimental but maybe have its first proposal with the things we currently already know we need.

[2018-08-29 15:30] choldgraf commented on #411
+1 for making it possible

my only hesitation is that the collab isn't open source and only works on google, but I agree many people would find this useful!

[2018-08-29 15:36] choldgraf commented on #406
+1 to that - are you proposing to merge Bokeh support *outside of* the image scraping API? Or to figure out how to do Bokeh stuff *using* that API?

[2018-08-29 15:39] choldgraf commented on #150
note that #313 has been merged now, it'd be useful if somebody could give a shot at this with gifs!

[2018-08-29 16:06] Titan-C commented on #406
Bokeh captures already work, but I didn't update to the latest changes
of the merged API. What got merged is not enough to capture bokeh
objects, thus the bokeh PR needs to extend the API, but I need to give it a
new pass now.

[2018-08-29 16:13] jakevdp commented on #411
As far as I know there's no way to automatically install dependencies in Colab at the moment... you basically get  a Python 2 or Python 3 kernel, pre-loaded with the provided environment (which contains the core Python data science stack).

For supporting custom environments, Binder is a good option.

I've put badges for both on my book repo, if you want to compare both in practice: https://github

[2018-08-29 16:30] choldgraf commented on #411
note that I don't believe that @jakevdp 's Binder link works currently until either https://github.com/jakevdp/PythonDataScienceHandbook/pull/144/files or https://github.com/jakevdp/PythonDataScienceHandbook/pull/117/files is merged. The current `requirements.txt` wont work for anybody (and thus won't work for Binder either) because it uses dependencies between numpy and scikit-image that clash wi

[2018-08-29 16:36] jakevdp commented on #411
Yeah, I'm not sure what to do about that because some of the examples in the book don't work correctly with the newer version of skimage...

[2018-08-30 14:06] choldgraf commented on #411
hmmm, I think if you used Python 3.5 that'd work fine...maybe we could specify this with an environment.yml file?

[2018-08-31 14:17] GaelVaroquaux opened #412 "Sprint tomorrow @ euroscipy?"
Hi devs,

I am considering doing a sprint on sphinx-gallery tomorrow at euroscipy, partly to onboard new devs, partly to work on features / merging. WDYT?

[2018-08-31 14:35] choldgraf opened #413 "sub-galleries should be generated with a separate "gallery rst" file"
One of the challenges with sphinx-gallery is that it doesn't give a lot of flexibility with how you slice and dice the gallery. Since we don't allow for things like directives, you can't say "show the example gallery for these python files here, and those python files there" super easily.

One way to get around this would be to build all of the gallery code for sub-galleries (e.g. those within sub

[2018-08-31 14:38] GaelVaroquaux commented on #402
@larsoner : what is the reference to your PR that does deeper inspection?

[2018-08-31 14:42] GaelVaroquaux commented on #378
I am closing this issue, as it was a question, and it's a question, and has been answered.

[2018-08-31 14:42] #378 closed

[2018-08-31 14:49] larsoner commented on #402
Mine merely parsed the docs for refs and added them. But in theory something similar could be used on objects themselves: #347

[2018-08-31 14:51] choldgraf commented on #402
It sounds like @anntzer has already figured out much of the machinery for this, it's mostly a matter of adapting it to how sphinx-gallery builds things. However I'm not sure how incompatible the approaches of the two projects are.

[2018-08-31 14:57] Titan-C commented on #413
Yes and no. Subgalleries can have its own rst file, great, everything
becomes more modular. The no is just a minor annoyance regarding header
levels. Indeed you can import the rst from the sub-galleries, and
directly from anywhere as all paths are in absolute to the domain name
it would just work. But depending on where you import you might have
problems on the header levels. Sub-galleries are sec

[2018-08-31 15:00] choldgraf commented on #413
that's a good point! I guess the only solution would be to document best-practices. Are we still fairly set on not supporting sphinx directives? That'd be another potential solution to the problem, e.g.:

[code]

or something like this

[2018-08-31 16:41] #127 closed

[2018-09-01 18:32] larsoner commented on #412
Sorry for the (probably too) late response, but this sounds like a great idea. In particular, inspection of objects during execution for intersphinx linking seems like a potential sprintable topic.

[2018-09-01 18:35] GaelVaroquaux commented on #412
I didn't have much candidate, and ended up sprinting on scipy lectures (which was tedious maintenance work).

⁣Sent from my phone. Please forgive typos and briefness.​

On Sep 1, 2018, 20:32, at 20:32, Eric Larson <notifications@github.com> wrote:

[2018-09-09 23:08] t-makaro commented on #150
I'm just waiting on a release.

[2018-09-10 12:06] Titan-C commented on #150
@t-makaro is an experimental feature, you are better of giving it a try on the git version. And check what is possible and what still needs to be done.

[2018-09-10 15:00] t-makaro commented on #150
That's an awful lot of extra work to experiment with something that I won't yet be able to use. My docs are built with readthedocs, so I'm not sure that I could (or even should) get rtd to build with a dependency from git. Also, my gallery is currently built with nbsphinx, so I don't want to end up maintaining 2 galleries until this is released.

I may try to experiment a little with this on the w

[2018-09-10 15:02] larsoner commented on #150
Does it make it easier to experiment knowing you can `pip` install or add to `requirements.txt` a git `master` dependency with:
[code]
?

[2018-09-10 15:08] t-makaro commented on #150
Yes, yes that might. Thank you.

[2018-09-11 07:17] choldgraf commented on #150
@t-makaro please do share thoughts on how this works for you if you give it a shot!

[2018-09-12 04:12] t-makaro commented on #150
So, I've been trying to modify the "naïve scrapper" to grab gifs. https://sphinx-gallery.readthedocs.io/en/latest/configuration.html#image-scrapers

The first issues that I've been having are:
[code]
should be
[code]
This is also a mismatched parathesis on the example on the docs.

I can't get the example to work in any shape or form. My build fails at:
[code]

[2018-09-12 14:43] choldgraf commented on #150
Good catch @t-makaro ...it looks like we need to update the documentation there. Maybe @larsoner has a moment to make sure that the suggested code there works? I wonder if creating a scraper is advanced enough that it could use its own section in the `Advanced configuration` page rather than on the "configuration" page. Then we could go into more step-by-step detail.

[2018-09-12 15:34] larsoner commented on #150
It sounds like @t-makaro has already figure out the necessary fixes to at least remove the errors, can you make a PR?

[2018-09-12 16:03] t-makaro commented on #150
I have no idea what caused the pickling error (it occurred with both the function and the class). Is there any place that I should put my image scraper? I was just temporarily placing it in my conf.py to try to get something to work, but there must be a proper place. I'm still new to sphinx.

[2018-09-17 13:14] choldgraf commented on #150
@larsoner if you're +1 to the idea then I can make a PR!

[2018-09-17 13:41] larsoner commented on #150
Yeah go ahead

[2018-09-17 20:11] choldgraf commented on #150
@larsoner and @t-makaro see #417 which tries to clarify how to create image scrapers, and also adds the ability to embed images saved to disk within the example (which should solve your GIF use-case, I believe)

[2018-09-17 21:40] betatim opened #418 "Broken binder links"
If you visit https://sphinx-gallery.readthedocs.io/en/latest/auto_examples/plot_sys_argv.html#sphx-glr-auto-examples-plot-sys-argv-py and click on the Binder badge you get sent to:

https://mybinder.org/v2/gh/sphinx-gallery/sphinx-gallery.github.io/master?urlpath=lab/tree/notebooks/auto_examples/plot_sys_argv.ipynb

The idea (inferred from the link) is to open a particular notebook in Jupyter lab,

[2018-09-19 08:42] minrk commented on #418
This is a bug [in jupyterlab](https://github.com/jupyterlab/jupyterlab/pull/5340) where tree links are encoded as url *components* instead of urls, so the link would have to be `urlpath=lab/tree/notebooks%2Fauto_examples%2Fplot_sys_argv.ipynb`. This should be fixed in jupyterlab 0.35.

[2018-10-10 14:26] choldgraf opened #419 "Runnable code in examples?"
In a recent convo on the scikit-learn repository, @betatim mentioned that spacy uses javascript to make the code on a *static* page runnable by connecting to Binder. I wonder if that's something we could hack together with sphinx-gallery pages. @betatim, do you have a pointer for where the relevant JS lives?

For reference here are some relevant pages:

https://spacy.io/
https://minrk.github.io/th

[2018-10-10 14:37] choldgraf commented on #418
lab 0.35 is out now, right? If so we should push to master and see if that fixes the path updating problem

[2018-10-10 15:42] betatim commented on #419
They use https://github.com/ines/juniper to make it happen for their docs. It is based on thebelab.

To make your code go:
[code]
plus some JS at the ~top~bottom of the page:
[code]
(pick a repo that has the libraries installed that you need)

[2018-10-11 12:18] GaelVaroquaux commented on #419
It would be amazingly cool!

[2018-10-12 09:10] maartenbreddels opened #421 "Executing and capturing rich output using notebook / nbconvert"
@lesteve : @SylvainCorlay suggested I ping you to include you in the conversation

Dear all,

Let me start with saying this is a really awesome project, and I've already managed to get it working with ipyolume (#420) quite easily.
Together with @SylvainCorlay we have been thinking of how we can have general ipywidgets support, and even xwidget (using C++ kernels).
In parallel to this, there is thi

[2018-10-12 09:28] GaelVaroquaux commented on #421
Thanks for the positive feedback.

One challenge is that I really don't like adding dependencies. More
dependencies make setting this up in a CI more difficult. For instance it
creates unsolvable constraints in the set of conda requirements (we have
a lot of this in scipy-lectures, where each time we change our
requirements we need to fiddle with it for a couple of hours before we
get in a stable

[2018-10-12 09:44] maartenbreddels commented on #421
What are the dependencies that you worry about specifically? Is this something that maybe can be fixed in nbconvert, by having optional dependencies?

What I like about the suggested approach is that nbconvert solves a problem that we need, and I would rather improve the whole jupyter ecosystem (that is nbconvert) than trying to solve the same issue in multiple packages.

I feel your pain, and I'm

[2018-10-12 09:56] GaelVaroquaux commented on #421
Overall the very long list of additional ones.

That would absolutely help.

Yes, but the jupyter ecosystem is a fairly heavy tool :).

The most important thing is loosening up the dependencies, both with less
dependencies, and with a flexible set of required version. I just tried
installing nbconvert in one of our working environments, and was really
amazed by what it brought it.

If you're curio

[2018-10-12 16:48] choldgraf commented on #421
These are the packages that nbconvert needed to install for me (in a fresh conda environment with only `pip` installed, just as an FYI.

[code]

No idea which of these is more/less beefy than others, just an FYI :-)

[2018-10-18 05:06] choldgraf opened #424 "Investigate jupytext for code conversion"
There's an interesting project called "jupytext" (https://github.com/mwouts/jupytext) that, as far as I can tell provides a lightweight "python to jupyter notebook" converter (they even [already support sphinx gallery](https://github.com/mwouts/jupytext#sphinx-gallery-scripts) format).

Anybody have experience with the project before?

[2018-10-23 08:08] mueslo opened #425 "'make html' does not attempt to run examples"
I'm trying to get started with sphinx-gallery. As far as I can tell I followed the instructions exactly. The issue is that sphinx does not even try to execute the example scripts, so no previews or images are being generated.

[code]

This generates all the galleries, code snippets, etc. just fine, but as you can see from the zero-second computation time, the example scripts aren't touched. I can

[2018-10-23 15:31] choldgraf commented on #425
by default, SG will only run examples that begin with `plot_`...is that true in your case? I've been burned by this before...

[2018-10-23 18:46] mueslo commented on #425
Yeah, that fixed it, thank you!

I'm leaving this issue open because this seems to be a rather glaring oversight in the documentation. Nowhere I can find does it state that this is the default behaviour.

[2018-10-23 19:41] larsoner commented on #425
@mueslo can you open a PR to add a note about the default here:

https://sphinx-gallery.readthedocs.io/en/latest/getting_started.html#structure-the-examples-folder

And here:

https://sphinx-gallery.readthedocs.io/en/latest/configuration.html#parsing-and-executing-examples-based-on-matching-patterns

These HTML files are built based on files in `doc/*.rst`.

[2018-10-23 20:37] choldgraf commented on #425
@mueslo agreed - we should definitely do this.

Actually, maybe a controversial statement, but I'd think that it's more important to use a regex to define examples to *skip* rather than examples to plot. Wouldn't most people assume what @mueslo did, which is that SG will by default run all of the examples in a folder that you specify?

[2018-10-25 15:34] choldgraf commented on #411
@emmanuelle thanks for the tip - I actually got this fixed in this PR: https://github.com/jakevdp/PythonDataScienceHandbook/pull/145

shoulda updated this issue, sorry :-)

[2018-10-26 21:20] Titan-C commented on #425
There was a hint to it in the previous documentation.
https://github.com/sphinx-gallery/sphinx-gallery/pull/403/files#diff-88b99bb28683bd5b7e3a204826ead112L145

@choldgraf the "plot_" pattern is there for legacy reasons, but I do see a great value on having that as the default. I do understand that a new project adopting Sphinx-Gallery will have a bunch of files that don't begin with `plot_` and w

[2018-10-27 05:55] #425 closed

[2018-10-27 06:55] choldgraf opened #427 "Create sphinx-gallery-extra"
There have been a few moments now where it seems like a particular feature would be useful (e.g. allowing for notebook inputs utils as in #423 ) but it's stalled because there's disagreement about adding new dependencies etc.

The idea has been thrown around before for a repository that can be a bit more loose in its restrictiveness. Are people still interested in this?

[2018-10-27 19:58] GaelVaroquaux commented on #427
+1 for creating a sphinx-gallery-extra

Note that the lack of reply on some of the interesting proposals that
fell in recently is nothing more than a lack of time, rather than a lack
of interest. Some of the constraints on requirements could be lifted to
some point.

[2018-11-07 15:54] Korijn opened #429 "Multiple images in horizontal list are not clickable (cannot zoom in)"
We recently tried upgrading from sphinx-gallery 0.1.10 to 0.2.0 and where previously multiple images would end up vertically stacked, they now become much smaller and are horizontally stacked. We can update our examples to increase text size so that the thumbnails are readable again, but more importantly the click-to-enlarge feature is now gone? Can we opt out of this new behavior?

[2018-11-07 16:02] choldgraf commented on #429
@Korijn can you provide a link to the repo / website you're talking about? It's a bit hard to debug otherwise :-)

[2018-11-07 16:14] Korijn commented on #429
It's closed source :) I'll try to make a minimal example later. Thanks

[2018-11-09 08:41] Ayesha2788 commented on #229
Hi  I am a beginner to Sphinx and restructured Text can anyone guide me how to resolve this error:
/Users/user/documentation/docs/source/index.rst:: WARNING: image file not readable: picture.jpeg

I don't know where to save this image. and I am using Sphinx and visual studio code editor on Mac

this is the code I have written on Mac

.. image:: picture.jpeg
   :height: 100px
   :width: 200 px
   :

[2018-11-15 03:31] #203 closed

[2018-11-16 17:20] choldgraf commented on #419
FWIW, I got juniper working "well enough" on the [jupyter book repo](https://github.com/choldgraf/jupyter-book). It would take a bit of hacking to get the CSS looking nice (it replaces the `pre` cells with interactive versions using JS). That said, I think it's definitely doable. A few things I noticed:

* The transition from static -> interactive will require some tweaking (e.g. CSS, formatting,

[2018-11-17 10:00] mwouts commented on #424
Hello @choldgraf , thanks for your interest in Jupytext. Let me comment a bit more on Jupytext and sphinx-gallery:
- Jupytext is a *two way* converter, with lots of efforts invested in testing the round trip conversion.
- For the `sphinx` format, the parsing of cells is done by Jupytext itself, while the optional conversion from rST to md is done using `sphinx-gallery`.
- My initial recommendation

[2018-11-19 06:32] rschmaelzle opened #434 "realtive paths in github.io"
Hi,
i am not sure this belongs here. I am stuck with setting up sphinx-gallery in my github.io. I managed to create the gallery locally, but when I serve it to github.io, the paths are getting messed up: e.g. one cannot navigate to (../_images/sphx_glr_plot_notebook_thumb.png) because it is misinterpreted.  If i navigate manually to https://github.com/username/projectname/blob/master/_images/sphx_

[2018-11-19 16:45] rschmaelzle commented on #434
I am closing this myself. It has to do with a .nojekyll file being needed for static gitub pages. Couldn't find it in the documentation though. r

[2018-11-19 16:45] #434 closed

[2018-11-19 17:11] choldgraf commented on #434
woot! good to hear you figured it out...I've been burned by `.nojekyll` many times :-)

[2018-11-19 17:16] rschmaelzle commented on #434
@choldgraf still: thank you very much!

[2018-11-19 17:54] larsoner commented on #434
@rschmaelzle if you can think of a suitably place in the `configuration.rst` or other file to have a RST `.. note::` about `gh-pages` nojekyll, a PR would be appreciated

[2018-11-27 14:01] Artemis-R opened #435 "Won't display stdout"
I want to implement a new gallery for a python package I am working on. To start of I wrote a very simple python script to generate an example where I wanted the standard output to be displayed.

my example script:

[code]

When I build my documentation though it ends up looking just like this:
![image](https://user-images.githubusercontent.com/15019107/49086417-bef98b80-f254-11e8-8e1a-aa16787e609

[2018-11-28 02:01] choldgraf commented on #435
@Titan-C what if we just added something like:

[code]

[2018-11-28 02:04] larsoner commented on #435
And also if no examples match, a stdout print at the end saying "\nSphinx gallery did not find any examples to run matching the pattern {0}.\n" or so, so people see it in their sphinx output.

[2018-11-28 05:48] Artemis-R commented on #435
Yes this was indeed the issue. Thanks! I think both of those suggestions would be helpful and would have aided me in solving this issue by myself.

[2018-11-30 18:54] gregmedlock commented on #5
Just raising this again to emphasize a use case--my gallery is a mix of examples that can be reasonably summarized by a plot, and other cases where a conceptual summary figure is more valuable (or, as in the OP, no plot is ever generated).

In my scenario, the summary figure  is unique to each example and is produced with vector art software (e.g. inkscape/illustrator). Using a single default thum

[2018-11-30 21:39] choldgraf commented on #5
@gregmedlock is your main concern getting a custom thumbnail for each gallery? (aka, it's not enough to just know ahead of time the filename and manually embed with rST)

You may be interested in the image scraper defined here: https://github.com/sphinx-gallery/sphinx-gallery/pull/417

Once that gets merged into s-g-e it might do the trick for you, WDYT? https://github.com/sphinx-gallery/sphinx-ga

[2018-12-05 17:05] Titan-C commented on #5
Would it be an option for you to load the vector file with
matplotlib. Then Matplotlib will plot it. Then Sphinx-Gallery will
capture that plot and present it in your example HTML file and make a
thumbnail of it.

I understand that such behavior would lead to some unrelated lines of
code to load the figure, but it a quick workaround which you can
surround in comments.

[2018-12-11 01:18] choldgraf opened #438 "Improve binder button instructions"
I just gave a shot at using the binder instructions and had a few thoughts for improvements:

1. It's not clear what some of the configuration options are used for (e.g. username/org/branch are used *only* to create the binder links)
2. Specifically, the 'dependencies' option was a bit confusing especially if you're *already* using a `binder/` folder.
3. We should update to use the new binder badg

[2018-12-14 09:19] maartenbreddels commented on #399
I didn't understand this as well, and found a solution: https://github.com/sphinx-doc/sphinx/issues/2090
(also knowing sphinx-gallery could do it)

[2018-12-14 16:07] larsoner commented on #421
One path forward is to nest any `nbconvert` imports in functions that need it. Then projects that don't need to use it (i.e., all existing projects) don't need to change their deps, but new projects that want it can sort it out.

It does increase our overhead a bit. However, I have a keen interest in getting this to work for MNE, so I can volunteer to take care of the sphinx-gallery CIs.

@GaelVar

[2018-12-17 15:38] maartenbreddels commented on #421
I am working on this but trying a different, less opinionated approach.
The idea is:

 * Several `thumnail_target_*` directives that are free to do what they want (e.g. run some code in the python process, run a piece of c++ code in a Jupyter kernel) but should put a thumbnail and metadata in `env.thumbnails`.
 * Have a `thumbnail` directive that creates a thumbnail with the exact same style as sp

[2018-12-17 15:55] larsoner commented on #421
This new proposal looks like a generalization of what we already have: our existing / default `thumbnail_target_*` would be `thumbnail_target_python` in this refactored code. Is that correct?

If so, then this sounds like a nice, reasonable generalization of #313. Then perhaps the `nbconvert`-based "thumbnailing"/running code could live as hopefully simple extensions in https://github.com/sphinx-g

[2018-12-17 15:56] larsoner commented on #421
(This would allow SG to stay relatively lean and backward compatible, and s-g-e could have the heavier CI dependencies needed to test and build the docs for the `nbconvert`-based extensions.)

[2018-12-17 16:08] maartenbreddels commented on #421
indeed, that could be 1 implementation.

That might be a good idea. I'll keep that in mind. My focus is to get something lightweight working, with minimal code and effort.

[2018-12-17 16:11] larsoner commented on #421
Unfortunately this will probably conflict with the refactoring idea, since I think it would be a bit of effort to get all of the interfaces/APIs right at the Sphinx-gallery end in the first place (i.e., just supporting the existing Python workflows properly). For long-term sustainability it would be nice to avoid people having to fork and/or copy-paste bits of sphinx-gallery to get the functionali

[2018-12-17 16:16] maartenbreddels commented on #421
Absolutely agree that would be perfect, but I cannot make promises. The most practical solution for me is I push this to a repo, but not release on PyPI yet, or just deprecate the package once it lands in sge.

[2018-12-25 19:50] shreyasbapat opened #440 "BUG: Spaces in example filenames break image linking"
I get to see this in place of the plots. Please guide me where I am wrong.
![screenshot from 2018-12-26 01-18-22](https://user-images.githubusercontent.com/24257914/50426128-554cbb80-08ac-11e9-92ab-5b43842fedd8.png)
Thanks! :)

[2018-12-25 19:52] shreyasbapat opened #441 "Support for Plotly"
Nothing is much clear about the support of sphinx gallery for plotly. It is clear that it just supports matplotlib, seaborn and mayavi. Perhaps more clearity on is it possible to use sphinx gallery for showing plots on plotly?

[2018-12-25 20:00] shreyasbapat commented on #440
Perhaps, the path in the output block is wrong. The `auto_examples` is extra. But I have not configured this! Any help?

[2018-12-25 21:32] shreyasbapat commented on #441
When trying to render Plotly graphs in it, I get such an output :
[code]

[2018-12-26 10:53] Juanlu001 commented on #441
I guess the key issue is https://github.com/sphinx-gallery/sphinx-gallery/issues/396?

[2018-12-26 13:52] choldgraf commented on #441
By default, it only captures outputs from matplotlib, however there's a mechanism to build in a new "image scraper" that could be tuned for plotly:

https://sphinx-gallery.readthedocs.io/en/latest/configuration.html#image-scrapers

I think it should be relatively do-able assuming that plotly generates a single set of HTML that represents an image. I'm guessing the current sphinx-gallery community

[2018-12-26 14:50] choldgraf commented on #440
@shreyasbapat what are you using to host the site? It looks like you're serving from `localhost` though with sphinx you don't need to "serve" the site do you?

double-check that files are in the expected places in your build folder as well - `auto_examples` should be created in your documentation folder when you build the site - it contains the rST and images that are built from your examples

[2018-12-26 16:32] shreyasbapat commented on #440
Thanks @choldgraf for a prompt reply.

That's precisely the issue. I am not controlling the links of the images. The links fo the images are incorrect.
Its like, There is a folder `auto_examples` where the final rST is stored. There is a folder in the directory named `images` where the images are stored.
Path to the images are like : `auto_examples/images/...`

while it should be :  `images/...`

[2018-12-26 16:34] shreyasbapat commented on #440
Here is what I am trying to simulate. : https://poliastro-py.readthedocs.io/en/sphinx-gallery/auto_examples/plot_Analyzing%20the%20Parker%20Solar%20Probe%20flybys.html#sphx-glr-auto-examples-plot-analyzing-the-parker-solar-probe-flybys-py
This is how the gallery is looking when served by Read The Docs.

[2018-12-26 16:40] shreyasbapat commented on #441
@choldgraf Is there any developer chat room for `sphinx-gallery` ? I would try to attempt it.

[2018-12-27 09:59] choldgraf commented on #441
mmm, I think that this is the closest thing to it :-)

What I'd do is start off by defining your own scraper class in your `conf.py` file, and see if that gets it working. If it does work, we can look into either contributing it here, or we could look into adding it to `sphinx-gallery-extra` which has slightly less-strict standards about things like backwards compatibility etc

[2018-12-27 10:00] choldgraf commented on #440
hmm - could you provide a link to the github repo?

[2018-12-27 10:17] choldgraf commented on #421
Just a note that this is one reason we created sphinx-gallery-extra...it's a place to play around with useful-but-less-stable code, require more complex dependencies, not support as many older versions of python, etc. Happy to iterate on contributions there @maartenbreddels

[2018-12-27 16:14] shreyasbapat commented on #440
Sure @choldgraf  here's the link to the repo.
https://github.com/shreyasbapat/poliastro

[2018-12-28 16:01] shreyasbapat commented on #440
Sorry. This is the proper link.
https://github.com/shreyasbapat/poliastro/tree/sphinx-gallery

Plus this is the link to configuration file.
https://github.com/shreyasbapat/poliastro/tree/sphinx-gallery/docs/source/conf.py
https://github.com/shreyasbapat/poliastro/tree/sphinx-gallery/docs/source

[2019-01-07 23:00] ksunden commented on #406
Is there anything holding up this release? I have a project that is stuck on `v0.1.12` due to the resetting of modules that the current master opens up the API to fix via the "reload_modules" config parameter.

[2019-01-08 02:02] choldgraf commented on #406
I believe that @Titan-C wanted to get something in before the next release, though IMO it has been long enough that it'd be better to just cut a new release.

[2019-01-08 22:13] larsoner commented on #406
It has been a while with no progress, so I think we should move on and release. We have some statements about experimental-ness so I think we'll be okay.

[2019-01-09 17:21] choldgraf commented on #406
+1 from me

[2019-02-05 17:07] tacaswell opened #442 "gallery generation broken on cpython master"
Have not had time to dig into why (or have a minimal example), but seeing things like

[code]
when trying to build the Matplotlib docs.

This makes me think that the module docstring is not being correctly identified as such.  Similar things have happened before when details of the AST changed.

[2019-02-05 18:23] tacaswell commented on #442
Also suspect it is related to https://github.com/ipython/ipython/pull/11593

[2019-02-05 18:31] Carreau commented on #442
see https://github.com/ipython/ipython/pull/11593

[2019-02-05 18:31] Carreau commented on #442
Sorry wrong issue number. Comment edited.

[2019-02-05 18:40] Carreau commented on #442
You spelled it wrong :-)

[2019-02-05 19:08] NelleV commented on #442
I've opened a PR #443 to identify those early.

(@Carreau I suspect @tacaswell named his computer after the bar, and not the project :thinking: )

[2019-02-05 19:24] tacaswell commented on #442
neither the bar nor the project (or the planet)

[2019-02-10 16:50] choldgraf opened #444 "Remove the readthedocs version of sphinx gallery docs"
Right now there are two sets of documentation for sphinx-gallery:

One on gh-pages (the "official" one): https://sphinx-gallery.github.io/
One on readthedocs (an outdated one): https://sphinx-gallery.readthedocs.io/en/latest/

as far as I can see, the RTD one isn't being built anymore, which means that it'll get quite confusing to people if we have two versions of the docs floating around on the i

[2019-02-10 17:00] larsoner commented on #444
Agreed there should only be one, +1 for deleting RTD since the other one is automatically updated already

[2019-02-11 12:36] larsoner commented on #192
Nowadays `pip` allows easy installation of everything, and I tend to find more harm than good done by omitting things from the requires list. I'd be fine adding `matplotlib`, `sphinx`, and `pillow` as dependencies (and adding a CI entry that things can actually work with this setup). Mayavi should be excluded, or added as an optional so people can do `pip install sphinx_gallery[mayavi]`.

[2019-02-11 13:14] GaelVaroquaux commented on #192
+1

+1

+1

[2019-02-11 16:00] #438 closed

[2019-02-11 16:32] choldgraf commented on #192
note that this is now largely being addressed in @larsoner 's PR: #445

[2019-02-12 11:11] #192 closed

[2019-02-12 15:56] #435 closed

[2019-02-13 14:08] sizmailov commented on #343
Here is another way to face the error.
1. Point to non-existing thub image in `conf.py`
[code]
2. do `make html`. Build fails with
```FileNotFoundError: [Errno 2] No such file or directory: 'non-existing.png'```
3. Fix the image path
4. Do `make html`. Build fails with

```FileNotFoundError: [Errno 2] No such file or directory: ' ... /plot_example.ipynb'```

Workaround:
`make clean && rm -r source

[2019-02-21 19:43] larsoner commented on #406
@choldgraf you want to do a release? #446 could go in `3.0`.

[2019-02-24 19:58] choldgraf commented on #406
I'll give it a shot when I have a moment and will report back here if I run into any problems. Do we have a release guide?

[2019-02-24 20:03] larsoner commented on #406
Not that I'm aware of

[2019-02-26 21:25] jklymak opened #449 "sphinx-gallery doesn't play nice with sphinx's ability to detect new files..."
As pointed out by @larsoner (https://github.com/sphinx-gallery/sphinx-gallery/pull/448#issuecomment-467608061_):

I think I have narrowed it down to these to `conf.py` entries:
[code]
I'm guessing that it's because Sphinx can't tell if these config values have changed or not, so decides to re-write everything. With those two lines as they are in `mpl` master:

... what we could do is allow these e

[2019-02-28 06:55] drammock opened #452 "SG not respecting highlight_lang in conf.py"
If I specify `highlight_language = 'python3'` in my `conf.py`, sphinx-gallery nonetheless outputs code blocks starting with:
[code]
...presumably because of [default `lang=python` arg in `codestr2rst`](https://github.com/sphinx-gallery/sphinx-gallery/blob/40aec52de43e4c27b000e054ae50eae6fb0f30e2/sphinx_gallery/gen_rst.py#L178).  This leads to errors where plain RST files get lexed as python3, but

[2019-02-28 12:51] larsoner commented on #452
if we just use `.. code-block::` instead of `.. code-block:: python` it should automatically use the current default. I assume this isn't done because someone might have changed the highlight language for a specific file (?), such as if there are going to be more `bash` commands or something. So maybe the thing to do is look at the current default `highlight_language` (which should almost always b

[2019-02-28 18:07] drammock commented on #452
Just confirming I understand you correctly: the downside to in this case use `.. code-block::` without specifying a language (or `::` on a line by itself) is that, if someone had a block like
[code]
then the `.. highlight:: console` directive would apply to the python code following that RST block, yes?  So the SG-generated code blocks must be marked for language to guard against this.  I guess th

[2019-02-28 18:21] larsoner commented on #452
Indeed that's my thinking @drammock

[2019-03-03 02:40] #442 closed

[2019-03-04 17:15] #452 closed

[2019-03-04 19:41] #449 closed

[2019-03-04 19:41] #394 closed

[2019-03-04 19:41] #395 closed

[2019-03-06 19:07] choldgraf commented on #406
pinging @Titan-C @larsoner @GaelVaroquaux @lesteve again as I've added a little todo list to the top of this issue with some actionable things I could use help with to release 2.1...I'd love a hand in figuring this out!

[2019-03-06 19:13] larsoner commented on #406
I *think* that the image scraper stuff was meant to be in 0.3.0 not 0.2.1. But I'm fine with making our lives simpler and just releasing 0.3.0 now just using the current state of `master`. The 0.3.0 milestone only really has #423 in it, and I'm fine moving that to a new 0.4.0 milestone.

[2019-03-06 19:20] larsoner commented on #406
@GaelVaroquaux can you give me (pypi username: Eric89GXL) and @choldgraf (pypi username: choldgraf) [maintainer access to S-G](https://pypi.org/manage/project/sphinx-gallery/collaboration/)?

[2019-03-06 19:34] GaelVaroquaux commented on #406
Done!

Glad to have you guys on board!!!

[2019-03-16 16:24] choldgraf commented on #406
@GaelVaroquaux how about for "https://test.pypi.org/" as well?

[2019-03-16 16:33] choldgraf commented on #406
(btw, I'm updating all of this in #455 )

[2019-03-18 16:52] choldgraf commented on #406
(friendly ping to @GaelVaroquaux or @Titan-C , who I think are the only two people that have access to the test pypi account in order to add people...I could cut a release without following the instructions and publishing to test pypi, but the german part of me doesn't like not following official release instructions :-) )

[2019-03-21 20:13] choldgraf commented on #406
pinging again. Alternatively are people OK with me deploying to PyPI without first deploying to the test PyPI? @larsoner what do you think?

[2019-03-21 20:15] larsoner commented on #406
Just do pypi. If you mess up you can immediately cut a 0.3.1 release (or progressively higher release until you get it right) :)

[2019-03-22 00:19] GaelVaroquaux commented on #406
I am sorry, I don't even have an account on test.pypi.org. I've never
uploaded a package there.

[2019-03-22 04:51] choldgraf commented on #406
ah ok - I guess only @Titan-C has access to it then? I'll plan on pushing to pypi tomorrow AM then

[2019-03-22 07:48] lesteve commented on #406
Seems reasonable. Another possibility if you want to do some testing on test.pypi.org, is to create another package (e.g. sphinx-gallery-choldgraf) on test.pypi.org.

[2019-03-22 16:02] GaelVaroquaux commented on #406
Change it, then!

[2019-03-22 16:04] choldgraf commented on #406
OK, I've done the following:

* Pushed a new version v0.3.0 to PyPI: https://pypi.org/project/sphinx-gallery/
* Made a GitHub release (https://github.com/sphinx-gallery/sphinx-gallery/releases/tag/v0.3.0)
* Bumped the version to dev again: #457
* Updated the release documentation PR with new info: #455 (would love a review there)

[2019-03-22 16:36] nabobalis commented on #406
I just tried to update to the latest version and this happened.

[code]

[2019-03-22 17:10] drdavella opened #459 "Version 0.3.0 release is broken on pypi"
Just did `pip install sphinx-gallery` in a clean Py37 environment and got this:
[code]

[2019-03-22 17:39] GaelVaroquaux commented on #459
I've cut a new release. This should be fixed. Can you please confirm.

Thanks

[2019-03-22 17:40] drdavella commented on #459
Looks good now.

[2019-03-22 18:07] fabianp opened #460 "title convention violates docstring convention (PEP 257)"
As far as I understand, there is currently no way to have the examples simultaneously adhere to [PEP 257](https://www.python.org/dev/peps/pep-0257/) and have the title recognized correctly by sphinx-gallery.

In particular, the issue is in the second line. PEP 257 requires that docstrings consists of a summary line *followed by a blank line*, i.e., something like this:

"""This is my cool example.

[2019-03-22 20:11] Titan-C commented on #444
Yes, I also agree. I first took the project down. But then, brought it back up to try to make a redirect page to the github docs. Still working on it. Does some of you have readthedocs account so that I can make you a maintainer too?

[2019-03-22 20:21] GaelVaroquaux commented on #444
I am gael.varoquaux@normalesup.org

[2019-03-22 20:23] Titan-C commented on #444
Hi @GaelVaroquaux, read the docs does not take your email as user.

[2019-03-22 20:25] Titan-C commented on #444
Doesn't seem like readthedocs allows for complete redirects. https://github.com/rtfd/readthedocs.org/issues/3577

[2019-03-22 20:28] GaelVaroquaux commented on #444
OK. Apparently, my user name is GaelVaroquaux

[2019-03-22 20:48] GaelVaroquaux commented on #459
Thanks. Closing.

[2019-03-22 20:48] #459 closed

[2019-03-22 20:59] Titan-C commented on #444
I created a new orphan branch `readthedocs`, that one build a documentation that redirects to github from read the docs.

[2019-03-22 21:01] GaelVaroquaux commented on #444
@Titan-C : great job. It works well!!

[2019-03-22 21:20] larsoner commented on #460
Not that I know of currently. We could add a config arg `title_format='rst' | 'pep257'`, the former (default) what we do now and the latter taking whatever the first line happens to be and treating it like a title (probably by adding `===` above and below it in the output RST).

[2019-03-22 21:35] larsoner commented on #406
Thanks @choldgraf @GaelVaroquaux

[2019-03-22 21:35] #406 closed

[2019-03-23 12:58] GaelVaroquaux commented on #444
It's still alive!

https://sphinx-gallery.readthedocs.io/en/latest/

[2019-03-23 16:20] choldgraf commented on #444
it's alive but at least redirects to `github.io` for me (and also has text on it saying "go to github.io"), which I think is an OK solution

[2019-03-23 16:27] GaelVaroquaux commented on #444
Indeed. Maybe it was a cashing problem on my side: I had to hard refresh to see the redirect.

Closing again.

[2019-03-23 16:27] #444 closed

[2019-03-25 07:11] steffengraber opened #463 "Change output format of images"
I haven't found a way to change the output format for images yet. My goal would be SVG. How to do this?

[2019-03-25 14:13] fabianp commented on #460
Thanks for the response. Otherwise I think it could detect it automatically. If the first line has text but the second one is a blank line I think it would be safe to assume that the first line should be the title of the docstring.

Said otherwise, I think the most convenient behavior would be for sphinx-gallery to understand that the first line is the title on both cases: whether the second line

[2019-03-25 15:18] lesteve opened #464 "Small regression in 0.3.1 with output figure numbering"
There is a change of figure numbering. Before it was based on the matplotlib figure number now it is 1,2, ..., `number_of_figures`.

This is a small change that was spotted in scikit-learn doc (https://github.com/scikit-learn/scikit-learn/pull/13513), because:
- in the example .py file, we use `plt.figure(0)`
- in the rst we include the figure with `.. figure:: ../auto_examples/gaussian_process/im

[2019-03-25 15:45] choldgraf commented on #463
I don't believe it's possible currently - see the scraper documentation for how this is implemented, and could potentially be extended:

https://sphinx-gallery.github.io/advanced.html#writing-a-custom-image-scraper

and here's the matplotlib scraper that gets called:

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/scrapers.py#L59

[2019-03-25 19:57] larsoner commented on #463
There is no config param for this, but it should be fairly straightforward to copy the `matplotlib` scraper and make the appropriate changes. Feel free to give it a shot and let us know how it goes.

[2019-03-25 20:13] larsoner commented on #460
I see how this would be more convenient, but it also has a downside. Currently one helpful function of SG is in enforcing some uniformity in example writing. If we started automatically allowing multiple conventions simultaneously, users of SG who follow the RST convention and rightfully expect it to enforce some aspects of this convention -- especially since it has done so for a while now -- coul

[2019-03-25 20:33] GaelVaroquaux commented on #460
I'm with you here. The current behavior of sphinx-gallery is simple to
document and implement. It leads to no surprises.

[2019-03-26 12:38] GaelVaroquaux commented on #408
Done. Thanks @choldgraf !

[2019-03-26 12:38] #408 closed

[2019-03-26 12:41] GaelVaroquaux opened #465 "pythonhosted.org seems to be still up and running"
https://pythonhosted.org/sphinxgallery/ : it is a vastly outdated version of the documentation. We should take it down.

Related to #86

ping @Titan-C

[2019-03-27 19:25] #464 closed

[2019-03-27 23:01] Titan-C commented on #465
https://pythonhosted.org/sphinxgallery/

Unfortunately I don't have access to this. That project was deleted and
I can't take the docs down. Not sure what to do in this case.

[2019-03-28 01:30] larsoner commented on #465
A quick search yielded:

https://stackoverflow.com/questions/6521931/how-to-delete-documentation-from-pypi/6531582

If nobody beats me to it, I can try tomorrow.

[2019-03-28 01:32] larsoner commented on #465
... oh I get it, you deleted the package completely.

I would try re-creating the package, then doing a doc upload, then a doc delete. If this does not work, we can try emailing the Pypi people. I'll try these steps tomorrow.

[2019-03-28 01:33] larsoner commented on #465
Hmm, https://pypi.org/project/sphinxgallery/ does exist but it looks like it is not real...

[2019-03-28 01:49] larsoner commented on #465
See https://github.com/pypa/warehouse/issues/5641

[2019-03-28 12:03] larsoner commented on #465
Emailed the (likely) white-hat namesquatter for permissions

[2019-03-28 23:08] mdeff opened #467 "intersphinx links need backreferences_dir"
For my intersphinx links (i.e., from examples to API reference) to appear, I had to add
[code]
to my configuration. Is this a bug or an omission in the doc? The doc only mentions those options for mini-galleries (i.e., links *to* examples).

[2019-03-29 01:03] larsoner commented on #467
It's entirely possible that this is a bug since most people use the backreferences. Can you see if you can replicate easily with the tests/tinybuild doc build? You can modify the conf then "make html" and "make show" to see.

[2019-03-29 01:36] larsoner commented on #467
I can confirm that commenting out the `'backreferences_dir'` entry `tinybuild/conf.py` is enough to make `tinybuild/_build/html/auto_examples/plot_numpy_matplotlib.html` no longer properly link to `is_color_like`.

The `doc_module` probably does need to be there either way (and that requirement at least seems reasonable), but we probably do need to document that at least.

So we have one doc probl

[2019-03-29 02:07] mdeff commented on #467
Thanks for your investigation @larsoner! No problem for me, it works with backreferences enabled.

BTW I find this `doc_module` a bit redundant. I guess people will always want to document their own package, and for the others they could use intersphinx as mentioned in the doc.

[2019-03-29 18:16] larsoner commented on #465
Docs have been removed

[2019-03-29 18:16] #465 closed

[2019-03-29 18:47] GaelVaroquaux commented on #465
Great job!!

⁣Sent from my phone. Please forgive typos and briefness.​

On Mar 29, 2019, 19:16, at 19:16, Eric Larson <notifications@github.com> wrote:

[2019-04-02 20:55] banesullivan opened #469 "how to make custom image scraper"
I'd like to make a custom image scraper for [`vtki`](http://docs.vtki.org) with a goal of eventually contributing it here. I have a feeling this should be pretty similar to what's going on in the Mayavi scraper but I'm unsure on how to get started making a custom scraper.

Could someone help me understand what the scraper is doing and outline some psuedocode on how to make my own?

## Application

[2019-04-02 21:25] leouieda commented on #469
Hi @banesullivan, I've had success doing this for PyGMT in GenericMappingTools/pygmt#268. The easiest way is to have a global list of open figures that can accessed by your library. I keed track of all figures that had their `show` method called [using a global variable](https://github.com/GenericMappingTools/pygmt/blob/master/pygmt/figure.py#L28) that I then use to [generate the PNGs for sphinx-g

[2019-04-03 04:11] banesullivan commented on #469
This was actually really easy! Got it up and running piggy-backing off of what you did for PyGMT, thanks so much @leouieda!

![Screen Shot 2019-04-02 at 10 08 42 PM](https://user-images.githubusercontent.com/22067021/55452254-0c379200-5594-11e9-9398-aba07ac7bff8.png)

One problem I'm thinking about... read the docs probably cannot handle setting up all the dependencies to run `vtki`... should I sw

[2019-04-03 04:20] leouieda commented on #469
@banesullivan I'm glad it worked! I would recommend deploying from Travis in this case. I have some scripts that I use in [fatiando/continuous-integration](https://github.com/fatiando/continuous-integration) but they use tokens to authenticate with Github. I would recommend using [doctr](https://github.com/drdoctr/doctr) to actually upload the docs.

[2019-04-03 13:30] fabianp commented on #460
@larsoner yeah I can give it a try

[2019-04-03 14:12] larsoner commented on #469
I see now we have a linking problem in https://sphinx-gallery.github.io/configuration.html#custom-scrapers, which should link to https://sphinx-gallery.github.io/advanced.html#writing-a-custom-image-scraper. I'll fix that momentarily.

@banesullivan can you see a way to improve these docs? Perhaps you could make a PR to adapt the PyGMT code snippets you used, since they proved generally useful?

[2019-04-03 14:21] larsoner commented on #469
Also: it's awesome to see this feature used for other viz packages! If the scraper interface (or sphinx-gallery more generally) does not provide you with what you need, let us know.

[2019-04-03 14:50] banesullivan commented on #469
After I get this all up and running, I'll take a look at what I might like to see changed in the docs.

They did provide generally useful! I might make a PR for the docs to show what I used as an example and create a template of sorts. The scraper I made for `vtki` makes the most sense to keep in the `vtki` package so that we can maintain how it accesses our visualizations.

Thanks, @larsoner! At

[2019-04-03 14:57] larsoner commented on #469
Agreed this would be excellent. We should work together to find a way to support this. There have been some efforts previously e.g. with `ipyvolume`. Feel free to dig through the open issues/PRs issues when you find some time and motivation to tackle this issue.

I see no reason in principle we can't generalize our thumbnailing code to handle GIF or PNG.

Not sure offhand. I'd start with `vim auto

[2019-04-03 15:09] banesullivan commented on #469
This is really weird... its not showing up in the `auto_examples/index.rst`:

[code]

[2019-04-03 15:29] choldgraf commented on #469
@larsoner did #470 really close this one? I feel like this issue is still unresolved

[2019-04-03 15:37] larsoner commented on #469
I'm about to open a PR to add SVG support. Then you can add GIF :)

I think so since the problem mostly seemed to be discoverability of the relevant docs. A follow-up PR to improve them is welcome, so I'll reopen so we don't forget about it.

[2019-04-03 15:51] larsoner commented on #469
The next thing I would try is using google chrome to inspect the page to see what HTML elements these correspond to. If you can copy-paste the HTML (and some surrounding lines) here perhaps it will be obvious to one of us where it comes from.

[2019-04-03 18:20] banesullivan commented on #469
It's showing up in the HTML:

[code]

Not exactly sure where it's coming from though

[2019-04-03 18:28] larsoner commented on #469
The SG doc build does not have this:
[code]
So the question is where does this `<span class="caption-number">...</span>` text come from? Something about your sphinx env during the RST to HTML with the `.. figure::` directive inserts this presumably...?

[2019-04-03 19:13] banesullivan commented on #469
Fixed the figure number issue...

another contributor specified the use of `numfig` in the `conf.py`.

[code]

fixed it!! 🤦‍♂️

[2019-04-03 19:16] banesullivan commented on #469
A final lingering question.....

since adding the `'sphinx_gallery.gen_gallery'` extension, `make doctest` fails on Travis (works fine locally though). I'm getting this weird error on travis after `make doctest`:

https://travis-ci.org/vtkiorg/vtki/jobs/515345150#L1090
[code]

Note that `make html` works fine.

Any insight?

[2019-04-03 19:22] larsoner commented on #469
I have never used the `doctest` mode of Sphinx. I would try adding `import faulthandler; faulthandler.enable()` in your `conf.py` to see where it's happening.

[2019-04-03 19:24] larsoner commented on #469
For SG at least I get:
[code]
And the contents are:
[code]

[2019-04-03 20:04] larsoner commented on #206
Closing this as the use case seems to be addressed by our new scraping API, feel free to reopen if I'm mistaken @ngoldbaum

[2019-04-03 20:04] #206 closed

[2019-04-03 20:05] larsoner commented on #253
We now build with ASCII locale and things pass, so I think this is fixed. Feel free to reopen if it's not

[2019-04-03 20:05] #253 closed

[2019-04-03 20:09] larsoner commented on #61
In theory this should be easier to do following #471

[2019-04-03 20:10] larsoner commented on #5
This should be addressable via our current scraper API, feel free to open if it's not

[2019-04-03 20:10] #5 closed

[2019-04-03 20:13] banesullivan commented on #469
Fixed by running `make html` before `make doctest` then run `make html` after... not effieicient and don't know why this is necessary on Travis but thought I'd report it in case someone else runs into this issue.

[2019-04-03 20:13] larsoner commented on #38
I'm not sure we want this, to propertly identify an image you'd need to know the examples dir, example filename, and image number. The only thing you currently need on top of that is the extension, which is always (by default at least) PNG. So I don't think we'd gain too much from the abstraction, and we'd add overhead for supporting the directive.

[2019-04-03 20:25] larsoner commented on #440
The problem is that the examples have spaces in the file names, which apparently we do not handle gracefully. Remove the spaces in the names and things work.

[2019-04-03 21:20] choldgraf opened #472 "Explain the inputs of the image scrapers"
An image scraper class has ("block, block_vars, gallery_conf") as inputs...we should explain what these are and give some context in our custom scraper docs.

[2019-04-04 03:21] banesullivan commented on #469
Note that https://github.com/vtkiorg/vtki/pull/150 pretty much resolves this. I created a scraper for `vtki` plotting which I will maintain directly in `vtki`. Perhaps I will use what I learned here to make a docs update PR!

[2019-04-04 03:21] #469 closed

[2019-04-04 18:12] jni commented on #469
@banesullivan I don't know what exactly you meant by "this", but there's much that remains unresolved imho —

- http://docs.vtki.org/examples/02-plot/plot-movie.html#sphx-glr-examples-02-plot-plot-movie-py doesn't show a movie. Would be great to have an example to embed a movie because gif is a terrible format from a bandwidth standpoint. A very simple gif is 9MB.
- this gif has a .png extension a

[2019-04-04 18:20] larsoner commented on #469
FWIW I think you can already embed arbitrary RST, so you extract the movie and add the RST/HTML to embed it *and* write out the expected `png` (which will only really be used to create a thumbnail) you might already be able to do it.

This PNG reliance is relaxed in #471 (which only adds SVG), and makes it clear where we need to change things to improve support.

There is an issue about animations

[2019-04-04 21:39] stefanv commented on #469
I got GIFs working this week; it wasn't too bad, apart from the annoying png-extension-gif issue mentioned above.  But with movies, since you need a `video` tag, it's a bit trickier.  GIFs really aren't feasible unless you don't mind massive documentation: they easily come in at many tens of megabytes each, even for short movies.

For now, my solution is to generate the movie, write out the `video

[2019-04-08 19:28] #463 closed

[2019-04-14 09:11] timhoffm opened #473 "Adding a ReST block immediately after the module docstring breaks the generated .rst file"
## Bug

It appears that both module docstring and ReST blocks are stripped of blank lines at the beginning and end.

Thus the example from https://sphinx-gallery.github.io/syntax.html

[code]

would result in an .rst file with
[code]

resulting in incorrect rendering of the section due to a missing line before it. A similar effect happens if you have just plain text paragraphs: They will be joined

[2019-04-14 12:42] larsoner commented on #473
Agreed extra blank lines should fix it without hurting anything.

Can you make a PR with regression test for this?

[2019-04-14 18:48] timhoffm commented on #473
I'm quite busy right now. I won't be getting to this within the next 1-2 weeks. If this is still open then, I will look into it.

[2019-04-16 10:04] GaelVaroquaux opened #474 "check_duplicated does not respect the ignore_pattern"
It seems that check_duplicate_filenames does not respect the ignore_pattern.

The proper fix would probably be to have collect_gallery_files respect the ignore_pattern.

[2019-04-16 21:47] ambrosejcarr commented on #219
We're trying to using sphinx-gallery for our [package](https://github.com/spacetx/starfish), but running into problems where notebooks generated by sphinx-gallery don't convert properly, which has us reverting to checking in notebooks for the time being.

Came here to +1 the issue.

[2019-04-22 14:01] jasmainak opened #476 "binder requirements with Dockerfile?"
I was trying to set up binder links for the MNE documentation with sphinx-gallery and got this error:

[code]

Unfortunately, it's not straightforward to have headless mode work with pysurfer with just a requirements.txt / environment.yml but it's possible to do this with Dockerfile. @choldgraf do you have a sense of whether this feature can be implemented easily? I can help if so ...

[2019-04-22 14:07] choldgraf commented on #476
Yep, good call

[2019-04-23 14:37] #476 closed

[2019-04-26 13:49] thomasjpfan opened #479 "Generating gallery sometimes freezes"
Generating sphinx gallery sometimes stops generating output: https://circleci.com/gh/scikit-learn/scikit-learn/56204?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-04-26 13:51] larsoner commented on #479
I see this when I run out of memory (sometimes, other times I get "Killed" in the message) or have an example that takes forever. Could one of these be the case for you?

[2019-04-26 13:55] GaelVaroquaux commented on #479
What makes you think that this is a problem with sphinx-gallery, rather
than with the build that freeze?

[2019-04-26 14:43] thomasjpfan commented on #479
When the doc build fails, it consistently fails during `generating gallery for ...`, which is where sphinx-gallery is running:

https://github.com/sphinx-gallery/sphinx-gallery/blob/83ea1ac6f5789e3ef50736d6fb8a8c21b4cd8f30/sphinx_gallery/gen_rst.py#L316-L319

It is not always the same example that the build stops at.

[2019-04-26 14:45] GaelVaroquaux commented on #479
But that's running the example, isn't it? I would think that it's the
corresponding example that is frozen.

[2019-04-26 15:11] thomasjpfan commented on #479
The build has failed for different examples, so it must be an issue common to all examples. If it is not an issue with sphinx-gallery, it could be a memory issue with plotting. Maybe we need to close figures with `plt.close` at the end of each example?

[2019-04-26 15:13] larsoner commented on #479
Have you memory profiled (`mprof run`) the examples themselves to make sure they are light weight? On MNE it seems like anything above 1GB is asking for trouble, and 2GB seems practically guaranteed to crash on CircleCI.

[2019-04-26 15:25] GaelVaroquaux commented on #479
I think that sphinx-gallery does close the figures behind the hood. Or at least it used to.

⁣Sent from my phone. Please forgive typos and briefness.​

On Apr 26, 2019, 17:11, at 17:11, Thomas J Fan <notifications@github.com> wrote:

[2019-04-27 20:29] timhoffm opened #481 "Strip in-file sphinx_gallery directives from code"
The in-file comment `# sphinx_gallery_line_numbers` and `# sphinx_gallery_thumbnail_number` are meant to control sphinx gallery behavior. They should not appear in the generated example code, as they do not have any meaning for the reader of the generated example.

I have some proof-of-concept code for this but before I poish it up for a PR, I would like to know if this is a desired feature.

[2019-04-29 11:36] larsoner commented on #481
I'm fine with adding this as a config variable, default False (leave comments in) for backward compat / equivalence between code everywhere

[2019-04-29 14:45] #473 closed

[2019-04-29 21:38] choldgraf commented on #481
+1 as an option for people that we don't force - I believe that one of the goals of sphinx-gallery is to try and be unopinionated about what "should or should not" show up in the final output - just add everything as-is, but I agree this adds unnecessary cognitive load to the reader

[2019-04-30 15:03] jasmainak opened #483 "binder integration and paths"
When trying to integrate binder links in the examples of MNE, we noticed with @larsoner a couple of problems.

1. sphinx-gallery expects the notebooks to be in a directory called notebooks/. Firstly, this appears to be restrictive as this cannot allow for building documentation of multiple versions (as is the case for MNE). The second issue is that it makes wasteful copies of the notebooks as the

[2019-05-01 15:46] emmanuelle opened #485 "Should ``image_scrapers`` be renamed (to ``output_scrapers`` for example)?"
Very nitpicky stuff, but the ``image_scrapers`` name in the configuration directory conveys the idea that image files are scraped, whereas it's rather figures or any kind of useful output. Therefore, should it be renamed to ``output_scrapers`` (or ``figure_scrapers``)?

[2019-05-01 16:02] larsoner commented on #485
At this point it only deals with images. At some point it might do more, so perhaps it was not the best naming. However, IMO correcting this misnomer (now or in the future) is probably not worth the backward compat break to change the name.

[2019-05-01 16:05] emmanuelle commented on #485
Sure, I get your point. It's also that I'm planning to work on a plotly scraper, in which case it would be html content which would be scraped, not images :-).

[2019-05-01 16:06] emmanuelle commented on #485
But once again it's very minor stuff, so feel free to close this issue.

[2019-05-01 16:33] larsoner commented on #485
Okay I'll close this in favor of continuing discussion of non-Python renderers in #441 and #421

[2019-05-01 16:33] #485 closed

[2019-05-03 08:06] emmanuelle opened #486 "See also links between examples."
In large galleries of examples it would be a great feature to have links between different examples pages, in the same way that docstrings have a see also paragraph. This would help users discover examples related to their needs. Rst has a see also directive, so it would be possible to add a block of rst code in a comment block at the end of an example script. Is it the best way to do this?

[2019-05-03 09:12] GaelVaroquaux commented on #486
You can do this by simple adding a text block: these are interpreted as
rst, and thus you can add seealso.

However, a very nice feature would be to have an optional automatic
seealso, that is generated for the examples that contain the highest
fraction of symbols in common (from an information retrieval, the right
thing to do would be to compute a tf-idf encoding of the symbol counts,
and then us

[2019-05-03 10:18] emmanuelle commented on #486
Geeky and fun! I was thinking of the manual solution but the automatic one would be very cool!

[2019-05-06 15:18] choldgraf commented on #483
yo - a couple thoughts:

* re: your first point, that's the directory where the notebooks are *generated*, right? The reason notebooks are placed there (in addition to the `_downloads` directory, where they're placed by default) is in order to let them keep their relative file positioning (e.g. so the folder hierarchy in Binder is the same as the one in your repository). I agree it's redundant, bu

[2019-05-06 15:32] larsoner commented on #483
@choldgraf what do you mean by *repo*? Do you mean where the docs are built and eventually uploaded? Because the paths do not seem to be relative to that, but rather the *host* root.

To give a concrete example, let's say I want to be able to have docs up at two URLs with the same host `https://mne-tools.github.io`, say:

- `https://mne-tools.github.io/dev/...`
- `https://mne-tolos.github.io/stabl

[2019-05-06 16:39] choldgraf commented on #483
I mean when Binder looks at a repo (generally, on GitHub) to decide how its environment should be built, it'll check the root of the repository, or the `binder/` folders, for the environment files.

So relative to a git repository, you *couldn't* store the files in `myrepo/mysubfolder/binder`. They'd need to be in `myrepo/binder/`. There is a one-to-one mapping of "Binder environment" to "git repo

[2019-05-07 00:21] jasmainak commented on #483
@choldgraf I don't quite follow. Shouldn't it be just a matter of using the right relative paths for the notebooks. How does one particular structure help as opposed to the other? At the end of the day, you are adding the relative path to the url so it shouldn't matter whether it's flat or not. Or am I missing something?

Fair enough but shouldn't it be still allowed to keep the binder environment

[2019-05-07 02:24] choldgraf commented on #483
If you're talking about where the dependency files live *before* you build the docs, those can be anywhere (and should be specified in the `dependencies` field of the binder config, see [the config docs for info](https://sphinx-gallery.github.io/configuration.html#generate-binder-links-for-gallery-notebooks-experimental)).

re: "you should only build a new docker image when the environment changes

[2019-05-10 19:00] drammock commented on #481
+1000.  @timhoffm I'd gladly review / help polish what you have if you open a PR.

[2019-05-13 17:46] #481 closed

[2019-05-17 12:53] padix-key opened #488 "Matplotlib raises warning when 'pyplot.show()' is called"
Whenever `matplotlib.pyplot.show()` is called in an example script, the following warning is displayed:

`UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.`

I am using `matplotlib 3.0.3` and `sphinx-gallery 0.3.1` at Python 3.6.

[2019-05-17 12:56] padix-key commented on #488
Possible solutions could be
- filtering the warning out
- temporarily replacing the `show()` function with an empty function

[2019-05-17 14:23] larsoner commented on #488
I think we should add a note to the docs about how to use simplefilter or something similar to do this (for projects that want to).

[2019-05-17 19:54] banesullivan commented on #483
Something relevant that I've created is a script to upload all the notebooks that are autogenerated by `sphinx-gallery` to a separate repository that can be launched on MyBinder.

I created a cookie-cutter [here](https://github.com/pyvista/cookiecutter-pyvista-binder) that has all the needed details for MyBinder to properly install dependencies needed for our project, [PyVista](https://docs.pyvist

[2019-05-17 20:12] larsoner commented on #483
What limitation did you hit with the existing binder integration:

https://sphinx-gallery.github.io/configuration.html#binder-links

that forced you to do these extra manual steps?

[2019-05-17 20:14] banesullivan commented on #483
Setting up OpenGL headless displays and needing to install dependencies from specific dev channels on Anaconda.

[2019-05-17 20:15] larsoner commented on #483
This should "just" be a matter of setting up a proper dockerfile, no?

[2019-05-17 20:16] larsoner commented on #483
... perhaps https://github.com/mne-tools/mne-python/pull/6177 can be helpful to see if there is an alternative / simpler way to do things? We didn't end up merging that PR because the MNE repo+dockerfile ended up being a bit "heavy" to rebuild all the time, but maybe this approach would simplify things for you.

[2019-05-17 20:18] larsoner commented on #483
I am no expert on these sorts of things, though -- @choldgraf knows more, any thoughts on this MyBinder integration methodology?

[2019-05-17 20:21] jasmainak commented on #483
One advantage I can see to @banesullivan 's approach is that all the notebooks live in a flat directory. So you can switch between notebooks easily (from the jupyter file menu) without having to relaunch binder (which can take a while).

I have a feeling that the mybinder integration in sphinx gallery needs more documentation for it to work for new repositories. It's not just a matter of making a

[2019-05-17 20:22] banesullivan commented on #483
In hindsight, yes, but I don't know how to make docekerfiles... I also could have set up all the MyBinder config parameters that come from that cookie-cutter in a separate repo and use the existing binder integration to push the notebooks to that repo.

Moving forward, I'll probably still use this set up for PyVista, PVGeo, [this project](https://github.com/OpenGeoVis/GeothermalDesignChallenge), a

[2019-05-17 20:24] banesullivan commented on #483
Ah yes, this has been super useful for new comers wanting to test drive a few of our examples really quickly

[2019-05-17 20:30] larsoner opened #491 "BUG: warnings/stderr not captured"
Messages sent to `sys.stderr` are not captured, but they probably should be. I think that the fix is to do to `stderr` everything that we do to `stdout` here:

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L427

Feel free to chime in if anyone has thought of this already, otherwise I'll take care of this next week.

[2019-05-17 20:30] GaelVaroquaux commented on #483
Yes!!!!

Do you think that you can help here?

[2019-05-17 20:37] jasmainak commented on #483
take a look at the PR that @larsoner linked to above. It has a Dockerfile and in particular look at this line at the end:

ENTRYPOINT ["tini", "-g", "--", "xvfb-run"]

to make it work in headless mode. You can use repo2docker to test it locally without having to push to github.

I knew I had set up a trap for myself :) I will try to set it up for another repo in a couple of days so I can help impr

[2019-05-19 13:57] emmanuelle commented on #441
I'm working on a plotly scraper and a first version is almost finished. Should I submit a PR with the plotly scraper in scrapers.py or would it be better to have the scraper somewhere else than the sphinx-gallery package?

[2019-05-19 19:00] larsoner commented on #441
@emmanuelle (plotly) @banesullivan (pyvista) here is a proposal that would address my maintainability concerns and user simplicity.

Packages that want to add support for their module (using `plotly` as an example):

1. Do so in their own repo (probably tested by their own sphinx builds for the most part, but that's up to them)
2. Add an entry to our docs along the lines of #492, except it should

[2019-05-19 19:02] larsoner commented on #441
BTW, I'm happy to implement option (3) on the SG side if it does indeed seem useful, then @banesullivan @emmanuelle you can implement in your modules and update the docs saying these are available.

[2019-05-19 19:09] banesullivan commented on #441
@larsoner - I like this approach a lot (and it's in line with how I've already approached supporting PyVista with SG). That way if something changes on the PyVista (or Plotly) side then we can update our scrapers at the same time and a user would never know.

If you could implement the 3rd step for us, that would be awesome! I was poking around that code but wasn't exactly sure what SG needed.

Us

[2019-05-19 19:10] larsoner commented on #421
@maartenbreddels not sure if you are still working on this or have new ideas, but basically I lay out a plan in https://github.com/sphinx-gallery/sphinx-gallery/issues/441#issuecomment-493782430 about how we can support other modules. Basically the idea is to keep code for other scrapers in the modules that need scraping as much as possible, and "just" ensure that SG provides the interfaces necess

[2019-05-19 19:16] larsoner commented on #441
Well this is part of the advantage of part (3) above. It doesn't matter what your internal implementation looks like or how you name things, as long as you provide a (private!) callable `pyvista._get_sg_image_scraper` that gives SG what it needs. Such a private API contract between SG and anything that wants to use SG means that

1. Internally you can implement your scraper wherever you want, and

[2019-05-19 20:55] emmanuelle commented on #441
I also like this approach, which is both clean and scalable to a large number of packages. For the details, I'll have to think about how to do the monkey-patching of ``plotly.offline.plot`` of https://github.com/sphinx-gallery/sphinx-gallery/pull/493/files#diff-2c91a6bc4eed696b5bdc364c528c20aaR149 ; I don't think I can do it inside ``_get_sg_image_scraper`` since I don't think it's imported before

[2019-05-20 14:06] larsoner commented on #441
This function should be called during the init of Sphinx / SG, before any example is run. So it sounds like you should be okay.

[2019-05-21 13:38] #441 closed

[2019-05-21 13:39] #491 closed

[2019-05-28 18:21] drammock opened #496 "ENH: easy linking to "examples using my_function""
Is there a way to cross-link to the "Examples using..." mini-galleries in the API docs?  I know it auto-generates a URL anchor
`module.name_of_function.html#examples-using-module-name-of-function` so I can add a normal URL link, but it would be cleaner if I could just do something like
[code]
or similar. Any suggestions (either how to do it in user code, or general approach / possible pitfalls to

[2019-05-28 18:26] larsoner commented on #496
It seems like we should add a `.. _sphx_glr_<name>_backreferences::` link or so if we don't already. Seems like an uncontroversial and quite useful thing to add.

[2019-05-28 18:27] larsoner commented on #496
(following whatever internal linking conventions we use)

[2019-05-28 19:37] drammock opened #497 "ENH: remove API crossrefs from hover text"
Currently if the first sentence of an example/tutorial/whatever contains an API cross-ref, the hover text can end up looking like this:

![Screenshot_2019-05-28_11-33-48](https://user-images.githubusercontent.com/1810515/58506751-989da580-813c-11e9-915d-f827ce715a82.png)

Enhancement would be to add a regex to the hover text generator that would strip out the cross-reference-generating text and le

[2019-05-30 13:16] emmanuelle opened #498 "Extending figure_rst to support html figures?"
Following #493 and #494, I've submitted a PR to plotly.py (https://github.com/plotly/plotly.py/pull/1577). However, in this PR I had to rewrite the ``figure_rst`` function of ``scrapers.py`` for html figures and html directives added to the rst string. I was thinking I could instead submit a PR to sphinx-gallery to extend ``figure_rst`` so that it handles also html figures, which could benefit oth

[2019-05-30 20:45] larsoner commented on #498
So the idea I have in mind (so far) is that we have:

- scrapers: things that get images/content/stuff that we want to be embedded, and
- `figure_rst`-like functions (no name for this: functions that return `rst` code that actually embeds the things that were scraped

In this conceptualization, it makes the most sense to have libraries that implement (and maintain) custom scrapers also implement (

[2019-05-31 03:59] choldgraf commented on #498
this seems reasonable to me - I like the idea of people being in charge of their own scrapers (though we could / should document where community scrapers exist)

[2019-05-31 05:29] emmanuelle commented on #498
Makes sense, thanks! Feel free to close unless somebody else wants to add something.

[2019-05-31 14:47] larsoner commented on #498
@emmanuelle I'll close but if this arrangement ends up being problematic don't hesitate to reopen. We're still trying to sort out the best way to do this!

[2019-05-31 14:47] #498 closed

[2019-06-14 09:11] StanczakDominik opened #503 "Binder integration and Read the docs"
Hi, after doing some tinkering trying to incorporate binder links into our into our example gallery - am I right in saying that there's currently no way of getting that working with readthedocs as a documentation builder, since binder needs a repository with hosted notebooks? If that's the case, I'll update the docs with a note on that.

[2019-06-14 09:17] StanczakDominik commented on #503
Also, if I simply misconfigured something and anyone would like to take a look: here's the relevant Sphinx-gallery config edit https://github.com/PlasmaPy/PlasmaPy/commit/b8286b428a467c23d4f7c48643f3f42ca8edcfcb

and here's an example of an example that doesn't find notebooks:

http://docs.plasmapy.org/en/master/auto_examples/particle_stepper.html

I think I was confused and thought the Docker bui

[2019-06-15 02:43] choldgraf commented on #503
well, it's sort-of correct. You could host your notebooks on a github repository separately from your readthedocs deployment, and just make sure that the two are mirrored properly. But I agree that's a bit hacky, and other than this you're correct that readthedocs by itself wouldn't be able to provide links to the notebooks on its own

[2019-06-17 17:24] #503 closed

[2019-06-19 17:38] NicolasHug opened #506 "Generation of unchanged examples"
Sorry to come back with this,

it seems that https://github.com/sphinx-gallery/sphinx-gallery/pull/448 worked for sphinx 1.6.5, but updating to sphinx 2.1 will again cause the generation of all examples, not just the ones that were newly updated.

Re-building scikit-learn with sphinx 1.6 takes a few seconds, but with sphinx 2.1 it takes a few minutes.