[2019-06-19 17:45] larsoner commented on #506
Are you sure that it's *re-running examples* that takes the time? Could it be sphinx *rebuilding the HTML pages* from the unchanged RST? The latter could be caused by https://github.com/numpy/numpydoc/pull/226 if you are on numpydoc 0.9. Either way, you can see if the Sphinx branch https://github.com/sphinx-doc/sphinx/pull/6419 helps diagnose the problem if it is indeed a sphinx rebuilding problem

[2019-06-19 18:17] NicolasHug commented on #506
Thanks for the quick answer.

I don't know exactly what the cause is, but in 1.6 I see

[code]

while in 2.1 I see

[code]

That happens before sphinx even starts reading the source so I thought this was a SG issue.

It looks like your PR numpy/numpydoc#226 fixes it

(I get a lot of these warnings though):

[code]

[2019-06-19 20:32] larsoner commented on #506
If you use my Sphinx branch you should see it tell you explicitly that it's `numpydoc_xref_ignore` changing that breaks things. The breakage you're experiencing motivated both PRs I linked to :)

Can you comment over on numpy/numpydoc#226 that this fixes your problem? Even better if you can do a round of code review so that it can be merged. We mostly just lack review power over on numpydoc which

[2019-06-19 20:32] #506 closed

[2019-06-20 20:32] larsoner opened #507 "REL: New release"
@banesullivan requested a release in https://github.com/pyvista/pyvista/pull/228, mostly to get https://github.com/sphinx-gallery/sphinx-gallery/pull/494.

Anyone opposed to me releasing 0.4.0? If not, I'll try to get to it early next week.

[2019-06-20 20:37] banesullivan commented on #507
Thanks, @larsoner!

[2019-06-20 20:45] larsoner commented on #479
@thomasjpfan I'm going to close this since  I think it's really a CircleCI issue, but feel free to reopen if this seems incorrect

[2019-06-20 20:45] #479 closed

[2019-06-20 20:47] larsoner commented on #507
... and while we're at it, maybe make 0.4.0 the last to support 2.7, and say that we'll only support the last 2 sphinx releases? #405 #407

[2019-06-20 20:47] banesullivan opened #508 "Allow .rst extension for README files"
https://github.com/sphinx-gallery/sphinx-gallery/blob/cd6eaed237b00ed505b3faa095694c2d66afe49d/sphinx_gallery/gen_gallery.py#L272

Currently, SG forces the required README files to have the `.txt` extension. I imagine almost every project using SG is formatting these README files in RST so allowing an `.rst` extension makes sense.

Why does this matter? It makes viewing the example directory on Gi

[2019-06-20 20:51] banesullivan commented on #508
Realizing now that this is a duplicate of #223

[2019-06-20 20:52] larsoner commented on #508
@banesullivan this one seems pretty straightforward, look for `README.txt` then `README.rst` in a loop, break on find, `else` raise error instead of the current pattern (if README.txt not found, raise error). Can you make a PR? You can change `sphinx-gallery/tests/tinybuild` to have `README.rst` to make sure it works.

[2019-06-20 20:54] banesullivan commented on #508
Thanks for the tip, @larsoner! I'll toy with this and try to get PR in my free time this week

[2019-06-20 21:57] choldgraf commented on #507
+1 on all ideas from me!

[2019-06-21 21:43] #223 closed

[2019-06-21 21:43] #508 closed

[2019-06-25 13:48] #497 closed

[2019-06-26 16:31] #405 closed

[2019-06-26 16:31] #407 closed

[2019-07-05 12:37] martinfiers opened #517 "Intro text gets truncated on '-' character"
Hello,

We have a sample that we'd like to document, which has a sentence: "This is a Mach-Zehnder Interferometer used for [...]".

However, in gen_rst.py, extract_intro_and_title, the regex defined is this:

`match = re.search(r'([\w ]+)', title_paragraph)`

This will truncate on the '-' sign because of this specific regex. Would it be safe/ok to add the '-' symbol here, too? I can imagine there

[2019-07-05 21:01] larsoner commented on #517
Maybe that dash, colon, semicolon, apostrophe, backtick, and quote would be a good PR. There are other punctuation marks that matter (e.g., en dash or fancy quotes) but this would probably be a good start. Any regex experts feel free to chime in as well.

Can you make a PR to add this with a small test?

[2019-07-11 23:29] banesullivan opened #519 "Linking to external examples"
I've been wanting a way to create a gallery with thumbnails like what SG creates that will show images and link to external websites. For example, in PyVista, we have a [gallery of examples built using SG](https://docs.pyvista.org/examples/index.html) and a [separate page next to that of "External Examples"](https://docs.pyvista.org/external_examples.html). Right now, that list of external example

[2019-07-12 05:15] GaelVaroquaux commented on #519
I would create it via the README.txt file in the folder, putting the
correct code to generate it. You can have a look at a generated index.rst
to have an idea of what kind of code sphinx-gallery uses.

[2019-07-13 21:21] shanosborne opened #520 "Setting filename_pattern for multiple galleries"
When trying to create multiple galleries, I can set `example_dirs` and `gallery_dirs` to be lists, but I don't seem to be able to set `filename_pattern` to a list (which would allow me to set a different pattern for each of the galleries). When I try, I get the error:
[code]

Is there a workaround / plan to make this possible?

[2019-07-14 01:24] larsoner commented on #520
Nobody has thought of this that I know of. I have no problem with making this entry a `str` or list-like (tuple or list), where the `str` effectively (currently) gets promoted to `[filename_pattern] * n_galleries`. I don't think it would be too much work to code.

Let's wait a couple of days to see what others think, and if nobody objects, do you want to try doing it with a PR?

[2019-07-15 16:44] #370 closed

[2019-08-01 19:15] banesullivan opened #522 "Show memory usage in build output"
The `show_memory` option is cumbersome to work with - I want to see which examples have high memory consumption and I do not want to look through each page in the gallery to find out the memory usage.

Can you all output the memory usage in the build output similar to how execution times are shown and perhaps sort them from high to low useage?

It'd be nice if the output was formatted more clearly

[2019-08-01 19:31] larsoner commented on #522
I'd rather add them to this page:

https://sphinx-gallery.github.io/auto_examples/sg_execution_times.html

It's documented here in a `.. note::`, perhaps not prominently enough:

https://sphinx-gallery.github.io/configuration.html#manage-multiple-galleries

Maybe we should actually reformat it as a table with name/time/memory (if applicable) as columns.

I have not seen this zombie thread warning

[2019-08-01 19:36] banesullivan commented on #522
Thanks, @larsoner - I did not realize that page was created... this page is not automatically added in the docs is it?

👍

[2019-08-01 19:37] banesullivan commented on #522
I'd really like to have a table both on that page and in the build output... personal preference though

[2019-08-01 19:52] larsoner commented on #522
It's generated but not linked to from anywhere, e.g.:

https://docs.pyvista.org/examples/00-load/sg_execution_times.html

Seems reasonable given we already output the times. +1 for adding it both places.

Regarding sorting, we could add a config value `computation_sort_key` that takes a 1- or 2-element tuple of `(time[, memory],)` values and returns the key with which to sort. By default and curre

[2019-08-01 19:55] banesullivan commented on #522
That sounds good to me!

If sorting is more work than anyone has time to implement, I'd be happy leaving it sorted by execution time as long as the table has the time and memory use

[2019-08-07 08:25] lesteve opened #528 "Small regression in 0.4.1: print(__doc__) creates empty output block"
Seen in https://github.com/scikit-learn/scikit-learn/pull/14507#issuecomment-516466110, `print(__doc__)` creates empty output box (yellowish box in the output below).

![image](https://user-images.githubusercontent.com/1680079/62141734-5f74e380-b2ed-11e9-9796-4ff96ae33d63.png)

This was introduced by https://github.com/sphinx-gallery/sphinx-gallery/pull/475. A simple fix would be to not have an ou

[2019-08-07 11:27] larsoner commented on #528
We are in a similar situation in MNE-Python. I'm fine with showing the output of a given block if and only if `isspace()` is False.

[2019-08-09 16:25] #528 closed

[2019-08-12 20:12] #522 closed

[2019-08-12 21:37] #402 closed

[2019-08-22 09:21] kchawla-pi opened #531 "No way to prevent insertion of inlined SVG images, and instead insert raw HTML"
Sphinx-Gallery version used:
 - 0.4.0
- latest version compatible with Python 3.6

We are working on [GLM Reporter](https://github.com/nistats/nistats/pull/352) . The feature takes some args and generates a report, which contains many inlined SVG images. The entire report is a string, including the code for the generated SVG images.

This string is wrapped as HTMLDocument object ([nilearn.plotting

[2019-08-22 12:29] larsoner commented on #531
Have you looked at the "custom scraper" docs?

https://sphinx-gallery.github.io/advanced.html#custom-scraper

Somewhat close to what you want to do (I think?), I made a custom scraper that took a `html` file generated by a script and embedded it using `iframe`:

https://github.com/mne-tools/mne-python/blob/master/mne/report.py#L2085
https://github.com/mne-tools/mne-python/blob/master/doc/conf.py#L

[2019-08-22 13:04] GaelVaroquaux commented on #531
The problem here seems rather to be that sphinx-gallery is inserting things that it should not be.

⁣Sent from my phone. Please forgive typos and briefness.​

On Aug 22, 2019, 08:29, at 08:29, Eric Larson <notifications@github.com> wrote:

[2019-08-22 13:41] larsoner commented on #531
So you want a HTML iframe instead of the standard Scraper image, right?

If so, that's exactly what my ReportScraper does. The only place SG inserts an image in my ReportScraper example is in the gallery page containing links to individual examples, indeed currently you cannot change this to anything other than a single image linking to a page for the example. In the actual rendered example page,

[2019-08-22 15:00] kchawla-pi commented on #531
Thanks @larsoner I will check out the custom scraper.

Some new development, the inadvertent insertion of images is happening in Jupyter notebooks as well, so this might not be due to sphinx-gallery alone or at all.

![image](https://user-images.githubusercontent.com/8203204/63525547-2dc2f700-c4fe-11e9-9109-ecbb3ff62c0c.png)

[2019-08-22 15:29] kchawla-pi commented on #531
It sometimes happens on manually created notebooks and sometimes not. This is weird. I will try the custom scraper for sphinx-gallery for the docs. I dunno why this image thing happens.

[2019-08-22 16:31] kchawla-pi commented on #531
Force closing each plot right after to has been written as an SVG string stopped the insertion of images.  Now trying it with doc buld.

[2019-08-22 16:41] larsoner commented on #531
In theory you can just do `image_scrapers=()` (see [here](https://sphinx-gallery.github.io/configuration.html#image-scrapers)) if you don't want SG to find/process the images. This combined with your own custom scraper looks like what you want.

[2019-08-22 16:43] kchawla-pi commented on #531
Force closing it manually also prevents this from happening in Jupyter Notebooks as well so I will do that. I'll try the custom scraper. Thanks so much!

[2019-08-22 16:54] kchawla-pi commented on #531
Woohoo! The images were not inserted in the examples! Now to insert the report with your suggestion.

[2019-08-22 17:17] larsoner commented on #531
In theory it should be quite easy since you have the ability to get the embedded `iframe` directly. I couldn't do that over in MNE because the JavaScript in the embedded one interacted poorly with the JS in the main site unless it was in a separate HTML file for some reason. So you can probably skip the `copy-files` steps in the MNE repo.

[2019-08-22 17:19] larsoner commented on #531
FYI this was the whole PR originally (has some styles that might help you tweak things)

https://github.com/mne-tools/mne-python/pull/6433/files

[2019-08-30 20:34] larsoner commented on #531
I commented over on your PR, you need to modify `sphinx_gallery_conf`. I'll close this since I think no action is needed from the SG end, but feel free to reopen if something ends up missing.

[2019-08-30 20:34] #531 closed

[2019-08-31 16:19] ogrisel commented on #245
What about using [jupytext python script (with cell boundary markers) to markdown converter](https://github.com/mwouts/jupytext) + sphinx markdown support via the [reconmark extension](https://www.sphinx-doc.org/en/master/usage/markdown.html)

Note: the jupytext python script support works great with VSCode interactive execution window that supports plotting and such.

[2019-08-31 16:21] ogrisel commented on #245
But I am not sure how cross-referencing sphinx sections from the main toc tree would from markdown example would work.

[2019-08-31 16:48] choldgraf commented on #245
I'm +1 on using jupytext for this, it basically duplicates the conversion utility function we've got in SG...that said, IIRC folks were hesitant to add it as a dependency...

[2019-08-31 22:44] banesullivan commented on #519
It took a while for me to get around to it but it was super easy! Thanks for the tip on looking at the generated index.rst file - it had just what I needed. In breif, simply make an entry as:

[code]

Which will display an image that will link to an external site and it will appear in the TOC:

![Screen Shot 2019-08-31 at 4 42 45 PM](https://user-images.githubusercontent.com/22067021/64069786-65bc

[2019-09-01 00:07] larsoner commented on #519
I usually find these are CSS problems, and diagnose them in Chrome developer mode.

In this case if I interactively change `.sphx-glr-thumbcontainer` to have `min-height: 250px` instead of `230px` things look correct. If I go down to `200px` they get worse (only 2 items in the second row, and they are pushed to the right). No idea why because I am no CSS expert. But hopefully it gives you some way

[2019-09-01 00:07] #519 closed

[2019-09-01 02:24] GaelVaroquaux commented on #519
Maybe we could improve the documentation to point to browsers developer modes.

⁣Sent from my phone. Please forgive typos and briefness.​

On Aug 31, 2019, 20:07, at 20:07, Eric Larson <notifications@github.com> wrote:

[2019-09-03 14:59] revesansparole opened #534 "consider looking also for 'readme.*' instead of only 'README.*'"
Is there any reason to consider only 'README.*' in uppercase and not include any other variation in lower case?

It would be of great help to all our projects which are constructed around 'readme.rst' files.

I assume it's only a matter of changing the function '_get_readme' in 'gen_rst.py' but maybe there is a non technical reason for not doing it.

Thanks

[2019-09-03 16:34] choldgraf commented on #534
it's fine with me, I'm not sure what's the benefit of requiring CAPS for files...

[2019-09-03 18:03] larsoner commented on #534
Some general "community uniformity" around particular practices would be another reason, but I don't think it's worth trying to enforce that here, `readme.rst` should be fine.

[2019-09-04 19:22] #534 closed

[2019-09-12 02:25] emmanuelle opened #536 "Mention list of projects using sphinx-gallery in a documentation page"
At the moment it's only in the README on Github, so the information is a bit lost for users (as opposed to contributors). Maybe in the FAQ? Or a separate page in "advanced usage and information", If you think it's a good idea I can take care of this.

[2019-09-13 09:36] ogrisel opened #538 "More informative "alt" attribute for image tags"
The alternative text for generated HTML `img`  tags could be more informative. Currently it's the filename of the png file.

Instead one could use the title of the example or even better, the "title" attribute of the underlying matplotlib figure when available (and not empty).

[2019-09-16 01:11] choldgraf commented on #538
+1 , seems like a good idea to me

[2019-09-18 16:17] choldgraf commented on #245
A note here - the PlasmaPy team has a cool blog post showing how they monkey-patch Sphinx Gallery to generate Binder links that point to `.py` files, and then use Jupytext to automatically convert these files to `ipynb` files on-the-fly when the Jupyter server spins up. This would let people create Binder links on sites like ReadTheDocs, which would be pretty cool...

https://stanczakdominik.githu

[2019-09-18 16:20] #472 closed

[2019-09-19 13:02] lucyleeow opened #540 "ENH capture 'repr's of last expression"
Relates to #396 (pretty html rendering) which can be implemented in 2 steps:

1. (this issue) `eval()` last line if it is an expression. This removes the need to use `print()` to output the value of expressions.
2. Capture html output if there is a `__repr_html__`. This allows nice rendering of e.g. pandas dataframes, plots and reports (currently implemented via a 'image' scraper in [nilearn](http

[2019-09-19 15:20] larsoner commented on #540
Sounds reasonable to me. And if someday we do decide to use `nbconvert` we can probably still do it without breaking backward compatibility.

[2019-09-25 16:38] #517 closed

[2019-10-03 20:18] DanielAdriaansen commented on #467
@mdeff thank you for documenting this, I just spent a bunch of time figuring out why my linking to intersphinx documentation wouldn't work in my examples. This was my problem. When setting backreferences_dir it works!

[2019-10-08 16:27] lucyleeow opened #544 "ENH Add CSS for pandas dataframe"
With #541, Sphinx-Gallery can capture raw HTML (using the `_repr_html_()` of an object) and embed in rst. In some cases, where the captured raw HTML does not include CSS (e.g. pandas dataframes), this can be added to make the output look better. For reference [this](https://1052-25860190-gh.circle-artifacts.com/0/rtd_html/auto_examples/plot_capture_repr.html) (scroll down) is what a pandas datafra

[2019-10-09 00:27] choldgraf commented on #544
I kinda like the idea of letting objects bring their own CSS with them - that would give folks the ability to customize on a per-object basis

[2019-10-09 09:21] lucyleeow commented on #544
This is what I thought when I was writing #541.

For pandas dataframes, I am not sure if there is pandas CSS that is just not output with `_repr_html_` or if jupyter is adding all the CSS itself. If it is the latter, then I agree that it may not be worthwhile to add our own but it may be worthwhile to give the user the option to write their own CSS so they can dictate how objects, which do not com

[2019-10-09 11:57] lucyleeow opened #546 "Last word in rst used as code"
If an example `.py` file ends with an rst block, Sphinx-Gallery thinks the last word of the rst block is code and tries to execute it, unless there is an empty line after the rst block.

For example:

[code]

Gives:
![Screenshot_2019-10-09 Test — mwe 0 documentation](https://user-images.githubusercontent.com/23182829/66478789-7416ea00-ea9b-11e9-8324-593f335ca405.png)

If there is an empty line at

[2019-10-09 12:07] larsoner commented on #546
In general people do, probably because it's part of PEP8. But it shouldn't cause an error in SG if one isn't there, so this is indeed a bug we should fix

[2019-10-09 13:07] jorisvandenbossche commented on #544
For pandas, the styling is mostly done by the frontend (eg jupyter notebook er lab).
See eg how nbsphinx includes such css as well to let dataframes look ok in their generated rst/html: https://github.com/spatialaudio/nbsphinx/blob/fb3ba670fc1ba5f54d4c487573dbc1b4ecf7e9ff/src/nbsphinx.py#L587-L619

[2019-10-09 13:09] jorisvandenbossche commented on #544
You can see in the output of `df._repr_html_()` that we include a little bit of css:

[code]

but that is only to have correct alignment for index/column labels, not for the overall appearance.

[2019-10-09 13:15] lucyleeow commented on #544
Thanks @jorisvandenbossche, good to know.

I think it might be useful to add a 'CSS' config option to give the user the option to write a CSS document and add reference to this in all raw HTML output...but depends on the demand.

[2019-10-09 15:44] jorisvandenbossche commented on #544
We currently don't have that CSS in pandas. I am personally not fully sure it is up to pandas to provide this, but you're certainly welcome to to open an issue on the pandas issue tracker.

[2019-10-09 15:48] lucyleeow commented on #544
@jorisvandenbossche I agree with you - I don't think it is up to pandas to provide this. You have already added [Styling](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html) which is pretty cool.

For me this issue is about whether we should add a CSS config to allow users to provide their own - I don't think SG or pandas should provide CSS (for objects that don't have their own).

[2019-10-15 16:05] #536 closed

[2019-10-15 17:29] #546 closed

[2019-10-17 11:57] #540 closed

[2019-10-21 09:50] Cadair opened #553 "Support pyqtgraph plots"
I haven't looked into how practical this would be but it came up in https://github.com/heliophysicsPy/gallery/pull/21 so I thought I would register interest in it. It would be nice to support images generated by https://github.com/pyqtgraph/pyqtgraph

[2019-10-21 12:05] larsoner commented on #553
With the `scraper` interface this can be added by the PyQtGraph library itself, so please feel free to open an enhancement request on their issue tracker.

To learn how to do it, see:

https://sphinx-gallery.github.io/advanced.html#write-a-custom-image-scraper

`pyvista` recently did this and it did not sound too painful, see:

https://github.com/pyvista/pyvista/pull/150/files#diff-78840ea3f458543

[2019-10-21 12:05] #553 closed

[2019-10-21 13:52] tkoyama010 opened #554 "Mayavi example cannot run in binder"
Hello. Thank you for great example of sphinx and jupyter.
I couldn't import mayavi in binder. Do you know the reason?
![キャプチャ](https://user-images.githubusercontent.com/7513610/67211237-6119f780-f455-11e9-9cac-48f1521a962f.PNG)

[2019-10-21 14:09] lesteve commented on #554
I think at the moment `requirements.txt` is used by binder. `requirements.txt` does not list mayavi. This is reasonable because when you want to work on `sphinx-gallery` you do not need `mayavi` most of the time.

We could add `.binder/requirements` or `.binder/environment.yml` to have mayavi installed inside binder. PR more than welcome!

[2019-10-21 14:11] lesteve commented on #554
Having said that, I have no idea whether mayavi can work in a remote Jupyter server environment ... i.e. if there is an equivalent of `%matplotlib inline` for mayavi.

[2019-10-21 15:00] tkoyama010 commented on #554
Thank you for your comment. This repository may be helpfull. I'll be PRing.
https://github.com/mne-tools/mne-binder

[2019-10-21 15:05] GaelVaroquaux opened #555 "Add a "template", to make it easy to get started"
Following this tweet (which I haven't had time to investigate)
https://twitter.com/mybinderteam/status/1177982004643676160?s=09
I think that we might be able to make it easier for people who start from scratch with sphinx-gallery.

[2019-10-21 16:24] choldgraf commented on #555
That does indeed sound useful to me as well. Perhaps one or more of:

1. A github template-style repository
2. A cookiecutter website
3. A CLI that generates a skeleton examples folder + configuration file that will work with SG
4. Documentation along the lines of "You've already got a sphinx website, here are the steps to add sphinx-gallery to it".

If you have questions about the templates re: B

[2019-11-06 22:14] rrigdon commented on #229
I'm having issues with image files getting a not readable error.

I'm trying to replace images in VS Code with Sphinx 2.2.1. When using `make html`, I get the error:
`WARNING: image file not readable: img/nav-new-env.png`. This error only refers to the new image files. Why won't it show the images?

[2019-11-07 01:00] larsoner commented on #229
@rrigdon are you actually using this project (`sphinx-gallery`), or just `sphinx`? Your error looks related just to `sphinx` as we should not mess with any `img/nav-new-env.png` sort of filenames

[2019-11-07 15:22] rrigdon commented on #229
Ah, you're right. Sorry about that!

[2019-11-11 14:27] lucyleeow opened #559 "Documentation is ahead of current release"
Currently documentation is built from master, meaning that the documentation is updated for new features not available in the current release. This can cause confusion ([esp for big changes](https://github.com/sphinx-gallery/sphinx-gallery/pull/541#issuecomment-552217045)).

Maybe we can update documentation with releases (like some other projects)?

[2019-11-11 14:40] larsoner commented on #559
That would be great but it will require some infrastructure updates. @lucyleeow feel free to tackle this if you have time

[2019-11-11 16:00] astrofrog opened #560 "Making sphinx-gallery parallel_write_safe"
At the moment, sphinx-gallery is marked as not being ``parallel_write_safe`` (it is explicitly set to ``False``), but it's not clear what the blocker is there. Is this something that is potentially fixable, or are there fundamental limitations in how sphinx-gallery works? (at the moment sphinx-gallery is the only extension that is stopping docs in several packages I work on to be built in parallel

[2019-11-11 19:57] choldgraf commented on #559
This is one of the benefits of readthedocs (which can build against multiple versions of software, and can default to either the latest *stable* version, or the master branch). I suppose that ship has sailed though?

[2019-11-11 20:09] GaelVaroquaux commented on #559
We tried. Debugging the builds was harder (Mayavi ;) ).

Doesn't mean that the ship can't come back. We need to be pragmatic.

[2019-11-11 22:15] choldgraf commented on #559
oooh right, Mayavi...

![](https://media.giphy.com/media/3oKHWvUUMPQhCOCT72/giphy.gif)

[2019-11-12 09:30] lucyleeow commented on #559
You'll have to catch me up - what was the problem with Myavi...?

[2019-11-12 14:44] GaelVaroquaux commented on #559
It's a long story. It's hard to install, and requires an X environment.

And, I am one of the original authors, so we love to make jokes on it.

[2019-11-12 15:02] larsoner commented on #559
One probably easier option is to maintain `dev` and `stable` docs only. This is fairly easy to do with CircleCI currently pushing docs because you "just" triage based on whether you're on a `maint` branch (or tag or whatever) or `master` build. We could have https://sphinx-gallery.github.io/ redirect to https://sphinx-gallery.github.io/stable (probably using a `.htaccess`), and people who want to

[2019-11-12 15:33] larsoner commented on #560
@astrofrog I added the `parallel_write_safe=False` but I'm not sure if we need it. I think I did it because I wasn't sure if we required it and wanted to be safe. But from a tiny bit of reading it does not seem to be required. Want to make a quick PR to change it? If not I can do it later today

[2019-11-12 15:56] astrofrog commented on #560
I don't **think** it's needed. One thing is for sure - if we leave it as ``False``, we'll never know :) The fact that sphinx considers this to be ``True`` if not declared tells me that it's probably reasonable to assume it's parallel unless there are good reasons why not.

See #561 for a PR.

[2019-11-12 16:19] choldgraf commented on #559
To be fair, I also love Mayavi in the way that I love a pain-in-the-butt friend that always makes trouble but we go way back so I can't stop being friends with them. I want to stay in touch with them, just don't want to hang out every day :-)

I think this is a nice compromise, and I agree is easier than re-tooling around RTD

[2019-11-12 16:26] GaelVaroquaux commented on #559
Are you talking about me?

[2019-11-12 16:35] #560 closed

[2019-11-12 20:19] larsoner commented on #554
Sounds like there is a solution here, so let's go ahead and close. But @tkoyama010 if you see some room for doc improvements here in sphinx-gallery feel free to make a PR

[2019-11-12 20:19] #554 closed

[2019-11-13 00:05] #559 closed

[2019-11-13 15:38] #488 closed

[2019-11-15 00:11] jarrodmillman opened #565 "How best to handle data files?"
In NetworkX, several of our examples read data files, which are stored in the same directory as the corresponding example script:
- https://github.com/networkx/networkx/blob/master/examples/drawing/plot_knuth_miles.py
- https://github.com/networkx/networkx/blob/master/examples/drawing/plot_sampson.py
- https://github.com/networkx/networkx/blob/master/examples/drawing/plot_lanl_routes.py
- https://

[2019-11-15 00:26] larsoner commented on #565
Over in MNE-Python we have dataset downloaders that by default download to `mne_data`:

https://github.com/mne-tools/mne-python/blob/master/tutorials/intro/plot_10_overview.py#L50

I think `nilearn` has something similar. Pretty sure `vispy` does something similar, as well (though it does not use SG). It facilitates users running scripts easily. In PySurfer, by contrast, we assume people have the

[2019-11-15 16:10] lucyleeow commented on #396
@GaelVaroquaux are you happy to close this issue for now?

[2019-11-15 16:16] GaelVaroquaux commented on #396
Yes, thank you very much. You did amazing work!!

[2019-11-15 16:17] #396 closed

[2019-11-18 11:07] #143 closed

[2019-11-19 05:37] banesullivan opened #567 "BUG Check "backreferences_dir" is str or None"
All builds for [PyVista](https://github.com/pyvista/pyvista)'s docs are failing on the CIs with the new `v0.5.0` of `sphinx-gallery`. I confirmed this locally by upgrading `sphinx-gallery` and get the following error (from https://github.com/pyvista/pyvista/pull/451#issuecomment-555255085)

I'm not sure exactly where this error is coming from... seems to be only when using PyVsita's scraper - can

[2019-11-19 05:41] banesullivan commented on #567
All sites using PyVista's scraper are failing. Perhaps something changed with the Scraper API?

[2019-11-19 10:22] lucyleeow commented on #567
I don't think the Scraper API changed. It is an unusual error. I'll work with @GuillaumeFavelier about this today (if he's in).

[2019-11-19 11:05] GuillaumeFavelier commented on #567
I'm down, let's find out what's happening here.

[2019-11-19 11:42] larsoner commented on #567
@GuillaumeFavelier @lucyleeow the fastest way to debug might be to start a Sphinx build in Python space. That way you can hit the error and post-mortem debug with `import pdb; pdb.pm()`. Something like this set of lines should hopefully allow you to replicate the error:

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/tests/test_full.py#L50-L56

[2019-11-19 12:53] GuillaumeFavelier commented on #567
By using the `pdb` method explained above I was able to locate the issue around [those lines](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/backreferences.py#L246-L247). I inspected the value of `gallery_conf['backreferences_dir']` in post-mortem and it's `False`.

The error message makes sense since `op` tries to `join()` a path to a `bool` variable (the expected typ

[2019-11-19 13:00] GuillaumeFavelier commented on #567
Or maybe the backreferences conf of PyVista changed somehow

[2019-11-19 13:14] GuillaumeFavelier commented on #567
**TL;DR**:  `"backreferences_dir": None` in `pyvista/docs/conf.py` should solve this @banesullivan

[2019-11-19 14:07] lucyleeow commented on #567
I think we can close this now. Good work @GuillaumeFavelier

[2019-11-19 14:26] banesullivan commented on #567
Wow, thanks everyone for figuring this out so promptly!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-19 14:29] larsoner commented on #567
We should probably only allow `None` or `str`, so I'll reopen to remind us to add that check in our `gallery_conf` validation code.

[2019-11-19 22:53] EtienneCmb opened #568 "AttributeError: 'URLError' object has no attribute 'url'"
Hi,

I updated to the latest 0.5.0 and I've an error message when building the documentation :
[code]

Error is occuring inside the function [_handle_http_url_error](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/docs_resolv.py#L260). I also tried to comment the logger.warning line and the doc is correctly build again

[2019-11-20 15:21] larsoner commented on #568
@EtienneCmb can you look into the correct attribute to use instead and make a PR to fix the bug?

[2019-11-21 19:37] #568 closed

[2019-11-25 19:10] whoopnip opened #570 "typing.TYPE_CHECKING is True at runtime in executed .py files"
First, thanks for the great package. I'm already finding it very useful.

When trying to import a package in one of my .py files which I'm including in the gallery, it was hitting circular imports which are not there when importing the package normally. I tracked it down to the use of:

[code]

I found that when my .py file for the gallery is importing the package, it is executing `import my_modul

[2019-11-27 14:31] larsoner commented on #570
@whoopnip we don't do anything with `typing` (`git grep typing` is empty) so I'm not sure. It does not sound like a SG bug. Maybe Sphinx itself does something, they have several `typing` imports. Does the problem persist if you remove SG from your extensions list?

[2019-11-27 19:32] lucyleeow commented on #567
@larsoner I suggest altering `_write_backreferences()` ([here](https://github.com/sphinx-gallery/sphinx-gallery/blob/35fc739c5223aaa2a3516d1416d9c22c5cf30721/sphinx_gallery/backreferences.py#L239)) to check that `gallery_conf['backreferences_dir']` is `str` or `None` and throw an error if not OR if it isn't `str` or `None` change `gallery_conf['backreferences_dir']` to `None` and throw a warning.

[2019-11-27 19:39] lucyleeow commented on #567
Whoops, I realise the function to change should be `_complete_gallery_conf()` ([here](https://github.com/sphinx-gallery/sphinx-gallery/blob/35fc739c5223aaa2a3516d1416d9c22c5cf30721/sphinx_gallery/gen_gallery.py#L92))

[2019-11-27 19:47] larsoner commented on #567
Agreed `_complete_gallery_conf` should check this

[2019-11-27 19:51] lucyleeow commented on #567
Should it throw an error or change to `None` and throw a warning?

[2019-11-27 19:52] larsoner commented on #567
I would say error, it's less likely to be missed/ignored

[2019-11-28 13:21] whoopnip commented on #570
@larsoner That makes sense, it looks like it is a Sphinx issue. In the Sphinx `conf.py`, `typing.TYPE_CHECKING` was False so I thought it was SG, but now I created a custom directive and from within that custom directive, indeed `typing.TYPE_CHECKING=True`, even if SG is excluded from extensions. I'll go ahead and raise an issue in Sphinx. Thanks for looking into it!

[2019-11-28 13:21] #570 closed

[2019-11-28 13:32] whoopnip commented on #570
In case anyone else runs into this, turns out that this was caused by the extension `sphinx_autodoc_typehints`. There is a configuration option there `set_type_checking_flag` which controls this behavior. Setting `set_type_checking_flag = False` in Sphinx `conf.py` fixes this for me.

[2019-11-29 19:02] #567 closed

[2019-12-02 15:13] benvial opened #572 "Remove the note linking to the download section at the beginning of the example from latex/pdf output"
For latex/pdf output, this note at the beginning of the example linking to the download section does not link to anything (since there are no download buttons). Would it be possible to disable it in that case? The straightforward way would be wrap it into a `.. only:: html` directive.

[2019-12-02 15:15] larsoner commented on #572
Sounds reasonable to me. @lucyleeow do you agree? If so @banesullivan PR welcome to fix it

[2019-12-02 15:44] lucyleeow commented on #572
I agree! I think the execution line is [here](https://github.com/sphinx-gallery/sphinx-gallery/blob/9a79bd95de0e0496c04a50cf47c3677f6ce1977e/sphinx_gallery/gen_rst.py#L860). A PR with a test would be great!

(@larsoner did you mean to tag @banesullivan?)

[2019-12-02 15:51] larsoner commented on #572
Whoops, nope I didn't. @benvial PR welcome (@banesullivan sorry for the noise)

[2019-12-02 15:51] larsoner commented on #572
(BTW I'm not sure how easy it would be to add a test for this so I think just adding the `.. only:: html` directive with indentation plus a manual check of the built PDF on CircleCI is good enough)

[2019-12-02 15:53] lucyleeow commented on #572
Good point @larsoner! Should be an easy PR then @benvial!

[2019-12-02 15:54] lucyleeow commented on #572
@larsoner is it worth testing if the text '.. only:: html' is included in the output rST?

[2019-12-02 15:55] larsoner commented on #572
Ahh yeah, that would probably be decent. And actually it's possible that some existing test will fail without adding that line to some existing expected output string.

[2019-12-02 17:42] benvial commented on #572
Great I'll work on a PR and add some tests

Indeed two tests are failing. will fix that also

[2019-12-02 19:55] benvial commented on #572
My bad, actually all tests passed, probably an issue with my testing environment initially.

Just made a PR ( #573 )

Thanks @larsoner and @lucyleeow for your quick reply.

[2019-12-03 12:36] #572 closed

[2019-12-03 16:39] #474 closed

[2019-12-06 21:02] GaelVaroquaux opened #576 "Improve the junit xml"
Sphinx-gallery uses junit.xml files to provide very useful summaries, that are for instance, displayed by circle-ci (https://sphinx-gallery.github.io/stable/configuration.html#using-junit-xml-files)

It would be great to use this to help contributors. I see the following potential additions that would be very useful:

- When there is a failure in an example, add the traceback there
- Link to the a

[2019-12-07 00:09] larsoner commented on #576
The tracebacks are in the JUnit output, and show up in the CircleCI interface, e.g.:

https://circleci.com/gh/mne-tools/mne-python/17090

<img width="1352" alt="Screen Shot 2019-12-06 at 19 05 08" src="https://user-images.githubusercontent.com/2365790/70364631-61325300-185b-11ea-82a4-62d8204743fd.png">

Is this what you are looking for?

For this I would say we would want to:

1. Detect being run

[2019-12-07 02:04] GaelVaroquaux commented on #576
OK, great! I seem not to get enough failure, as I had not noticed.

Actually, the failures that we were getting at the brainhack were sphinx
failures in the examples, and not sphinx-gallery. This is why they were
not caught.

Agreed with the plan. However, I would add the link to the artifact for
every example generated, and not only those that fails.

Thanks!!!

[2019-12-07 02:12] larsoner commented on #576
It would be great to add something like sphinxext.junit to output a separate file to track these problems. I think that circle allows displaying multiple junit file statuses.

Sure it might actually be simpler to do this anyway. Circle might only show outputs of failures, though. At least that's all I've seen thus far.

[2019-12-07 02:25] GaelVaroquaux commented on #576
That extention doesn't exist, right?

The current junit.xml also sows the slowest examples, no? I don't know how it was done, but is there a window to use here?

[2019-12-07 14:34] larsoner commented on #576
Correct, I'm thinking it wouldn't be too hard to write such an extension. Though maybe it would be easier to have it live under this organization.

Regarding customization I don't know of any way to configure the junit result rendering.

https://circleci.com/docs/2.0/collect-test-data/

[2019-12-09 15:27] lucyleeow commented on #576
@GaelVaroquaux can you clarify this? I understand this:

but I don't understand what artifact you mean.

[2019-12-09 15:44] GaelVaroquaux commented on #576
The generated html of the example.

Also, it would be really great if, even with any failure, there was a
link to the artifacts (for instance to the index.html of the main
gallery). It would facilitate review a lot.

[2019-12-09 16:20] lucyleeow commented on #576
For failing and successful builds add the URLs of all the generated html to the output/traceback. Why not just add the URL of the index then?

You mean the 'build_docs artifact'?
![image](https://user-images.githubusercontent.com/23182829/70452832-10636a00-1aa8-11ea-8292-5b4ee27cb29a.png)

[2019-12-09 16:51] GaelVaroquaux commented on #576
Yes!

How do we get this? Maybe it's already there and it's a question of working on our documentation (which does need work).

On Dec 9, 2019, 08:20, at 08:20, lucyleeow <notifications@github.com> wrote:

[2019-12-09 17:31] lucyleeow commented on #576
@GaelVaroquaux I wish I knew...I tried searching but couldn't find it documented anywhere. Please enlighten us @larsoner

[2019-12-10 14:34] larsoner commented on #576
You can get it using the older circleci-artifacts-redirector:

https://github.com/larsoner/circleci-artifacts-redirector

But the better way nowadays would be to use circleci-artifacts-redirector-action:

https://github.com/larsoner/circleci-artifacts-redirector-action

If you really want more detail, the thing to do might be what sklearn does, which is make a static page after the sphinx build wh

[2019-12-11 11:12] lucyleeow commented on #555
I'm happy to tackle

I can make a new sphinx-gallery-template repo and make PR into it. Would this be the correct procedure?

[2019-12-11 12:34] larsoner commented on #555
Sounds like a good plan of action to me. Though to reduce confusion, I actually wouldn't put `sphinx-` in the name. It makes it clearer what is going to be `sphinx` / `sphinx-gallery` config versus what would be done to document a sample project. Maybe `example-project`, `sample-project`, or `template-project` that documents a module `example/sample/template_project` and its examples? I think that

[2019-12-20 23:04] jorgepiloto opened #579 "Error when using two image scrappers together"
Hi all,

at [poliastro project](https://github.com/poliastro/poliastro) we are moving our based jupyter notebooks examples to a beautiful sphinx-gallery. Since we are using both plotly and matplotlib I made use of both image scrappers. However, when combining them such as `'image_scrapers' = ('matplotlib', plotly_sg_scraper)` I get the following error on a simple example Python file:

[code]

You

[2019-12-21 12:57] larsoner commented on #579
This looks like a plotly bug (traceback is in their code) so they'll probably need to fix it. Internally we use multiple scrapers (mpl and mayavi) and I'm using three in another project so in principle it's possible to do it without issue. It's possible that we do have some bug but the plotly people should probably investigate their end first.

[2019-12-21 15:34] GaelVaroquaux commented on #579
Cc @emmanuelle

But she is on vacations

⁣Sent from my phone. Please forgive typos and briefness.​

On Dec 21, 2019, 07:57, at 07:57, Eric Larson <notifications@github.com> wrote:

[2019-12-22 02:06] emmanuelle commented on #579
Thank you @jorgepiloto, I will take a look. Could you please open an issue on https://github.com/plotly/plotly.py/issues/new with the same message you posted here? It's likely to be more a plotly problem indeed, so let's carry on from there. Thanks!

[2019-12-22 12:20] jorgepiloto commented on #579
Thank you for your fast answers @larsoner and @emmanuelle! I will open an issue as you  suggested in the official `plotly` repository with a deeper explanation on what is going on :smile:

[2019-12-22 12:33] jorgepiloto commented on #579
Following issue is being tracked in the official plotly repository at https://github.com/plotly/plotly.py/issues/2014

[2019-12-22 12:44] larsoner commented on #579
Okay I'll close for now but let's reopen if there is something we should do at this end

[2019-12-22 12:44] #579 closed

[2019-12-27 19:55] emmanuelle opened #580 "greedy backreferences"
I'm puzzled by two points related to backreferences, which have been introduced by version 0.5 of sphinx-gallery:
- it seems that intersphinx links are generated not only for functions or class constructors, but also for instances of objects of modules selected for backreferences. For example in https://sphinx-gallery.github.io/stable/auto_examples/plot_3_capture_repr.html#sphx-glr-auto-examples-p

[2019-12-27 20:20] lucyleeow commented on #580
Just FYI I think this is related to https://github.com/scikit-learn/scikit-learn/issues/15812

@lesteve advised that you can disable with:

[code]

There is some discussion here: https://github.com/scikit-learn/scikit-learn/pull/15844 about how the purpose was to creat more relevant mini-galleries, but I think people agree that it makes the code block look busy.

[2019-12-27 20:53] emmanuelle commented on #580
Thank you @lucyleeow ! I had a quick look through the SG issue tracker but I didn't think of looking at the scikit-learn one :-). Thanks to your suggestion I could fix the issue. I guess inspecting global variables is interesting in particular when calling methods of class instances, but maybe the level of granularity could be changed (for example inspecting global variables only for certain packa

[2019-12-27 21:07] emmanuelle commented on #580
Oh and this is already documented https://sphinx-gallery.github.io/stable/configuration.html#references-to-examples I hadn't seen it.

[2019-12-27 21:18] larsoner commented on #580
If the style / busy appearance / aesthetics is the only real problem, we could think about giving the references CSS class names based on their module names like sg-backref-python and sg-backref-sklearn (plus each gets a global sg-backref) based on which package they're from. Then you can blacklist/whitelist HTML styles of the links as you wish.

[2019-12-27 21:22] GaelVaroquaux commented on #580
Should we not vary the style depending on whether they are instances or
the class itself? Ie have a visual appearance that is similar to the
prior behavior, but show a light hint (on hover) that there are
additional links?

[2019-12-27 21:34] larsoner commented on #580
I would rather not change CSS by default but also add more CSS class like sg-backref-instance, sg-backref-class, etc. I know for MNE having the instance links highly visible is helpful and was a big point of adding the links in the first place. Making classes and their instance links appear differently would not be helpful in all (or most?) cases.

[2019-12-27 21:40] GaelVaroquaux commented on #580
But we now have several instances of people complaining (I am not sure
that I agree with them, but I go with the flow).

The default appearance should be consensual.

[2019-12-27 21:57] larsoner commented on #580
Agreed. Who else has complained other than `sklearn`?

In `sklearn`'s case the busyness seems to mostly have to do with instances-other-than-sklearn (like numpy or python builtins), which would be better fixed/configurable by the `sg-backref-module-sklearn` idea, since it wouldn't break links for instances-that-are-from-sklearn.

Thinking of another module, I suspect `matplotlib` would prefer inst

[2019-12-27 22:00] emmanuelle commented on #580
Me :-) (for the `scikit-image` project). Pages like https://scikit-image.org/docs/dev/auto_examples/color_exposure/plot_rgb_to_hsv.html#sphx-glr-auto-examples-color-exposure-plot-rgb-to-hsv-py are too busy IMO. I'm happy with setting the option explicitly though.

[2019-12-27 22:02] larsoner commented on #580
Ahh the link above is `scikit-image`, not `sklearn`. So that is a couple of complaints at least.

I think either way people will need custom CSS to get instances-from-my-package to look different from instances-from-other-packages. I guess the question is whether it's better to:

1. Disable instance link visibility by default in `sphinx-gallery` and have people whitelist their instances in their C

[2019-12-27 22:05] GaelVaroquaux commented on #580
Didn't skimage just complain?  @emmanuelle?

[2019-12-28 00:10] larsoner commented on #580
I can take a stab at implementing the CSS classes in the next couple of days

[2019-12-28 02:03] larsoner commented on #576
I think this is not a SG issue so I'll close, but feel free to reopen if there is more to do

[2019-12-28 02:03] #576 closed

[2020-01-01 09:57] lucyleeow opened #583 "BUG backreferences not working for functions if not imported directly"
Creation of [mini-galleries](https://sphinx-gallery.github.io/stable/configuration.html#add-mini-galleries-for-api-documentation) with `backreferences_dir` and `doc_module` generates an empty rst file if you use a function in an example like this:

[code]

It works if you directly import the function in the example:

[code]

or if you import the function in the `__init__.py` file of the package (i

[2020-01-06 17:16] larsoner commented on #544
I think it should be up to the `_repr_html_` provider rather than SG to give a suitable CSS class (the CSS class is a HTML attribute after all). Fortunately, it's already possible to stylize Pandas outputs because they do give their `table` the `dataframe` class:

https://github.com/mne-tools/mne-python/pull/7138/files#diff-1a451631fe18f4ca156584c3c67928ffR446-R448

So I'd say let's close for now,

[2020-01-06 17:17] larsoner commented on #544
(@lucyleeow feel free to open a quick doc PR with these example lines using `Pandas` as an example if you think it would help)

[2020-01-06 17:45] #580 closed

[2020-01-06 19:21] GaelVaroquaux commented on #544
Well, honestly more than one person has complained to me that the
dataframes look bad while they look good in jupyter. I wouldn't mind
adding a bit of CSS for this specific case.

[2020-01-06 19:23] larsoner commented on #544
Okay with me if we add to `gallery.css` something that makes the Pandas ones look reasonable in most envs. I'll reopen and maybe someone can take a look

[2020-01-07 17:30] #583 closed

[2020-01-07 17:34] larsoner opened #587 "BUG: Bugs with backref links"
Here are bugs I've seen with the backref links:

- [x] Class instances after creation sometimes [only get](https://github.com/mne-tools/mne-python/pull/7181#issuecomment-571685516) the `sphx-glr-backref-module-mne` class, not `sphx-glr-backref-type-class` and `sphx-glr-backref-instance` -- see also #588 (addressed in #591)
- [x] `np.random.RandomState` does not link properly (#593)
- [x] Method pa

[2020-01-07 17:37] drammock opened #588 "instances not getting correct CSS classes"
I would like to use CSS selectors to style instances of a class differently from the class constructor. For example, in the first code block of [this section of an MNE-Python tutorial](https://mne.tools/stable/auto_tutorials/intro/plot_10_overview.html#preprocessing) we get variable name `ica` and class constructor `mne.preprocessing.ICA` having exactly the same CSS classes on their `a` tags, and

[2020-01-07 17:39] drammock commented on #588
oops, looks like @larsoner beat me to it. Subsumed by #587

[2020-01-07 17:39] #588 closed

[2020-01-09 14:51] lucyleeow commented on #544
I've amended the issue title to just be about pandas dataframes.

If anyone wishes to add CSS for other elements, another issue can be opened.

[2020-01-10 18:36] lucyleeow commented on #587
@larsoner number 2 `np.random.RandomState` is because it doesn't exist in the intersphinx named inventory.

I tried this on the template sample project and wrote `intersphinx_inv` -
[code]
from [`_embed_code_links()`](https://github.com/sphinx-gallery/sphinx-gallery/blob/4cee8a0e82dc41ee58ce94214fd79eb808107dd4/sphinx_gallery/docs_resolv.py#L306) to a file - [intersphinx.txt](https://github.com/sp

[2020-01-10 18:50] larsoner commented on #587
I have a fix almost complete for that too

[2020-01-13 13:38] #544 closed

[2020-01-17 10:38] mgeier opened #597 "Reduce the amount of hard dependencies?"
In `setup.py`, there seem to be a lot of requirements in `install_requires` (which is populated from `requirements.txt`).

* [x] `setuptools` seems to be a strange requirement, since `setup.py` already imports it (before reading the list of requirements).

* [x] `matplotlib` is of course an important use case for SG, but is it really required? AFAICT, it's not used in the code, only in tests. Ther

[2020-01-17 14:49] larsoner commented on #597
I'm not sure the right thing to do here

We set the renderer to Agg:

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/scrapers.py#L26-L52

In principle we should be able to refactor it not to be this way, though. We should really only do this if `matplotlib` is in the list of scrapers.

It's not hard versus soft here, IIRC at some point the module was renamed so it's tr

[2020-01-17 16:16] mgeier commented on #317
Is there any news on this?

I also wanted to re-use the CSS for `nbsphinx`.

Initially, I wanted to just load SG as extension, but this didn't work without a valid `'examples_dirs'`. And it looked strange to load `'sphinx_gallery.gen_gallery'` without actually wanting to generate a gallery.

Another option is to add `sphinx_gallery.glr_path_static()` to the `app.config.html_static_path` and then t

[2020-01-17 17:24] larsoner commented on #317
We can relax this / make it not raise an error

We can relax these dependencies

We could split the styling into a "minimal" gallery-only set `gallery.css` and `gallery-extra.css` or so. The default for SG would be to use/add both, but you could configure it just to do one.

Then for projects that want SG-like styling, they'd install SG and set:
[code]
Then everything can work without the need for

[2020-01-20 11:08] mgeier commented on #597
Thanks, #598 is great!

[2020-01-20 16:47] mgeier commented on #317
Thanks @larsoner, #599 looks like the way to go!

Yes, given #599 I think a separate PyPI package is not necessary.

But maybe a sub-module (something like `sphinx_gallery.load_style`) could be helpful? See https://github.com/sphinx-gallery/sphinx-gallery/pull/599#issuecomment-576200916.

[2020-01-21 19:07] #597 closed

[2020-01-23 20:15] larsoner opened #600 "MAINT: Better error messages"
As [pointed out](https://github.com/sphinx-gallery/sphinx-gallery/pull/599/files#r369287580) by @mgeier, raising plain Python errors is not as nice as raising Sphinx-specific variants. We should update our internal exceptions.

[2020-01-23 21:01] GaelVaroquaux commented on #600
Huge deal! It would be great. I didn't know about these.

⁣Sent from my phone. Please forgive typos and briefness.​

On Jan 23, 2020, 15:15, at 15:15, Eric Larson <notifications@github.com> wrote:

[2020-01-26 01:51] edublancas opened #602 "Building fails with pickling error"
Hi, I'm trying to build a gallery for a project that uses the multiprocessing module (hence, it needs to use the pickle module), the script defines a few functions that have to be pickled but building the gallery throws the following error (_get is the function that fails to pickle):

```_pickle.PicklingError: Can't pickle <function _get at 0x11cc9c0d0>: attribute lookup _get on __main__ failed```

[2020-01-27 15:30] larsoner commented on #602
Can you see if any of the ideas here would work for you?

https://stackoverflow.com/questions/8804830/python-multiprocessing-picklingerror-cant-pickle-type-function

[2020-01-27 16:31] edublancas commented on #602
Hi @larsmans, thanks for your answer.

The code example works just fine when doing `python example.py`, that´s why I believe it has to do with the way sphinx-gallery executes code. Are there any details I should be aware of?

[2020-01-27 16:34] larsoner commented on #602
Maybe the easiest way to proceed is if you make a minimal example `plot_fail.py` file that won't run, then we replicate locally and take a look at SG fixes or script workarounds.

We use `ast` and code compilation to run files, and it's possible we are doing something wrong.

[2020-01-30 00:32] edublancas commented on #602
Example:

[code]

Traceback:

[code]

Tested with Sphinx==2.3.1, sphinx-gallery==0.5.0

Attached the complete setup for your convenience.

[sphinx.zip](https://github.com/sphinx-gallery/sphinx-gallery/files/4131560/sphinx.zip)

Thanks!

[2020-01-31 01:25] emdupre opened #603 "Handle Binder integration with Jupytext"
We're interested in getting Binder integration working for Nilearn and have been exploring possible configurations.

We're currently experimenting with using Jupytext to make the .py files in the main Nilearn repository interactive and connecting those to Binder, following suggestions from @StanczakDominik in his [blog post](https://stanczakdominik.github.io/posts/simple-binder-usage-with-sphinx-g

[2020-01-31 02:23] larsoner commented on #603
@choldgraf perhaps one for you?

[2020-01-31 04:15] choldgraf commented on #603
I'm all for it (https://github.com/sphinx-gallery/sphinx-gallery/issues/245#issuecomment-526846336, https://github.com/sphinx-gallery/sphinx-gallery/issues/424) :-)

[2020-02-01 01:03] larsoner commented on #602
This would work:
[code]
Would this be a suitable workaround for you? If so I'll add it to the SG docs.

[2020-02-01 01:47] larsoner commented on #602
... actually before reformatting your code, you can try #604

[2020-02-01 06:22] edublancas commented on #602
It works now. Thanks a lot!

[2020-02-07 23:43] banesullivan opened #605 "last_notebook_cell"
Could a `last_notebook_cell` option be added much like the `first_notebook_cell` option for adding snippets that we want executed at the end of the downloaded notebook? This would be used to perhaps report on the user's environment with a tool like [`scooby`](https://github.com/banesullivan/scooby):

[code]

With something like this, a user could download the example, run it, and encounter an erro

[2020-02-08 00:13] larsoner commented on #605
Sounds like a reasonable simple addition to me

[2020-02-12 06:39] prisae opened #606 "`make html-noplot` instructions outdated"
I think the instructions
[code]
given on https://sphinx-gallery.github.io/stable/configuration.html#without-execution are outdated for the newer versions of sphinx which have a catch-all target.

In my case it resulted in
[code]

The following would work (an adaption of the catch-all line):
[code]
but I don't know if there is a better/preferred way for this.

[2020-02-12 17:37] prisae opened #607 "thumbnails from loaded figures"
I have a couple of examples where I compare one code to other, similar codes. These examples produce all very similar figures. I would therefore prefer the thumbs to be more informative, e.g. the logo of the code I am comparing to.

In other cases each example presents a method. Again, the plot itself is not very informative, but a little figure/sketch/drawing of the method would be great.

I can

[2020-02-12 18:03] larsoner commented on #607
I don't see why we couldn't at least try to support this. @prisae do you want to try implementing it and see how difficult it is?

[2020-02-12 20:25] prisae commented on #607
I had a quick try @larsoner, but without success. It is the first time that I looked at the sphinx-gallery code, and I am lost in the jungle of all the directories, where are the static files, where should what be stored, etc. The adjustment has to be in the function `save_thumbnail` of the file `gen_rst.py`. However, I couldn't figure it out.

I guess the image should be stored in `mymodule/docs/

[2020-02-12 21:49] larsoner commented on #607
It is part our mess, part Sphinx's mess (understanding and making use of how Sphinx organizes things). The combination yields something that is a pain to understand, at least at first :)

So feel free to try as long as you want and I can take over at the point you lose interest insuffering through it...

I think the way to go would be to have the `str` version be a path relative to the documentati

[2020-02-13 04:48] mikofski opened #608 "Cell marker causes pycodestyle error"
I was wondering why [`#%%` is recommended](https://sphinx-gallery.github.io/stable/tutorials/plot_parse.html#sphx-glr-tutorials-plot-parse-py), because stickler-CI complains that it doesn't satisfy pycodestyle because there's no space after the comment marker. I hate to be pedantic (["... hobgoblin of little minds."](https://www.python.org/dev/peps/pep-0008/#a-foolish-consistency-is-the-hobgoblin-

[2020-02-13 08:39] prisae commented on #607
I had another go and implemented two versions. They are both very hacky, but I guess they are a start. Could you please have a look and say which one you prefer (if any at all)? Then I could make with that one a PR, and we can work on that.

This was the first attempt, to abuse the `# sphinx_gallery_thumbnail_number` to provide a path instead of a number.
https://github.com/sphinx-gallery/sphinx-g

[2020-02-13 11:54] lucyleeow commented on #608
I think I just wanted to say 'consistently use either `#%%` or `# %%`' but decided on advising to use only `#%%` because it was simpler. I looked into the 'code block' markers used by various text editors (e.g. jupytext, pycharm etc) to find the marker used more frequently but it was pretty evenly split. I think I went with `#%%` because that was used in the original sphinx gallery issue. Also I r

[2020-02-13 14:43] larsoner commented on #607
The second one seems cleaner to me

[2020-02-13 14:55] prisae commented on #607
I agree. The first one was my initial thought. Then I realized that the sphinx-gallery will pick-up any new parameter called `# sphinx_gallery_...`, so I thought it might be better to define a new one. Down the road it will be easier to maintain (and track down issues).

I'll create a PR with that and post the link here, so we can continue the discussion there.

[2020-02-13 15:01] prisae commented on #607
Link to PR is above.

I will add an example to the docs now.

[2020-02-13 21:28] prisae commented on #607
Fantastic, thanks again @larsoner .

Here an example.

### Before
Many of the examples have very similar figures (because they are simply comparisons of different codes and of different methods), so they are visually hard to distinguish what-is-what

![Gallery — emg3d-gallery 0 9 3 documentation - Mozilla Firefox_001](https://user-images.githubusercontent.com/8020943/74479692-e2d3dc00-4eaf-11ea-9a

[2020-02-13 21:28] #607 closed

[2020-02-15 19:19] #608 closed

[2020-02-18 12:32] GaelVaroquaux opened #611 "Mention the multiple possible separators in the notebook-style example"
The example on notebook-style should refer to the talk to mention that multiple separators are possible:
https://sphinx-gallery.github.io/stable/tutorials/plot_parse.html#sphx-glr-tutorials-plot-parse-py

Maybe we should have another example for the file with separators that is compatible with atom / vscode. It help users find this feature.

[2020-02-21 02:11] #565 closed

[2020-02-26 11:04] lucyleeow commented on #611
Not sure what you mean? The 3 possible separators are mentioned, this is the dev version:

[code]

Do you mean we should include both `# %%` and `#%%` in the example `.py` file?

[2020-02-26 14:54] lucyleeow commented on #587
@larsoner I was mistaken with the [extra/incorrect backreferences](https://github.com/sphinx-gallery/sphinx-gallery/pull/584#issuecomment-571601897). They are actually correct because the function was referred to in the text (but not the code) of the example. Unless this is unwanted behaviour I think this can be removed.

[2020-02-26 15:24] larsoner commented on #587
Great!

[2020-02-26 15:24] #587 closed

[2020-02-27 17:00] #602 closed

[2020-02-27 19:52] GaelVaroquaux commented on #611
I was thinking of adding a different file, and saying something like: this file can be opened with jupytext, atom hydrogen and vscode.

I basically think that it is important to make the "#%%" more visible, and the fact that it plays well with jupytext, atom hydrogen and vscode. Right now, it's not very visible.

Maybe, we should change our default separator, and use "#%%" by default.

Also, maybe

[2020-03-05 20:51] thomasjpfan opened #612 "memory_profiler may be causing sphinx gallery to hang"
## Bug Report

Recently, scikit-learn has been hanging when docs are being build during [gallery generation on circleci](https://app.circleci.com/jobs/github/scikit-learn/scikit-learn/96066).

This can be fixed if `memory_profiler` is removed as shown here: https://github.com/scikit-learn/scikit-learn/pull/16629

[2020-03-06 04:19] larsoner commented on #612
Is it possible that the problematic test uses 1.5-2GB of memory? In my experience this has been about the limit for CircleCI, and it's possible that (for some reason) using memory profiler causes slightly higher mem usage and hence a timeout/failure.

[2020-03-06 04:27] larsoner commented on #612
Locally `mprof run plot_sparse_logistic_regression_mnist.py` followed by `mprof plot` I get:

![Figure_1](https://user-images.githubusercontent.com/2365790/76051245-2c0bce80-5f38-11ea-9196-b63fba47288b.png)

Can you try in a PR making the example use less memory? It does look like it uses a lot compared to others, e.g.:

https://scikit-learn.org/stable/auto_examples/linear_model/sg_execution_times

[2020-03-06 14:46] lucyleeow commented on #611
Actually both `# %%` and `#%%` work for spyder, hydrogen and VScode: https://github.com/sphinx-gallery/sphinx-gallery/pull/518#issuecomment-510944121
Could not test Pycharm (costs money) but [they state](https://blog.jetbrains.com/pycharm/2018/04/pycharm-scientific-mode-with-code-cells/) `#%%`

Do you mean `# %%` more visible? Because atm `#%%` IS the block splitter used in `plot_parse.py`.

Regar

[2020-03-06 15:14] thomasjpfan commented on #612
Thank you for the quick response! I will look into reducing the memory usage of that example.

[2020-03-06 15:19] larsoner commented on #612
Let us know how it turns out. It is entirely possible that `memory_profiler` (or our usage of it) is problematic in some way, but it would be good to rule out the "CircleCI times out when too much memory is used" possibility before digging into `memory_profiler` more...

[2020-03-06 15:23] GaelVaroquaux opened #614 "Mention the support for _repr_html_ on custom scraper doc"
On the page about custom scrapers (
https://sphinx-gallery.github.io/stable/advanced.html#write-a-custom-image-scraper )

we should add a clear note that supporting the _repr_html_ is the easiest method to control the display of object in sphinx gallery, and that it is the same process that works for other html-base displays, such as jupyter. Maybe it can save some people the work of implementing

[2020-03-06 15:25] larsoner commented on #614
Sounds good to me

[2020-03-06 15:32] emmanuelle commented on #614
thank you @GaelVaroquaux !

[2020-03-06 15:41] GaelVaroquaux commented on #614
🤙

[2020-03-06 15:48] GaelVaroquaux commented on #611
I don't have a strong opinion on `# %%` vs ``#%%`. You have thought this over better than me, I'll leave it to your call.

Hum, technically you are right (my bad). However, if kicks in only after a few `##################`. I would suggest to put the `%%` first, and the `####` only later, as some form of an after thought, mentioning that they don't play well with jupytext et al.

[2020-03-06 16:08] lucyleeow commented on #611
Will do.

They both do work - so I might make it clear that although some editors mention one in their doc, both actually work. Admittedly PEP8 would prefer `# %%` but I'm new to this so :woman_shrugging:

[2020-03-09 10:00] #611 closed

[2020-03-09 11:32] lucyleeow opened #617 "Master failing with sphinx dev"
Master is failing with sphinx dev for tinybuild test `def test_embed_links_and_styles(sphinx_app)` assertion:

[code]
This assertion was to test issue #583

I built the doc with sphinx dev and noticed the link is:
[code]
note the `-` instead of `_` and `.`'s

What do you suggest @larsoner? Amend the test to allow for both or wait for now?

[2020-03-09 13:44] fumitoh opened #618 "How to prevent output to stderr from being captured."
Is there a way to prevent output to stderr, not just warnings, from being captured and included in my built documentation?

I have  a following piece of code in my source. How can I stop showing the output in my built docs?

[code]

[2020-03-09 14:31] larsoner commented on #618
A principle goal of SG is to make it so that SG's output is a HTML-ified version of what the user would see running the example on their machine. Hence it seems out of scope / against a principle goal to avoid printing the `stdout`/`stderr` the user would see.

One way to go would be to provide some user-extensible mechanism for doing anything:

1. before an example is executed, and
2. after execu

[2020-03-09 17:49] fumitoh commented on #618
I put the following in `conf.py` and it didn't work. Am I doing it wrong?

[code]

[2020-03-10 04:29] #617 closed

[2020-03-10 15:37] larsoner commented on #618
Hmm, maybe it's not a workable solution.

Could you instead use CSS just to hide the code output boxes? Or collapse them? We could look into making them collapsible using CSS/HTML, and then you could add a tiny bit of JavaScript to your pages that makes some or all of them start out collapsed.

[2020-03-10 15:43] fumitoh commented on #618
Oh, ok I'll tweak CSS. Thanks for the hint!

[2020-03-13 05:11] #618 closed

[2020-03-14 01:47] GaelVaroquaux opened #620 "Another place to replace "######" separators by "# %%""
I think that the text at the URL below should also be replaced to favor "# %%"
https://sphinx-gallery.github.io/stable/syntax.html#embed-rst-in-your-example-python-files

[2020-03-14 01:54] #614 closed

[2020-03-14 01:57] GaelVaroquaux opened #621 "sphx_glr_python_to_jupyter script hard to find in the documentation"
The sphx_glr_python_to_jupyter is very hard to find in the document.

I wonder if it shouldn't be briefly mentioned on the page https://sphinx-gallery.github.io/stable/getting_started.html

[2020-03-14 04:19] choldgraf commented on #621
Is this related to #424 perhaps? I think @larsoner was thinking about try at as well

[2020-03-16 14:13] larsoner commented on #621
I didn't even know we had such a script. I see no problem with adding it to the docs somewhere

[2020-03-16 14:41] anntzer opened #622 "Allow removal of "download jupyter notebook" link"
It would be nice if it was possible to globally remove the "download jupyter notebook" links (e.g. if one only wants to support examples run from the command-line).

[2020-03-16 14:56] larsoner commented on #622
Can you just add something like this to your CSS overrides:
[code]
?

[2020-03-16 14:57] GaelVaroquaux commented on #622
I think that this hides both downloads

[2020-03-16 15:01] larsoner commented on #622
Ahh yes it would.

Maybe we should just add more specific classes like `sphx-glr-download-python` and `sphx-glr-download-jupyter` in that case.

[2020-03-16 15:10] choldgraf commented on #621
FWIW I think that my intuition is: unless this CLI does something that is really sphinx-gallery specific, we should actually remove it and tell people to use jupytext to do python <--> ipynb conversion. I'd rather depend and send improvements to that project as an upstream, rather than managing our own `.py` -> `.ipynb` and CLI infrastructure...

[2020-03-16 19:57] larsoner commented on #622
PR opened in #623

[2020-03-16 23:37] #622 closed

[2020-03-19 13:13] #605 closed

[2020-03-24 18:55] mgeier opened #627 "New release?"
Are there any plans for a new release?

I'd like to release my `nbsphinx` gallery feature (https://github.com/spatialaudio/nbsphinx/pull/392), but this only makes sense with #595 and #601 available in the latest SG release.

But apart from that there seem to by many more improvements in `master` ...

[2020-03-24 19:08] lucyleeow commented on #627
@larsoner I could do this by end of this week - I suspect you might have your hands full with MNE release?

[2020-03-24 19:10] larsoner commented on #627
Yes please go ahead

[2020-03-24 19:54] sappelhoff opened #628 "Sphinx-Gallery Binder links: environment.yml does not get "installed""
In our mne-bids package we want to generate binder links for each sphinx gallery example, according to the [sphinx gallery binder docs](https://sphinx-gallery.github.io/stable/configuration.html#binder-links).

We followed the docs closely, everything builds without issues, and at a first glance everything seems to work.

**The issue**: the `environment.yml` file that we supply does not seem to ge

[2020-03-24 19:56] choldgraf commented on #628
I think the problem is that the docs are being hosted in a sub-directory, and not in the root of the repository. Binder will only be able to detect environment files that are in the root, or in a `binder/` folder in the root :-/

[2020-03-24 20:07] sappelhoff commented on #628
Perhaps I should also look into `repo2docker` more. Specifically this sentence from their [docs](https://repo2docker.readthedocs.io/en/latest/config_files.html#configuration-files):

it'd be really interesting to know *how* repo2docker looks for configuration files exactly :thinking:

[2020-03-24 20:11] choldgraf commented on #628
this section in particular is relevant: https://repo2docker.readthedocs.io/en/latest/usage.html#where-to-put-configuration-files

[2020-03-24 20:18] sappelhoff commented on #628
I see, thanks. Do you think it'd be a reasonable feature request to `repo2docker` then to explicitly tell it where to look for the configuration file? ... and then of course pass that behavior down to binder and eventually sphinx-gallery?

Or do you see another way how I can get my wanted/needed behavior?

The basic issue is that each of my subdirectories needs different dependencies.

The hack th

[2020-03-24 20:26] choldgraf commented on #628
It's actually a fairly commonly-requested feature - see here for the latest conversation around it: https://github.com/jupyter/repo2docker/issues/853

[2020-03-24 20:35] sappelhoff commented on #628
Okay, that's helpful and it even provides a solution, albeit effortful and complicated to implement.

Thanks a lot @choldgraf

[2020-03-24 20:35] #628 closed

[2020-03-24 20:44] choldgraf commented on #628
no problem! yep, currently it is just workarounds, sorry that there's not an easy / straightforward solution :-/

[2020-03-27 12:41] #620 closed

[2020-03-27 18:28] #627 closed

[2020-03-27 20:52] mgeier commented on #627
Thanks a lot for the release!

Now my gallery feature is ready for review: https://github.com/spatialaudio/nbsphinx/pull/392

[2020-03-31 10:34] david-zwicker opened #634 "TypeError when creating links from gallery to documentation"
I'm using the excellent sphinx-gallery extension in my python project [`py-pde`](https://github.com/zwicker-group/py-pde). The [documentation is hosted on readthedocs](https://py-pde.readthedocs.io) and things worked perfectly until very recently. Since a few days every documentation build fails with the following traceback:

[code]

The documentation builds without any problem on my own computer,

[2020-03-31 10:47] lucyleeow commented on #634
I've seen that error as well and `make clean` (deleting files in `_build` and the generated gallery dirs) before building again worked. Could you see if this works for you?

I avoided looking into it because `_embed_code_links` is complicated but I should look into it now. Maybe @larsoner has an idea of the reason...?

[2020-03-31 10:58] david-zwicker commented on #634
Yes, I noticed that the error does not always appear and that it often works when I manually start the build on readthedocs. However, this is less than ideal and it looks like there is a bug deeper in the code.

[2020-03-31 11:03] lucyleeow commented on #634
Yes I think it happens when no example files has been changed  - I'll look into it.

[2020-03-31 13:23] lucyleeow commented on #634
@david-zwicker Is it possible to obtain the pickle file (ending with `codeobj_pickle`) for `simple.py` (since it failed at this example) for a failing build on readthedocs? It would be in the gallery dir `examples_gallery`.

[2020-03-31 13:28] david-zwicker commented on #634
Unfortunately, I don’t have access to the build files. I can only obtain the log file that I sent you.

On 31. Mar 2020, at 15:24, Lucy Liu <notifications@github.com> wrote:

﻿

@david-zwicker<https://github.com/david-zwicker> Is it possible to obtain the pickle file (ending with codeobj_pickle) for simple.py (since it failed at this example) for a failing build on readthedocs? It would be in the

[2020-03-31 14:09] lucyleeow commented on #634
I can't seem to replicate the error. It doesn't happen when nothing changes or when only rst files changed but not example files and I can't remember what the circumstances were when I got this error. I suspect it is a problem with the pickle file, thoughts @larsoner ?

[2020-03-31 14:43] dstansby opened #635 "Allow pathlib.Path to backreferences_dir option"
https://github.com/sphinx-gallery/sphinx-gallery/pull/571 checks that `backreferences_dir` is either `None` or `str`. It would be nice to allow `pathlib.Path` objects too.

[2020-03-31 14:44] larsoner commented on #634
From looking at `identify_names` and the code I'm not sure how you could end up in a situation where `cobj` is a string here. I guess that we could add some sanity checks that our data are the right types and skip if they're not. But really this seems less than ideal because we should be able to rely on consistency.

Is it possible that some of these files were produced by an older version of sphi

[2020-03-31 15:55] lucyleeow commented on #634
Exactly.

I've have had the error:
[code]
 which I think is due to previously building with an environment with a different Python version (since we use [`pickle.dump(example_code_obj, fid, pickle.HIGHEST_PROTOCOL)`](https://github.com/sphinx-gallery/sphinx-gallery/blob/23f44fdcd6530b8ee7d8b3e153d15448b407b3a6/sphinx_gallery/gen_rst.py#L813). Potentially it is pickling problem though I can't think

[2020-03-31 16:52] lucyleeow commented on #635
That sounds reasonable and shouldn't break anything. I'll wait a while to see if there are any objections and if not I'll implement!

[2020-03-31 16:59] choldgraf commented on #635
+1 to supporting pathlib-like objects 👍

[2020-03-31 18:28] david-zwicker commented on #634
The documentation fails building almost every single time I push a change to the repository. Building the documentation even fails when I edit the documentations in places that do not use `sphinx-gallery`.

Luckily, I was now able to reproduce the error locally, so I in principle have access to all the files. Here is the traceback from the error in my local environment:

[code]

I attached a copy

[2020-03-31 18:33] lucyleeow commented on #634
Hmm I can't see the `simple_codeobj.pickle`  file?

[2020-03-31 18:37] david-zwicker commented on #634
I attached it to the email, but it didn't go through :) Here is a zipped version, since GitHub does not like the pickle extension:

[spherical_grid_codeobj.pickle.zip](https://github.com/sphinx-gallery/sphinx-gallery/files/4410975/spherical_grid_codeobj.pickle.zip)

[2020-03-31 18:53] larsoner commented on #634
`example_code_obj` should be a dict of list of dict. For some reason yours is a dict of dict (not embedded within a list). I'm not sure how this could happen from the code:

1. `example_code_obj` in the code comes from `identify_names`:

    https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L809-L813

2. `identify_names` only creates dict of list of dict:

[2020-03-31 19:21] david-zwicker commented on #634
Now I cannot reproduce the error in my local environment anymore :( However, re-triggering the build on readthedocs does now always lead to issues. Somehow things got worse and I don't understand why it does not behave very deterministically.

[2020-04-01 09:37] lucyleeow commented on #634
@david-zwicker would you be able to upload the `spherical_grid_codeobj.pickle` file of a build that worked (i.e. you didn't get the error)? Thanks!

[2020-04-01 09:40] david-zwicker commented on #634
Please find the archive with two codeobj.pickle files of a (local) build that worked without problems:

[codeobj_pickle.zip](https://github.com/sphinx-gallery/sphinx-gallery/files/4414196/codeobj_pickle.zip)

[2020-04-01 09:45] david-zwicker commented on #634
Sorry, the previous file was wrong. I noticed that I now run into trouble of creating the gallery. I managed to get pickle files for both a working and a non-working situation:

[codeobj_pickle_notworking.zip](https://github.com/sphinx-gallery/sphinx-gallery/files/4414234/codeobj_pickle_notworking.zip)
[codeobj_pickle_working.zip](https://github.com/sphinx-gallery/sphinx-gallery/files/4414235/code

[2020-04-01 12:58] lucyleeow commented on #634
The pickle objects that are failing were created by Sphinx-Gallery < v0.5.0, as suggested by @larsoner.
Example old/not working `example_code_obj`:
[code]
Example new/working `example_code_obj`:
[code]
Prior to v0.5.0, `example_code_obj` did not include `is_class`, was a dict of dict and did not loop through all possible module paths.

If no changes were made to *any* of the example files, I think

[2020-04-01 13:22] david-zwicker commented on #634
I don't know how readthedocs works internally, but I also obtained this error locally after deleting all files generated by the `sphinx-gallery` and without updating the package.

However, if it is a problem with different versions, would it be possible to accept the old format for a while in the newer versions of `sphinx-gallery`?

[2020-04-01 13:36] lucyleeow commented on #634
I think a better solution would be to create new pickle files - there was a lot done to make sure backreference links work correctly (see https://github.com/sphinx-gallery/sphinx-gallery/issues/587). Though considering

I'm not certain this is the problem. What version of sphinx-gallery are you using locally?

[2020-04-01 13:41] david-zwicker commented on #634
I use version 0.5.0. However, I cannot reproduce the error consistently. The last few times, creating the documentation locally worked without any problems.

[2020-04-01 13:47] lucyleeow commented on #634
Yes that part is confusing as well. The 'not working' pickle objects really do look like the older version of `example_code_obj` but I can't understand why this would happen and non-deterministically as well...

[2020-04-01 13:52] larsoner commented on #634
Do you have more than one Python version on your system? Could the Python paths get messed with when you change things? What I would do is add something like this to `conf.py`:
[code]
0.6 is out now so I'd upgrade everything to that.

[2020-04-01 13:57] lucyleeow commented on #634
But if @david-zwicker deleted *all* the build outputs and built again -  he shouldn't get the error as we would not expect sphinx-gallery to produce the older version of `example_code_obj` but at the same time 'expect' the newer version to be read in.

[2020-04-01 13:57] lucyleeow commented on #634
Does your `make clean` delete the gallery dirs as well?

[2020-04-01 14:20] david-zwicker commented on #634
I actually didn’t use `make clean` but simply removed the folder `docs/source/examples_gallery`.

[2020-04-01 15:41] #635 closed

[2020-04-01 15:44] dstansby commented on #635
Thanks for the quick response!

[2020-04-01 17:58] david-zwicker commented on #634
I updated my codebase so it now uses version 0.6 or higher of `sphinx-gallery` and I changed all examples slightly, so they would be regenerated. Readthedocs compiled everything without problems and the results look perfect. I'm going to monitor the situation and see whether I run into problems in the future!

[2020-04-01 18:01] larsoner commented on #634
Okay we'll close for now but feel free to reopen if it crops back up. Hopefully it's smooth sailing from here!

[2020-04-01 18:01] #634 closed

[2020-04-05 04:34] arokem opened #639 "How do I best cite sphinx-gallery?"
I would like to cite sphinx-gallery in a paper that I am writing about (scientific) software that uses sphinx-gallery for automated examples. Is there a standard way to cite the software? Is there a Zenodo deposit of sphinx-gallery? I couldn't find one.

Thank you, as always, for the excellent work!

[2020-04-05 12:53] larsoner commented on #639
I'm fine with adding Zenodo integration and then cutting a 0.6.1 release so a DOI gets created (or even doing it manually for 0.6 somehow). @lucyleeow WDYT?

[2020-04-05 13:01] lucyleeow commented on #639
Sounds good to me. I'm not familiar with Zenodo, do you have time to do this @larsoner? If not I can look into it.

[2020-04-05 13:17] larsoner commented on #639
I've added Zenodo integration, now we need to release a new version for Zenodo to pick it up. I say we change the version in `master` to 0.6.1, cut a 0.6.1 release, then go back to 0.7.dev0. @lucyleeow are you up for doing this?

[2020-04-05 15:13] lucyleeow commented on #639
Is it the same procedure as for minor/major release? I've done a patch release before but for that project a branch was created for each release (e.g., branch 0.5.0) and the commit of interest was added to that branch via `git cherry pick`, then patch pushed to pypi.

[2020-04-06 11:11] lucyleeow commented on #639
Nevermind, I see it is the same procedure as minor/major - doing it now!

[2020-04-06 14:03] lucyleeow commented on #639
I think this can be closed now! Thanks @larsoner

[2020-04-06 14:03] #639 closed

[2020-04-16 18:21] richardliaw opened #644 "css not included in wheels?"
Hi,

I'm seeing a `gallery-dataframe.css` and `gallery-binder.css` not found error on my docs. It looks like `_static` only contains:
[code]
while on master the above css files are included.

I think this is due to setup.py not listing all the expected static files to be included in the wheels.

[2020-04-17 12:14] lucyleeow commented on #644
Thanks @richardliaw, you're right!

[2020-04-17 12:43] larsoner commented on #644
Are you looking into it? Maybe adapt the check-manifest test from MNE (look at the Makefile) to see if it would have caught this?

[2020-04-17 12:47] lucyleeow commented on #644
The 2 CSS files aren't included in the package on PyPI. No idea what is causing the `DistutilsExecError` Sphinx error in #645 though...do you know?

Will look into the test.

[2020-04-17 13:28] lucyleeow opened #646 "BUG Wrong pandas intersphinx URL"
Master is failing due to:
[code]
Indeed https://pandas.pydata.org/objects.inv gives 404 error. I think the correct link is: http://pandas.pydata.org/pandas-docs/stable/objects.inv

Will file a Sphinx issue.

[2020-04-17 13:38] larsoner commented on #646
Why is this an issue with Sphinx? I think we just need to update the URL in `conf.py`

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/doc/conf.py#L309

[2020-04-17 13:53] lucyleeow commented on #646
According to [this](https://buildmedia.readthedocs.org/media/pdf/sphobjinv/v.doc/sphobjinv.pdf):

Looking at the [Sphinx doc](https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html) it says:

Our intersphinx mappings for other packages is just the base URL e.g., `'sklearn': ('https://scikit-learn.org/stable', None)`.
Previous SG builds have used https://pandas.pydata.org/objects.in

[2020-04-17 13:59] lucyleeow commented on #646
Hmm maybe I should just change to `http://pandas.pydata.org/pandas-docs/stable/` and call it a day. No idea why the current url worked fine previously :woman_shrugging:

[2020-04-17 14:00] larsoner commented on #646
This is the key part. `pandas.pydata.org` is no longer a Sphinx documentation page, and it's not the Sphinx docs. It's a landing page. The Sphinx docs live elsewhere under a subdirectory, so you have to at least point at that. I don't think that it means that, given a non-Sphinx-generated URL, it will crawl all of its subdirectories to search for `objects.inv` files.

I suspect the comparable base

[2020-04-17 14:04] lucyleeow commented on #646
Makes sense. Thanks!

[2020-04-17 14:08] #646 closed

[2020-04-17 14:19] lucyleeow commented on #644
Nevermind it's green now. Will look into adding a test then ping you. Thanks!

[2020-04-18 13:58] lucyleeow commented on #644
@larsoner just to clarify - I should be able to write a test that uses [`check-manifest`](https://pypi.org/project/check-manifest/) and fails if there are any files under 'missing from sdist'. Does that sound reasonable?

[2020-04-18 14:01] larsoner commented on #644
I would just add it to the Makefile like in MNE and run it in some CI run with `make check-manifest`. It should fail on master (at least because of the CSS problem) and pass on this PR

[2020-04-18 14:20] lucyleeow commented on #644
There is no Makefile for sphinx-gallery? Just `doc/Makefile`?

[2020-04-18 14:43] lucyleeow commented on #644
I could add it as a step in the release procedures in `maintainers.rst`?

[2020-04-18 14:44] larsoner commented on #644
In that case you can just put the equivalent command directly in the Travis run

It's better than doing it at release time because it will immediately flag problems in PRs that create them

I can do it quickly if it's not clear

[2020-04-18 15:02] lucyleeow commented on #644
Let me give it a go...

[2020-04-19 12:18] #644 closed

[2020-04-24 20:03] denkii opened #654 "Add built-in PNGScraper"
This is an extension to the discussion on #653.

`PNGScraper` functionality has been useful for me whenever I have a plot or image that doesn't quite conform to the current built-in scrapers such as `matplotlib`. With a built-in `PNGScraper`, users can easily make any workarounds with their plotting or exporting for `sphinx-gallery`.

[2020-04-25 04:44] sciunto opened #655 "thumbnails cause heavy gallery pages and long loading time"
I would like to start a discussion regarding the loading time of galleries.

I opened here a [PR for scikit-image](https://github.com/scikit-image/scikit-image/pull/4613) showing that thumbnails are responsible for long loading time and large bandwidth consumption. Comments show that scikit-learn and matplotlib are also affected by this issue.

I made some tests and the mitigation I found on the u

[2020-04-25 07:04] GaelVaroquaux commented on #655
jpeg tend to give really muddy images.

The best way to solve this would be to use optipng, if installed. optipng
typically gives a 2x size benefit on png images without loosing any
quality. The drawback is that it takes some time to run, and as a
consequence, we stopped using it in scikit-learn. However, with some
logic in sphinx-gallery, we could run it only on the newly-generated
images.

[2020-04-25 15:41] larsoner commented on #655
We should indeed do `optpng`. We should also just check if `optimize=True` [in Pillow](https://pillow.readthedocs.io/en/5.1.x/handbook/image-file-formats.html) would do the same thing.

But even 2x might not be enough for large galleries, so I'm okay with opt-in JPEG behavior. I've noticed slow load times for very large galleries, too, so I might even use such a feature.

@sciunto would you be up

[2020-04-25 15:45] choldgraf commented on #655
Rather than modifying the pngs themselves, could we recommend best practices for lazy loading images? Eg https://www.sitepoint.com/five-techniques-lazy-load-images-website-performance/

[2020-04-25 15:46] sciunto commented on #655
Quick reply. I tried `optimize=True` in pillow, no significant effect.

[2020-04-25 15:56] GaelVaroquaux commented on #655
Try optipng. It can have a bigger impact than jpg.

[2020-04-25 19:09] larsoner commented on #655
optipng PR up at #656

[2020-04-27 14:24] lucyleeow opened #659 "BUG Tinybuild autosummary links fail with Sphinx dev"
In tinybuild, `plot_nump_matplotlib.py` links not generated for sphinx gallery functions/classes.

Local testing with Sphinx dev shows that [`doc_resolvers`](https://github.com/sphinx-gallery/sphinx-gallery/blob/66d4bdc9356cc9c4378f98aacf91ad166bee23c2/sphinx_gallery/docs_resolv.py#L347 )
is outputting `None` instead of the correct link, possibly due to problem with [`SphinxDocLinkResolver`](https

[2020-04-27 14:31] lucyleeow commented on #659
See https://github.com/sphinx-doc/sphinx/issues/7570

[2020-04-27 16:19] lucyleeow commented on #467
@larsoner has this been fixed? The link to `is_color_like` in `tinybuild/_build/html/auto_examples/plot_numpy_matplotlib.html`  still works in after commenting out the 'backreferences_dir' in tinybuild/conf.py.

[2020-04-27 16:23] larsoner commented on #467
@lucyleeow I never intentionally fixed this that I recall. But if you can confirm that works, then I guess we can close.

[2020-04-27 16:54] lucyleeow commented on #467
Checked in a different build and removing backreferences_dir doesn't prevent interpshinx linking in examples. I'll close for now.

[2020-04-27 16:54] #467 closed

[2020-04-27 21:03] SylvainCorlay opened #660 "Support for _repr_mimebundle_"
The Jupyter Python kernel now supports a new repr function called `_repr_mimebundle_` which can be used to provide several representations of the same object in a dictionary. Unlike `_repr_[html|json|svg|png...]_` which are only a limited list of supported mimetype.

As an increasing number of packages use `_repr_mimebundle_`  it may be interesting for jupyter-sphinx to support it.

We could start

[2020-04-27 21:08] GaelVaroquaux commented on #660
This seems like a low-hanging fruits with multiple benefits (including for scikit-learn). @lucyleeow , can you look at this please! Thanks!

[2020-04-27 21:28] choldgraf commented on #660
+1 from me as well, I am a big fan of supporting community standards.

@SylvainCorlay I assume you mean `sphinx-gallery` instead of `jupyter-sphinx`?

[2020-04-27 21:40] SylvainCorlay commented on #660
@choldgraf yes. Sorry - this is fixed. I work with too many projects.

[2020-04-27 22:14] choldgraf commented on #660
you and me both :-)

[2020-04-28 07:59] lucyleeow commented on #660
@GaelVaroquaux @SylvainCorlay what's a good example of an object with a `_repr_mimebundle_` that I can play with and use in a test?

[2020-04-28 08:05] lucyleeow commented on #660
Or should I create my own dummy class?

[2020-04-28 08:05] SylvainCorlay commented on #660
Hey @lucyleeow, pardon my brevity as I am responding from my phone.

I included a couple of screenshots of usage in the linked scikit-learn issue!

Thanks!

[2020-04-28 08:14] SylvainCorlay commented on #660
![hub gke mybinder org_user_jupyter-widgets-ipywidgets-dnin8tek_notebooks_Untitled ipynb_kernel_name=python3(QuantStack)](https://user-images.githubusercontent.com/2397974/80384499-3fd31180-88a5-11ea-89f3-ec806c4d449b.png)

[2020-04-28 08:23] GaelVaroquaux commented on #660
I guess an important question for us, in sphinx-gallery is: which major object uses _repr_mimebundle_ ?

I had a quick look and it seems that my typical goto object, the pandas DataFrame, does not implement it in version 1 of pandas.

[2020-04-28 08:24] lucyleeow commented on #660
I can make a dummy object and use that in the test if there is no 'major object'.

[2020-04-28 08:27] SylvainCorlay commented on #660
@GaelVaroquaux IPython uses it, and also all projects that require custom mime types use it (ipywidgets, altair).

[2020-04-28 08:49] emmanuelle commented on #660
and we should probably use it for plotly, so I'm also interested :-). Thanks for raising this @SylvainCorlay

[2020-04-28 08:50] GaelVaroquaux commented on #660
An example with altair would be great!!

I'd be so excited to have an example in sphinx-gallery that uses altair.

[2020-04-28 08:56] SylvainCorlay commented on #660
Then that will be a bit more work to than just supporting the `text/html` mime type in `_repr_mimebundle_`.

[2020-04-28 08:58] SylvainCorlay commented on #660
@GaelVaroquaux should I open a separate (and more general) issue on using the kernel protocol and Jupyter's display system like in jupyter-sphinx to support bokeh, widgets, altair, etc?

[2020-04-28 09:03] GaelVaroquaux commented on #660
OK, I thought that Altair was javascript only, like plotly :(.

I don't really see how we could support something that needs a jupyter
kernel. It's too heavy for what we do. Plotly, on the other hand is easy
because it is javascript only.

[2020-04-28 09:09] SylvainCorlay commented on #660
kernel. It's too heavy for what we do. Plotly, on the other hand is easy
because it is javascript only.

I don't think you understand what I mean. All these examples are javascript only. The kernel is only used at build time of the doc.

[2020-04-28 09:16] SylvainCorlay commented on #660
Would you like to discuss this real quick - to be on the same page with respect to understanding each other.

[2020-04-28 09:16] GaelVaroquaux commented on #660
Having everything depend on the kernel is a problem. For instance, you
want to install a new version of a package, and as a consequence it needs
an update of the kernel, which ends up updating the frontend, then
plotly, then pandas, and you're left with a broken jupyterhub (unlikely
but did happen to me last week) or broken data-analysis scripts because
pandas has details that change from a versio

[2020-04-28 09:20] SylvainCorlay commented on #660
@GaelVaroquaux would you like to chat?

[2020-04-28 09:28] SylvainCorlay commented on #660
want to install a new version of a package, and as a consequence it needs
an update of the kernel, which ends up updating the frontend, then
plotly, then pandas, and you're left with a broken jupyterhub (unlikely
but did happen to me last week) or broken data-analysis scripts because
pandas has details that change from a version to another.

Installing a kernel does not update the front-end. This

[2020-04-28 14:55] choldgraf commented on #660
I think one challenge for this is supporting the many different kind of mimetypes that can exist in a mimebundle. Some of the libraries don't just use regular `text/html` mimetypes, they register their own (e.g. I believe the ipywidgets do this).

Could get around this by using the IPython display function to display the mimebundle? e.g., that's what scrapbook does here: https://github.com/nteract

[2020-04-29 14:41] lucyleeow opened #664 "ENH More informative 'alt' attribute for thumbnails in index"
Following from #663, make the alternative text ('alt' attribute of image in rst) for thumbnail images in the index.rst of generated galleries to be the title of the example file.

cc @ogrisel

[2020-04-29 22:00] TomDonoghue opened #665 "Inconsistency with applying & removing sphinx gallery configs"
In trying to add the `remove_config_comments` option (from #487), we noticed an inconsistency in where configs can be put vs. where they get removed from.

Specifically, configs, (at least `# sphinx_gallery_thumbnail_number = X`) can be put in a text block, and have effect. But the `remove_config_comments` only removes these lines from code blocks.

So, for example this setup has effect, but the l

[2020-04-30 13:03] lucyleeow commented on #665
This is due to the first `#` being removed from text blocks by `split_code_and_text_blocks` such that the text block:
[code]
becomes 'sphinx_gallery_thumbnail_number = 1'. Since the current regex only looks for configs with a `#` at the start (i.e., '# sphinx_gallery_thumbnail_number = 1') configs in text blocks are not removed.

Solutions:
* amend regex to match just the config without `#` at the

[2020-04-30 13:09] larsoner commented on #665
I don't think they were ever meant to be in text blocks, so I'd be in favor of making a note in the docs rather than changing any code

[2020-04-30 14:01] #659 closed

[2020-04-30 15:12] #665 closed

[2020-04-30 15:31] #538 closed

[2020-04-30 16:38] TomDonoghue commented on #665
Thanks for the quick response / fix!

[2020-04-30 18:27] #606 closed

[2020-05-01 15:05] #664 closed

[2020-05-04 09:15] pmeier opened #671 "Support for GPU memory logging"
The examples I'm building are mostly run on a GPU. Thus the memory recorded in the built does not reflect the reality. Is it possible to define a custom "`memory_logger`"?

If I understand I need to replace

https://github.com/sphinx-gallery/sphinx-gallery/blob/f0b505824b02a2725e6fa825caab64987ce278cd/sphinx_gallery/gen_rst.py#L465-L486

with my custom profiler. As far as I see this currently not

[2020-05-04 09:57] pmeier opened #672 "Output of logger is not captured if the logger is created in a different cell"
Logger output is not captured if the logger is not created within the same cell. Consider the following example:

[code]

Running `make html` generates the following extract in the corresponding`.rst` file

[code]
(Whitespace removed to enhance readability).

As you can see, the second info is missing. If I run this file manually with python all three lines are printed on `stdout`.

[2020-05-04 13:14] larsoner commented on #672
Does it capture properly if you manually flush the handler at the end of the block that otherwise doesn't print?

[2020-05-04 14:00] larsoner commented on #671
Indeed it's not currently possible. In theory we could refactor this to allow `show_memory : True | False | callable`, where the `callable` needs to take a single arg (a func to run) and return 1) the memory usage in MiB and 2) the output(s) of the function. This would be pretty easy to support since this is the API of the `memory_usage` function we use internally, so we'd just need to wrap `show_

[2020-05-04 14:12] pmeier commented on #672
@larsoner Nope. Changing the second cell to

[code]

does not change the behavior.

[2020-05-04 14:13] pmeier commented on #671
Sure, that would be great.

[2020-05-04 15:12] larsoner commented on #671
It seems like what you can provide is just a special case of what the API I've described requires. Your function would just be something like:
[code]
And it should do the right thing, no?

[2020-05-04 15:35] lucyleeow opened #675 "check-manifest causing master to fail"
Master failing due to:

[code]
I didn't realise these files are in sdist...??

[2020-05-04 15:38] choldgraf commented on #675
yeah the same errors are popping up in your PR #673 as well...that's what's causing travis to be unhappy

[2020-05-04 15:38] lucyleeow commented on #675
Locally I don't get this result from `check-manifest` and these files aren't even in the git repo..?

[2020-05-04 15:39] larsoner commented on #675
check-manifest changed how `ignore` is handled, can you see if updating it fixes things? I had to do this in MNE

https://github.com/mne-tools/mne-python/pull/7722

[2020-05-04 17:13] pmeier commented on #671
Could you elaborate what exactly `func` is here?

[2020-05-04 18:19] larsoner commented on #671
it's the thing to be run while profiling, IIRC it's effectively some code block from the script

[2020-05-04 18:28] larsoner commented on #671
... for reference, you can see that our internal `_memory_usage` does this:
[code]
So the job of your `callable` would be to take a single `func` to run, and needs to return the (peak) memory in MiB found while running it (this is the API contract I'm talking about adding). Hence this sounds like it should work for you, assuming `peak_memory_usage_in_MiB` gets your peak GPU memory usage:
[code]

I

[2020-05-04 18:49] #675 closed

[2020-05-04 19:36] pmeier commented on #671
So basically you determine the memory usage of every `func` and after everything is run you take the maximum to determine the peak usage, correct? If yes, you are indeed right and your proposal should work for me.

As a sanity check for me: by always returning the peak usage from `get_my_memory` `max(memory_usages) == memory_usages[-1]`, correct?

[2020-05-04 20:00] lucyleeow commented on #672
Is possibly relevant? https://stackoverflow.com/questions/25989123/python-stringio-is-not-correctly-capturing-data-from-stderr

[2020-05-04 20:06] larsoner commented on #671
Yes that should be the case! I'll give a stab at a little refactoring to let you try it out soon

[2020-05-06 17:36] lucyleeow commented on #496
@larsoner to clarify, do you mean adding something like:
[code]
to the top of the file `gen_modules/backreferences/numpy.exp.examples` so you can reference the mini gallery with:

[code]

[2020-05-06 18:31] larsoner commented on #496
Yeah that's what I have in mind, @drammock would that indeed help?

[2020-05-06 18:41] drammock commented on #496
That would work for me.  Although TBH I made that request long enough ago that I don't remember which page or tutorial I wanted it for :)  But I'm sure I'd find uses for it soon enough.

[2020-05-07 11:30] lucyleeow commented on #496
I'm not sure if this works. The reference link will work only if the 'examples' file (e.g., `gen_modules/backreferences/numpy.exp.examples`) has been included (with `.. include:: ...`) elsewhere in the documentation. For our docs it only works as our autodoc template ([`doc/_templates/module.rst`](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/doc/_templates/module.rst)) includes 'ex

[2020-05-07 12:13] larsoner commented on #496
I just realized that in MNE we should just modify the `class.rst` and `function.rst` templates. We already modify them to include the `.examples` file, we should add a `.. whatever::` before them, and that should work.

[2020-05-07 12:14] larsoner commented on #496
... though if it does work, we should also do this in our templates here and in the docs

[2020-05-07 12:14] larsoner commented on #496
@lucyleeow do you want to see if it's possible?

[2020-05-07 12:36] lucyleeow commented on #496
It should be possible to add the reference label (`.. _my_fun:`) to the top of our `doc/_templates/module.rst` file but sphinx-gallery doesn't ship this file? We only have .css and some images in our `_static`: https://github.com/sphinx-gallery/sphinx-gallery/tree/master/sphinx_gallery/_static

[2020-05-07 12:58] larsoner commented on #496
I mean in our internal `conf.py` and also in docs here

https://sphinx-gallery.github.io/stable/configuration.html#auto-documenting-your-api-with-links-to-examples

[2020-05-07 13:07] lucyleeow commented on #496
Oh that makes sense now!

[2020-05-07 14:47] larsoner commented on #496
Seems to work in https://github.com/mne-tools/mne-python/pull/7748

[2020-05-07 14:52] #496 closed

[2020-05-07 14:56] #671 closed

[2020-05-08 01:58] sandrotosi opened #681 "fix tests regex to search for numpy data in html"
Hello,
in Debian i had to apply the below patch to run unittests; those regex where change last in #604 introducing the `mtrand` snippet; not sure what was the intent of that (as it appears that string is not present anymore?) but if not optional the tests fail

please apply this so that i can remove the diff from our debian package

[code]

[2020-05-08 10:10] lucyleeow commented on #681
Thanks @sandrotosi. I think it is due to intersphinx linking not being deterministic and sometimes adding `mtrand` to the fun path.
Please feel free to submit a PR next time!

[2020-05-08 14:55] #681 closed

[2020-05-11 14:26] ayshih opened #683 "Provide a Sphinx directive to insert a mini-gallery"
In SunPy, we've started using [mini-galleries](https://sphinx-gallery.github.io/stable/configuration.html#add-mini-galleries-for-api-documentation), but I found the procedure for insertion to be a little clunky, and the mini-gallery to be a little limiting.  I wrote [a Sphinx directive for SunPy](https://github.com/ayshih/sunpy/blob/c7f8cb2776acb21a9029e943c868503772740b2b/docs/conf.py#L320), with

[2020-05-11 14:41] choldgraf commented on #683
I'm definitely a fan of exposing some of the more useful SG features as user-facing features such as this minigallery example. 👍

[2020-05-11 15:16] larsoner commented on #683
No rule or anything prohibiting directives, just no compelling use cases thus far. This seems like it could be a good one!

Maybe start with a tiny PR just to `doc/configuration.rst` with what you would write there about the feature. That will force us to sort out the user-facing API and also figure out how it integrates with / instead of / in addition to the currently recommended way of doing thi

[2020-05-12 03:55] ayshih commented on #683
Great!  I got that impression from comments like [this](https://github.com/sphinx-gallery/sphinx-gallery/issues/413#issuecomment-417691567), which seemed to hint at some historical debate over providing directives.

Sure, I can do that (later this week).

For your example, as currently implemented in SunPy:
[code]
would be equivalent to:
[code]

The `:start-line: 5` is needed to strip the hard-cod

[2020-05-12 14:21] larsoner commented on #150
Coming back to this because I have a couple of use cases that could benefit from native sphinx-gallery support for Matplotlib animations. Has anyone written a scraper yet?

I noticed the `matplotlib` dev docs say about animations that you can [save animations then upload them and](https://matplotlib.org/3.1.0/devel/documenting_mpl.html#adding-animations) use a `.. raw:: html` tag to display them i

[2020-05-12 14:38] larsoner commented on #683
Sphinx-gallery has been (trying to, at least) be more modular in the last couple of years, and nobody has complained so far. So I'd say you should be good to go on this one

Indeed it sounds like this is a complaint from #413, and your directive seems like it would solve this problem

I think it's indeed easier just to know what we do and compensate appropriately. There is a cost to adding more an

[2020-05-12 20:04] choldgraf commented on #150
Hmmmm - I'm not sure how the MPL devs would feel about it, though in general they've been pretty receptive to improvements like this as long as it gives them the flexibility to keep the customizations they want. I'd be +1 on this (maybe with some warning about YMMV, since I could see this becoming a rabbit-hole)

[2020-05-12 20:06] larsoner commented on #150
Indeed, the idea wouldn't be to cover all `mpl` (and other) use cases, but if we can satisify 80-90% of them with some simple interface like `matplotlib_animations: True` then I think we should. And then if people want other/fancy options, they have some code to work from to write their own scraper.

[2020-05-14 14:20] lucyleeow commented on #683
closed via #685

[2020-05-14 14:21] #683 closed

[2020-05-14 14:22] lucyleeow commented on #413
I think this can be closed with #685

[2020-05-14 14:22] #413 closed

[2020-05-14 15:16] #150 closed

[2020-05-14 15:39] #672 closed

[2020-05-15 17:31] jankrepl opened #689 "Searching in docs v0.6.2 stable does not work"
In the current [**stable** 0.6.2 docs](https://sphinx-gallery.github.io/stable/index.html) searching just yields `Searching...` but never actually shows results.

Switching to [**dev** 0.7.0.dev0](https://sphinx-gallery.github.io/dev/) makes it work

[2020-05-20 19:20] lucyleeow commented on #689
Indeed. It works on the locally built docs and in the artifact from the last PR (https://1550-25860190-gh.circle-artifacts.com/0/rtd_html/index.html). Any idea @larsoner ?

[2020-05-20 19:24] larsoner commented on #689
Looking at the dev console when searching `stable` I see:
[code]
Then some more googling:

https://github.com/sphinx-doc/sphinx/issues/6244

So rebuilding should fix it. But really we could just release 0.7.0 because of animations, and maybe also once https://github.com/sphinx-gallery/sphinx-gallery/pull/656 is in

[2020-05-20 19:43] lucyleeow commented on #689
Sounds good, animations are big! Should I/we nag Gael about #656 or get someone else to review?

(Also master is broken with sphinx-dev build, seems to be something wrong with imports as `plot_future_imports_broken.py` isn't failing as it should and `plot_numpy_matplotlib.py` failing at `import matplotlib` line)

[2020-05-21 14:13] #655 closed

[2020-05-21 16:21] #600 closed

[2020-05-21 20:15] lucyleeow commented on #689
Fixed with new release

[2020-05-21 20:15] #689 closed

[2020-05-24 13:19] GaelVaroquaux opened #694 "Calling "plt.show()" raises an ugly warning"
When a script has "plot.show()" in it, it results in the following ugly warning:
<pre>
UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
</pre>
Can we capture it and hide it?

[2020-05-24 13:28] lucyleeow commented on #694
I've noticed this too but is it new?

You can filter warnings: https://github.com/sphinx-gallery/sphinx-gallery/pull/564

[2020-05-24 13:33] GaelVaroquaux commented on #694
I don't know. I only noticed it now. I think that old versions of
matplotlib didn't have this.

But shouldn't we filter this one by default? With a way of removing this
filter of course.

[2020-05-24 13:48] GaelVaroquaux opened #695 "Rework the download note with a css dropdown"
At the beginning of all our examples, we have a note that points user to the bottom of the example, to find the download links and the binder link.

I find that there is one click too much: the user must click on the link in the note, and then click on the relevant download, or binder link. That said, this note must remain small.

I suggest that we work a bit more on the generated html to reword i

[2020-05-24 13:54] lucyleeow commented on #694
Well if you want this to be optional we could add a new configuration that can remove various warnings as desired by user. Let's see what others think.

[2020-05-26 13:55] larsoner commented on #694
Right now this is what we tell people to do in the docs:
[code]
I guess we can just do this when the builder is initialized. I wouldn't bother with a config var. If people don't want this behavior (I assume YAGNI, though) they can manually remove it from the list of filters -- it can pretty easily be `pop`ed from the `warnings.filters` list in a new `reset_modules` function.

I'd prefer only addin

[2020-05-26 14:28] lucyleeow commented on #694
I totally agree, I just didn't know how to do it optionally otherwise.

Sounds good. Not sure how to do this. Happy to implement with assistance or if it's easier for you to just do it, happy to watch and learn!

[2020-05-26 14:30] larsoner commented on #694
I'd do it wherever we initialize `matplotlib` to use `agg`, which appears to be in `sphinx_gallery/scrapers.py`

[2020-05-26 14:33] GaelVaroquaux commented on #694
Sounds good

[2020-05-26 14:51] lucyleeow commented on #695
Do you suggest we remove the links at the bottom of the page or keep those?

[2020-05-26 14:53] larsoner commented on #695
FWIW in MNE [we completely remove the top thing and only keep the bottom links](https://mne.tools/dev/auto_tutorials/io/plot_10_reading_meg_data.html#sphx-glr-auto-tutorials-io-plot-10-reading-meg-data-py), so this would create problems for us. Though we could probably live with going to the new format... not sure if others would be similarly affected.

[2020-05-26 14:55] lucyleeow commented on #695
Keeping both seems reasonable and backwards compatible.

[2020-05-26 14:57] GaelVaroquaux commented on #695
Keep those. I do not find that they are harmful in anyway.

Worse case, they can be hidden with CSS.

[2020-05-26 15:52] #694 closed

[2020-05-26 17:21] lucyleeow opened #697 "DOC Builder types clarification"
Our doc intro says:

but technically once we make the .rst files Sphinx can convert them to many different outputs? Should we clarify?

[2020-05-26 17:53] larsoner commented on #697
Other builders are not heavily tested AFAIK and in some places we have `.. raw:: html`, so I think some additional testing is needed if we want to claim that it's good for other builders

[2020-05-26 18:18] lucyleeow commented on #697
Hmm good point. I should make some doc amendments then.

[2020-05-26 18:18] #697 closed

[2020-06-01 17:48] thomasrockhu opened #699 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-06-10 05:37] romanlutz commented on #219
As far as I can tell this problem still exists, i.e. downloading notebooks from sphinx-gallery means they have rest-formatted markdown which doesn't render properly (like in the screenshot in the first post). Does anyone have workarounds?

sphinx-gallery is such a great effort, would be a shame not to be able to use it because of this.

[2020-06-10 07:52] lucyleeow commented on #219
@larsoner happy to implement the above proposed (optional) pypandoc solution if we're still +1

[2020-06-10 12:39] pmeier opened #704 "Working with pre-built galleries"
I'm using `sphinx-gallery` to build example galleries. The documentation is hosted on [Read the Docs (RTD)](https://pystiche.readthedocs.io/en/latest/galleries/examples/index.html). My examples rely on a GPU, so I can't let them be built by RTD.

I came up with the following to overcome this: I've set up a separate build server that spins up every few hours and runs a `sphinx-gallery` build for th

[2020-06-11 13:45] pmeier commented on #704
@larsoner

The difference is fairly simple:

The block for the `.zip` download uses absolute paths

https://github.com/sphinx-gallery/sphinx-gallery/blob/106692a9373e6264f21ed418e91ee37b812e34b9/sphinx_gallery/downloads.py#L126-L129

while the block for the `.py` and `.ipynb` uses relative paths:

https://github.com/sphinx-gallery/sphinx-gallery/blob/106692a9373e6264f21ed418e91ee37b812e34b9/sphinx

[2020-06-11 16:12] hayesall opened #707 "Open Graph protocol and link sharing"
It would be cool if there was a configuration option to support Open Graph protocol or Twitter cards when sharing examples:

- [Open Graph protocol](https://ogp.me/): "*enables any web page to become a rich object in a social graph.*"
- [Twitter Cards](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards): "*... you can attach rich photos, videos and media experie

[2020-06-11 18:14] larsoner commented on #707
@hayesall sounds reasonable to me, seems like something we could add in a `.. raw:: html` in our generated RST files without too much work. Would you be up for trying to implement it?

How do you envision the API? It seems like:
[code]
could be a minimal verison for OGP if we assume types `en/article` and get `title`/`description`/`url` like we do for the builds/example pages anyway. As long as th

[2020-06-11 18:59] hayesall commented on #707
If you can assign me to this issue I can schedule some time! It probably won't be for a few weeks though (I have to get through some higher priorities first, but the use-case seems pretty obvious and it seems like an option that other people might want as well).

Your API suggestion is really close to what I had in mind.

There could also be some options for individual pages. Default values probab

[2020-06-11 19:02] choldgraf commented on #707
I think the one thing we should double-check is that `meta` tags for opengraph work outside of the `<head>` of a page. If they do, then I think this is a good idea. If they don't, then it might be trickier to get this working across different themes

[2020-06-11 19:31] #704 closed

[2020-06-11 19:50] larsoner commented on #707
Unless you already know that you will want these, I'd rather add them later if people request them and assume YAGNI for now.

Let's just use `sphinx_gallery_thumbnail_number` -- it should be representative for the gallery page, so should be good enough for Twitter sharing, too (until proven otherwise).

Agreed, should only add images where possible (the default/no-image-generated that we use in th

[2020-06-11 21:04] choldgraf opened #710 "Support MyST markdown"
There's a relatively new parser for markdown in Sphinx called [the myst-markdown parser](https://myst-parser.readthedocs.io/en/latest/). It allows users to write their documentation in markdown and retain all of the Sphinx features like roles, directives, etc.

Enabling myst markdown in a repository automatically adds the MyST parser for any `.md` files (and it retains the sphinx build's support f

[2020-06-12 08:26] lucyleeow commented on #219
MyST discussion continued in #710

[2020-06-12 08:36] lucyleeow commented on #710
I agree that markdown is more well known and notebook conversion could be handy.

I think there would be extensive additions to support this though. To get an idea of what needs to be changed to support markdown, what would be the markdown version of the simple rST example below? (@choldgraf)

[code]

[2020-06-12 14:21] choldgraf commented on #710
Hey - sure thing, here's what it would look like in MyST markdown:

[code]

(I may be missing a back-tick in there somewhere but this is more-or-less what it would look like in MyST)

[2020-06-16 09:45] #219 closed

[2020-06-16 17:57] rowanc1 commented on #707
I believe that the meta tags [have to be in the head](https://stackoverflow.com/questions/1447842/what-happens-if-the-meta-tags-are-present-in-the-document-body#:~:text=META%20tags%20are%20only%20allowed,essentially%20creating%20an%20invalid%20markup.) (at least last time I did this) as well as in the static server rendered html. There is a nice way to check that they are working across sites here

[2020-06-21 14:52] emmanuelle opened #715 "Gallery example using plotly"
Hi, I was planning to submit a PR showing how to use plotly figures in sphinx-gallery examples and I'm opening this issue to prepare this PR and to be sure whether it would be well received.

There are two ways to use plotly in sphinx-gallery:
- either by using the recently introduced `_repr_html_` of plotly figure objects. This is the easiest way to use plotly figures, but then you don't get png

[2020-06-22 14:34] emmanuelle commented on #715
Hi @lucyleeow thanks a lot, I'll do as you suggest!

[2020-06-22 20:33] timhoffm opened #717 "Thumbnail oversampling"
https://github.com/sphinx-gallery/sphinx-gallery/blob/353ff9f972c240e3855e91283a89dddef669adf9/sphinx_gallery/gen_gallery.py#L64

What is the reason for 2.5x oversampling? We had a recent PR for reducing that for Matplotlib specifically (https://github.com/matplotlib/matplotlib/pull/17275). We were assuming that 2x is enough, and one may even get sharper pictures on non-scaled screens.

[2020-06-22 21:19] larsoner commented on #717
Digging a ways back into the history, I'm guessing it's because `sklearn` originally used the thumbnails as part of some carousel:

https://github.com/scikit-learn/scikit-learn/blob/0.16.X/doc/sphinxext/gen_rst.py#L941-L945

I agree this is probably not good for most projects nowadays, in my projects I tend to set `'thumbnail_size': (160, 112)` or similar. Would a big doc change recommending that

[2020-06-23 08:50] timhoffm commented on #717
Thanks for the explanation. For now, I‘ll set the size manually. From a user‘s perspective, the default should be reasonable. There is little point in recommending everybody to change a standard setting. IMHO this is worth the deprecation effort.

[2020-06-23 13:03] #715 closed

[2020-06-23 13:06] larsoner commented on #441
FYI @banesullivan, @emmanuelle just added a plotly example in #718, feel free to add one for PyVista if you want

[2020-06-23 14:52] larsoner commented on #717
@lucyleeow want to take a stab at this? Basically if `thumbnail_size` is not given by the user then it should `warnings.warn(..., DeprecationWarning)` and for now use the old value, and in the next version we'll remove the warning and use the new value

[2020-06-23 17:16] lucyleeow commented on #717
Sorry just to clarify, if `thumbnail_size` is the default value (`(400, 280)`), give the warning?

What would be the new value for the next version? '160, 112' ?

I'm also confused by our documentation:

My CSS isn't good but I don't know where in `gallery.css` this is set?
[code]
My understanding is that the `thumbnail_size` will be scaled to within max-height and max-width, while maintaining asp

[2020-06-23 17:23] larsoner commented on #717
No, only emit the DeprecationWarning if they have not set `thumbnail_size` in `conf.py`. People with the value not explicitly set are the only ones who will be affected by the change in default value

Check the code -- I think we might actually letterbox/pillarbox the image to make it actually be `thumbnail_size`. And from a recent MNE build where we set `thumbnail_size` both the missing-img and a

[2020-06-23 17:38] lucyleeow commented on #717
Sorry, but how do I check if it's been set in `conf.py`?

Okay I see we do scale the image to `thumbnail_size`:
https://github.com/sphinx-gallery/sphinx-gallery/blob/aae7049e4eac4b52f1a53bca23b5f63afdb20d56/sphinx_gallery/gen_rst.py#L308

Just to confirm, the letterbox/pillarbox happens when the `thumbnail_size` does not have the same aspect ratio as (400, 280) ?

Also what does the thumbnail CSS

[2020-06-23 19:29] larsoner commented on #717
See for example

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_gallery.py#L108-L115

Yes indeed

[2020-06-23 19:51] lucyleeow commented on #717
Sorry to bother, last question. From the `gallery.css` i interpret this:
[code]
as setting maximum 160x112px but the doc says we set maximum 160x160px?

[2020-06-23 20:11] larsoner commented on #717
Docs are probably wrong on that point

[2020-06-23 23:26] timhoffm commented on #717
1. Have you considered 320x224 (i.e. 2x CSS values) as the default? This will cover Retina/HiDPI displays and easily scales down for regular displays without much artifacts. The downside is the file size. It‘s a trade-off, but I would go for the better looking option as the default.

2. I propose not to add a deprecation warning to the code. I assume that most users don‘t care explicitly about the

[2020-06-24 07:16] lucyleeow commented on #717
Good points.

I agree with 2 as well since the change won't really affect people (unless they have a really resolution screen and really look at the thumbnails) and people interested in changing can read the docs. I will amend my PR and see what @larsoner says.

[2020-06-26 00:07] timhoffm commented on #717
Closed by #719.

[2020-06-26 00:07] #717 closed

[2020-06-29 19:27] ezyang commented on #330
Seconding this; pytorch/tutorials has this line: https://github.com/pytorch/tutorials/blob/67032d771a93fa996deadfdc4d5c7e614ab4c16d/conf.py#L81 to get files from the source directory to the gallery directory, so that we can have documentation that intermixes galleries with manually written files. It would be much better if we did not have to do this ourselves.

[2020-06-29 19:50] ezyang opened #721 "filename_pattern still doesn't work all that great for working on one tutorial"
Previously in #321 (fixed by #346) a user complained about the experience for running sphinx-gallery on one file. The docs were updated with documentation on `filename_pattern` and a new feature `ignore_pattern`. These seem like inverses but they are not: `filename_pattern` controls whether or not you execute the script (but doesn't affect if sphinx-gallery will parse and generate the file), while

[2020-06-29 20:07] larsoner commented on #721
I guess you mean "useless in your case", because in general it's not useless (see below about cross-linking) or it's fast (just md5sum). But really a few seconds is typically very small time-wise relative to even a single example build, so I'm not sure we should work too hard to optimize this further...

To build a single example, I usually do:
[code]
and this does not cause a full rebuild (just d

[2020-06-29 20:40] ezyang commented on #721
I guess I should give you a repro. The very big and annoying repro is:

[code]

On the second build I observe

[code]

again.

I can work on a minimal repro if that would help.

Fair enough. New config parameter then.

It's so you can do config without html https://www.sphinx-doc.org/en/master/_modules/sphinx/application.html#Sphinx.add_config_value

[2020-06-30 01:23] larsoner commented on #330
IIUC, these two seem a bit different:

- In @GaelVaroquaux's case, the RST is converted to `.py` so it gets run by Sphinx-gallery, and then converted back to RST (with all figures, backrefs, doc links, etc.) *without any plain RST in between* (though you could probably enhance the code to take care of this limitation)
- In @ezyang's case, RST is just copied directly, so no figures/backrefs/doc lin

[2020-06-30 09:15] lucyleeow commented on #330
I thought we already allowed both `README.txt` and `README.rst` ? I think `config['source_suffix']` is `.rst` ? Maybe I am confused as to what you are saying?

[2020-06-30 09:33] larsoner commented on #330
Yes we already do it -- I'm saying that this might be a problem / conflict if we implement a "run all RST" feature

[2020-06-30 09:36] lucyleeow commented on #330
Ah I get you, thanks!

[2020-06-30 15:13] ezyang commented on #330
Not actually. I think it's just that we have to store both Gallery py files and non-Gallery rst files in the same "source" directory, and go into the same destination (being in the same destination is important because the ultimate directory hierarchy of the final directory is indifferent to whether or not a particular document was Gallery py or just plain rst. So maybe I should not have chimed in

[2020-06-30 18:40] larsoner commented on #721
I did not use `requirements.txt` because it requires an old sphinx-gallery, and we should be looking at latest `master` performance. I just `pip install pytorch_sphinx_theme pytorch`, fixed `conf.py` to have `backreferences_dir=None` then ran:
[code]
But this hits an error:
[code]
Using a private function is a no-no, we should really make it easier to do whatever it is you are actually trying to d

[2020-07-01 03:39] ezyang commented on #721
On my machine, the difference between parsing and not parsing is:

[code]

That's an over 50% reduction, so I find it quite noticeable. This is on sphinx-gallery 0.3.1. As you suggest that the performance is master based, I tried upgrading to master. Now the timing is:

[code]

So the difference is much less pronounced, though it's still a 25% speedup (which ostensibly will get larger the more gal

[2020-07-01 12:11] larsoner commented on #721
True, but I really don't see 2s as a bottleneck. Even with many more examples (I work on a repo with hundreds) it's only effectively the bottleneck when modifying a single non-example rst file, and even then it's not so noticeable. If rather not need with the API to optimize this further, and would rather focus on usability issues that people are more affected by.

[2020-07-01 20:28] ezyang commented on #721
Yeah, I guess it depends on workflow style. I'm one of those people who keeps mashing build to see what the html docs look like :)

[2020-07-08 16:06] ezyang opened #725 "Relate warnings and errors on generated rst file back to source Python file / prevent accidental writing of generated files"
When there is a problem in the generated RST file from a Gallery Python file, Sphinx reports the line error in the generated rst file. There's a few problems with this:

1. If you're not paying close attention, you might try editing the RST file to fix the error. But this is the wrong thing to do: you should have edited the source Python file. Some ways to make it harder to make this mistake inclu

[2020-07-08 17:17] larsoner commented on #725
- I'm fine with adding a `@generated` comment to RST if it can be done without showing up in the output (e.g., as `.. @generated` or something)
- I'm fine with creating the RST files as read-only
- The logic for catching the Sphinx warnings, or modifying Sphinx to allow us to do something with the warnings seems like way too much added complexity for the scope of the problem. I'd rather just add t

[2020-07-17 21:38] jklymak opened #726 "Q: how to have a couple of images with `bbox_inches='tight'`."
More of a question than an issue.  Sorry if this is inappropriate place for this - feel free to close if you have a better channel.

In https://matplotlib.org/tutorials/intermediate/constrainedlayout_guide.html#sphx-glr-tutorials-intermediate-constrainedlayout-guide-py I want to show the effect of both using `bbox_inches='tight'` and not using it.  Is it possible to make sphinx gallery do this?

I

[2020-07-18 17:32] lucyleeow commented on #726
It might be possible to alter (your local) sphinx-gallery [matplotlib scraper code](https://github.com/sphinx-gallery/sphinx-gallery/blob/358c4c02834bc307d935db608aee0ad2a9300526/sphinx_gallery/scrapers.py#L86) to do this. Potentially you could use a specific comment key (more on comment keys [here](https://sphinx-gallery.github.io/stable/configuration.html#removing-config-comments)) to allow you

[2020-07-18 17:45] jklymak commented on #726
^ yes, something like that would be great!

[2020-07-18 20:54] jklymak commented on #726
Yeah, my problem is understanding what path to put into my `savefig` command.

We have
[code]

This gets run via `make html` from `doc/` (where the conf.py file is).  If I look in `tutorials/intermediate/images` there are all the images created by the tutorial.  However, I cannot get a `savefig` command to put them there directly, presumably because I do not understand what relative path to use.

[2020-07-19 16:10] jklymak commented on #726
OK, I figured out a solution.  The tutorial script gets run in place (in our case `../tutorials/intermediate/`), so `_static` is at `../../doc/_static/`.  The file needs to be put in `_static` because static is copied over as-is during the build process.  Like, there may be somewhere else to put it that is also copied over, but I couldn't figure it out.  I don't think there is a robust way to save

[2020-07-19 19:03] sandrotosi opened #727 "sphinx-gallery/0.7.0: TypeError: 'str' object is not callable when building its documentation"
Hello,
i'm updating the sphinx-gallery package in Debian, and while building its documentation, it fails with this error:

[code]

[code]

following up on `MovieWriter ffmpeg unavailable; trying to use pillow instead.` i've installed

[code]

but now i get this error:

[code]

[code]

do you know what's causing this issue?

[2020-07-19 19:09] sandrotosi commented on #727
in case it's useful, matplotlib is installed at version 3.2.2

[2020-07-19 19:41] lucyleeow commented on #727
I think this is caused by a matplotlib bug that has now been fixed: https://github.com/matplotlib/matplotlib/issues/16965

Could you try updating and see if it fixes the problem?

[2020-07-19 19:48] sandrotosi commented on #727
the problem is that to upgrade to the latest mpl release (3.3.0) they [require](https://github.com/matplotlib/matplotlib/blob/master/requirements/doc/doc-requirements.txt#L16) sphinx-gallery >= 0.7 which is what i'm trying to upgrade here :)

[2020-07-19 23:42] sandrotosi commented on #727
for now i worked around this removing `examples/plot_8_animations.py` while building the doc and ignoring `sphinx_gallery/tests/test_full.py` while running tests: they both trigger the same mpl bug; once 0.7.0 reached the debian archive i'll rebuilding matplotlib, and once that reached our archive, i'll try to re-enable those 2 and see how that goes

[2020-07-20 19:48] larsoner commented on #727
Another option would be to add a little custom [PNGScraper](https://sphinx-gallery.github.io/stable/advanced.html#example-2-detecting-image-files-on-disk) to your build, and actually do a `savefig` directly in the example. Seems a bit cleaner to me than messing with `_static` or anything else. You could even make `PNGScraper` only consider looking for files in specific example filenames if you don

[2020-07-20 19:49] larsoner commented on #727
Whoops, wrong issue. @sandrotosi your workaround seems reasonable to me

[2020-07-20 19:49] larsoner commented on #727
Closing since it seems like there are no changes required at our end

[2020-07-20 19:49] #727 closed

[2020-07-20 19:51] larsoner commented on #726
Another option would be to add a little custom [PNGScraper](https://sphinx-gallery.github.io/stable/advanced.html#example-2-detecting-image-files-on-disk) to your build, and actually do a `savefig` directly in the example. Seems a bit cleaner to me than messing with `_static` or anything else. You could even make `PNGScraper` only consider looking for files in specific example filenames if you don

[2020-07-21 13:36] mschmidt87 opened #728 "How to scrape for images without executing example scripts"
Hi,
I am trying to create a gallery of my examples *without* executing the scripts but *with* images. The use case is that I have already executed the scripts before building the documentation and the images were saved to disk. Now I want to build the documentation and scrape the folder for images (png files) to add them to the gallery in the documentation.

As far as I understood, this example is

[2020-07-21 17:41] larsoner commented on #728
Keep in mind that when running an example, sphinx-gallery generates several other files in addition to images, for example in addition to creating `images/sphx_glr_plot_0_sin_001.png`, `examples/plot_0_sin.py` produces in the `auto_examples/` dir:
[code]
I'm not sure how many of these you officially need to replace, but at the very least you need to make sure that `plot_0_sin.py.md5` contains what

[2020-07-22 12:02] mschmidt87 commented on #728
Thank you for your reply and the info.

Are you implying that the use case of the example I linked to (the `PNGScraper`) is not what I think it is? My interpretation of the documentation is that this example scraper exactly serves my purpose, i.e., to look for png files on disk and add them to the auto-examples documentation?

[2020-07-22 12:57] larsoner commented on #728
Indeed it's not. The way Sphinx gallery works is to scrape while running a script, and to run scripts when building the docs (this is important for reproducibility among other things). These steps are tightly integrated, and even if we tried to separate them (which would probably be too much code churn for this one use case) it wouldn't really make sense since you wouldn't know which section of th

[2020-07-22 13:19] mschmidt87 commented on #728
Right, okay, thank you for the explanation. Actually, it is possible for me to run the scripts to create the figures.

I was mostly confused by the documentation because it sounds to me as if it my suggested use case would be possible with it. Particularly this part (from https://sphinx-gallery.github.io/stable/advanced.html#example-2-detecting-image-files-on-disk) seems to imply this:

This issue

[2020-07-22 13:22] larsoner commented on #728
Yes that's definitely misleading, because that script still gets *executed*, it's just basically a no-op so it doesn't matter whether or not it gets executed.

Feel free to take a stab at fixing the docs if you're up for it. Maybe "needed to embed them in the documentation. The script will still be executed so that the files get scraped, but they don't need to be produced during the execution." ?

[2020-07-22 15:05] lucyleeow commented on #726
@larsoner, that is a better option. But would the output have 2 figures, one from the matplotlib scraper and one from the png scraper?

[2020-07-22 15:25] jklymak commented on #726
I'm not really grokking the linked solution above to be honest.  I could just copy that code, but I'd have zero idea how to implement it in an example.

[2020-07-22 15:39] larsoner commented on #726
If the `fig.savefig(...)` command would outputs a PNG file, and the scraper would detect it and add it to the set of images.

This seems fine to me, because in this case the difference is actually informative. But if you really didn't want it, a `plt.close(fig)` after the `fig.savefig` would prevent there from being two images in the output.

[2020-07-22 15:48] jklymak commented on #726
Sure, I got that, but then how do I display the result in the example?

[2020-07-22 16:02] larsoner commented on #726
You mean when the user runs, or when the gallery builds?

If you want it when the user runs, I would not add any scraper and just do some variant of:
[code]

If you want it when the docs are built but don't care if the user sees the output when they run the script, I would add the PNG scraper and do:
[code]

[2020-07-27 12:05] mschmidt87 commented on #728
Sure, I just created a tiny PR for this. #730

[2020-07-27 12:40] #728 closed

[2020-07-30 12:55] mschmidt87 opened #731 "Pass command line arguments to examples"
I have a bunch of examples included in my sphinx-gallery and these examples accept comand-line arguments.
Is it possible to pass command-line arguments through sphinx-gallery? I couldn't find that option in the documentation.

Two use cases would be (in my case):
- control the duration of the execution of examples: It would be nice to control how long the examples take via a command-line arguments

[2020-07-30 13:43] larsoner commented on #731
There is some relevant discussion in #252, and after reading it I can think of two solutions:

1. Allow a `# sphinx_gallery_argv = ..." inline argument to pass the command-line arguments.
2. Allow a `sphinx_gallery_conf['reset_argv']` callable that takes the `script_vars` and `gallery_conf` and does whatever it needs to do to `sys.argv`. By default in sphinx-gallery it would do what's done current

[2020-07-31 01:04] mschmidt87 commented on #731
Sure, I followed your suggestion and opened #732 .

[2020-08-03 15:57] #731 closed

[2020-08-13 23:39] riedgar-ms opened #734 "Reference :ref:`sphx_glr_auto_examples` goes to SciKit-Learn examples"
We are using `sphinx-gallery` to generate samples for our package. However, I've noticed that in our ReST files, attempts to link to the examples using:
[code]
result in links to the SciKit-Learn examples. This is undoubtedly due to the inclusion of sklearn in our `intersphinx_mapping` ... but we would like to be able to send readers to our own examples. Is there some way we can override the refer

[2020-08-14 02:15] larsoner commented on #734
Have you tried being more specific about the name, for example `mylibrary:sphx_glr_auto_examples`?

[2020-08-14 13:48] riedgar-ms commented on #734
Thanks - prepending the `:ref:` with `:mylibrary:` did the trick.

[2020-08-14 14:27] riedgar-ms commented on #734
How do I do that, exactly (sorry, I realise this is more a ReST question)... if I try
[code]
I get an 'undefined label' warning (whether or not I capitalise `Fairlearn`).

[code]
Results in `Unknown interpreted text role "ref:fairlearn` (also with `Fairlearn`), as does:
[code]

[2020-08-14 15:58] larsoner commented on #734
In our `sphinx_gallery/tests/tinybuild/index.rst`, if I add:
[code]
and add this to the intersphinx in `conf.py`:
[code]
then do `make`, the HTML that pops up has a link to https://scikit-learn.org/stable/auto_examples/index.html#sphx-glr-auto-examples. If I change the text to `here <mne:sphx_glr_auto_examples>`, it links to https://mne.tools/stable/auto_examples/index.html#sphx-glr-auto-examples.

[2020-08-14 16:47] riedgar-ms commented on #734
Thanks - running `python -m sphinx.ext.intersphinx _build/html/objects.inv` revealed that I was indeed using the wrong reference. It changed when we put subdirectories into the examples. Now that I've got the right reference out of the inventory, it works.

Thank you for your patience.

[2020-08-14 16:47] #734 closed

[2020-08-14 20:27] GaelVaroquaux commented on #734
That a strange manifestation of such an error.

[2020-08-18 15:37] sciunto opened #735 "Binder icon is hardcoded, which causes a loading failure with on some browsers"
See https://github.com/scikit-image/scikit-image/issues/4748

It would be helpful if this line could be changed: https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/binder.py#L109
Because the icon is hosted on a third-party website, browsers with "prevent cross-site tracking" preferences remove the icon.

Thank you!

[2020-08-18 15:42] larsoner commented on #735
@choldgraf what should we do here? Maybe include it directly in `sphinx-gallery` repo and add it to builds that use binder?

[2020-08-18 15:56] choldgraf commented on #735
That seems reasonable to me, just save the asset as a part of the repository and reference the local version instead of the online one

(I probably don't have time to do this as I am going to be in baby land very soon 😬😬😬😬)

[2020-08-19 17:14] prisae opened #736 "_repr_html_ not shown on RTD"
I am a bit puzzled on this, and wondered if anyone has come across the same.

So locally, sphinx-gallery captures my `empymod.Report()`, which is a `_repr_html_`-method:
![Selection_001](https://user-images.githubusercontent.com/8020943/90668216-035e6380-e250-11ea-8f8e-e5dd345eb5d3.png)

but on readthedocs, it doesn't:
![Selection_002](https://user-images.githubusercontent.com/8020943/90668230-08b

[2020-08-19 17:23] larsoner commented on #736
Which example/URL should have it on https://empymod.readthedocs.io/en/dev/ ?

[2020-08-19 17:24] prisae commented on #736
Sorry, missed that. Basically all examples, but the one I show above is
https://empymod.readthedocs.io/en/dev/examples/educational/dipoles_and_loops.html

[2020-08-19 17:25] prisae commented on #736
While I wrote the issue I realized that it might be because it is the last cell. So I am currently running a test where I put other cells afterwards. I report as soon as I have the result.

[2020-08-19 17:27] prisae commented on #736
Nope. It doesn't work either if it is not the last cell.

[2020-08-19 17:29] larsoner commented on #736
I noticed you don't have `backreferences_dir` set. This might be necessary to trigger some global variable inspection. At the very least it should add more links to your generated HTML, which would be nice.

But that wouldn't explain why it works for you locally but not on RTD

[2020-08-19 17:33] larsoner commented on #736
Locally with no modifications `make html` does locally embed the HTML report

[2020-08-19 17:33] prisae commented on #736
Exactly

I have never looked at `backreferences_dir`, will do that. Do you know of any docs on RTD that has `_repr_html_`-outputs?

[2020-08-19 17:47] sdhiscocks commented on #736
I think this was fixed in #700

[2020-08-19 17:55] larsoner commented on #736
Ahh yes, we haven't released since that was merged, @prisae do you want to try a build pip on RTD installing latest master (or locally with 0.7 to confirm the bug)?

[2020-08-19 18:04] prisae commented on #736
Nice, will do!

[2020-08-19 18:43] prisae commented on #736
Yes, it works like a charm. Thanks for your help @larsoner , and thanks for pointing me to your issue and fix @sdhiscocks , my searching skills failed once more... (Will there be a release soon-ish?)

[2020-08-19 18:43] #736 closed

[2020-08-31 19:23] lucyleeow commented on #726
@larsoner are you happy for this to be closed? I think your solutions were good.

[2020-08-31 19:25] larsoner commented on #726
Fine with me

[2020-08-31 19:26] lucyleeow commented on #735
@larsoner might do this tomorrow before release.

[2020-08-31 19:27] lucyleeow commented on #735
Just to confirm, I'll add the svg to `sphinx_gallery/_static` and change [this line](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/binder.py#L109) to point to the local svg ?

[2020-08-31 19:28] #726 closed

[2020-08-31 19:30] lucyleeow commented on #721
Closing this as I don't think there is much to be done here but @ezyang let me know if you want to re-open.

[2020-08-31 19:30] #721 closed

[2020-08-31 20:11] larsoner commented on #735
That sounds correct to me

[2020-09-02 14:48] #735 closed

[2020-09-05 20:25] lucyleeow opened #744 "BUG Windows relative path error with _static Binder logo"
In Windows, when the package _static files are in a different drive to the `gallery_conf['src_dir']`, `os.path.relpath` gives an error:
[code]

See: https://github.com/scikit-image/scikit-image/issues/4958 and https://github.com/scikit-image/scikit-image/pull/4959

I can copy the binder logo to `target_dir`/images (or just `target_dir` ?) like I was doing in the first iter of #738 .

Also what wou

[2020-09-08 01:29] story645 commented on #261
@Titan-C can you elaborate a bit on the tagging? For example, I'd love to push for tags to be integrated into https://matplotlib.org/gallery/ in a way that the tags can be searched & all examples w/ a given tag surfaced.

[2020-09-08 16:41] larsoner commented on #261
@story645 did you look at the first suggestion?

https://stackoverflow.com/questions/18146107/how-to-add-blog-style-tags-in-restructuredtext-with-sphinx

You can use either of these solutions to tag/index examples just by adding RST to the example text somewhere (probably beneath the description paragraph? Or maybe right under the title if we properly support ignoring `..`-starting lines when look

[2020-09-08 16:50] story645 commented on #261
I did, but I'm not sure how to go from that to on the fly galleries of examples w/ the same tag.

[2020-09-09 07:16] mgorny opened #746 "sphinx_gallery/tests/test_full.py::test_binder_logo_exists fails (path is clearly wrong)"
[code]

This is on Gentoo Linux, reproduced with git master (839c02b0b076f20ea7cc0ca57a619ac7f00467f5). I don't know whether the relative path is correct but prepending it with `/` certainly isn't.

[2020-09-09 07:20] mgorny commented on #746
I've used the following `tox.ini` to reproduce the issue reliably:

[code]

[2020-09-09 12:10] lucyleeow commented on #746
Thanks for your report. It's related to #745 and we are probably going to change how we link it.

[2020-09-09 20:00] #744 closed

[2020-09-09 20:00] lucyleeow commented on #746
closed by #745

[2020-09-09 20:00] #746 closed

[2020-09-14 12:22] lucyleeow commented on #261
@story645 Is the index solution (https://stackoverflow.com/a/19837140) a reasonable solution for you?

[2020-09-24 21:06] lucyleeow commented on #725
Some discussion in https://github.com/nilearn/nilearn/pull/2476 about the difficulty in interpreting the Sphinx rst errors, mostly because it isn't so obvious to check the generated rst files.

One suggestion was to include an rst lint step, which may generate more informative error messages. I am not sure how much better they would be - would require checking with some common errors (though @jero

[2020-09-25 17:26] larsoner commented on #725
It wouldn't be too much work (I think) for us to:

- create the RST files as read-only
- add a @generated comment, or maybe better, all caps comments at the top:
[code]
- add `.. FROM PYTHON SOURCE LINES: X-Y` to the RST that is generated from the Python source file.

[2020-09-25 20:19] GaelVaroquaux commented on #725
Eric, I'm not fully following you. Maybe I'm just dense, and it's clear for others (in which case don't bother). But maybe it's useful to explicit things more.

[2020-09-27 10:09] lucyleeow commented on #725
I think Eric is addressing the problem where people try to fix the rST error by changing the generated rST file instead of the source .py file when they see the sphinx rST errors. From the nilearn PR I think the problem is more that people don't realise that there is a generated rST file and this is what they should be looking at to help fix the error.

I feel this may be more of a documentation i

[2020-09-27 10:29] GaelVaroquaux commented on #725
I think that it was simply that the user didn't see the problems with the
rst code.

In a sense, the error messages are not very explicit. They could for
instance point to the specific place of the line where the problem is,
with something like:

[code]

To improve such error reporting, we would have to contribute to docutils.
Does anyone have an idea of how hard this would be?

[2020-09-27 12:50] larsoner commented on #725
Ahh so sounds like two problems:

1. People edit the RST rather than Python file thinking things will be fixed
2. People don't understand the RST errors

My points above are designed to help with mostly (1) and only a little bit of (2). Changing docutils would help with (2).

I think you still have to go through SourceForge and contribute a patch, this was mine a while back:

https://sourceforge.n

[2020-10-01 05:42] #725 closed

[2020-10-05 16:03] GaelVaroquaux opened #751 "Add a mode that fails only for rst warnings and does not run examples"
Idea by @jeromedockes

Have a mode where the examples are built without running the code and the links to images are not inserted. This mode would be used to detect errors in the restructured text without waiting for examples to run, which can take a long time. It is important in such a mode that the links to images are not inserted, because when the examples are not run, the images are not presen

[2020-10-05 16:27] jeromedockes commented on #751
Yes, thanks @GaelVaroquaux. For example a mode that treats warnings as errors *except* warnings about missing image files. the `-W` switch is very useful, but it requires running the examples because otherwise it stops at the first plot that hasn't been generated. I believe a mode similar to `-W` but compatible with `plot_gallery=0` would be useful. this way in our specific case (nilearn), contrib

[2020-10-05 16:46] larsoner commented on #751
This can be done already with `sphinx-build ... -Dsphinx_gallery.plot_gallery=0

I don't really understand this part. If you have links in your own RST (in examples or even in plain RST in your doc tree somewhere) that link to output images, sphinx-gallery isn't making these links. So it would be weird for sphinx-gallery to fix them.

If on the other hand you're talking about links that sphinx-gal

[2020-10-05 18:35] jeromedockes commented on #751
I see, thank you. Indeed in the nilearn documentation there seem to be manually-written links to automatically-generated images, as [here](https://github.com/nilearn/nilearn/blob/master/doc/building_blocks/manual_pipeline.rst#applying-a-mask) .
only some of the warnings we need to ignore are in the list supported by `suppress_warnings` so I think I will open a Sphinx issue about that

[2020-10-05 21:35] larsoner commented on #751
A low-effort solution to this is to add a:
[code]
example line. When not executing an example, sphinx-gallery can put in the default image for all 8 images; when executing an example, it ensures that at least 8 examples are generated.

It shouldn't be too wasteful because hopefully there aren't that many examples that will need this.

[2020-10-05 23:19] jeromedockes commented on #751
That would solve our problem indeed!

[2020-10-06 11:55] larsoner commented on #751
@lucyleeow do you want to give it a shot?

[2020-10-07 08:17] lucyleeow commented on #751
@larsoner can you expand on this.Do you mean changing the manually written links in rst to be our stock image. Or to copy over 8x stock images and naming each image file as `sphx_glr_plot_decoding_tutorial_001.png` to `sphx_glr_plot_decoding_tutorial_008.png`. Let me know if I have misunderstood the problem.

[2020-10-07 09:32] jeromedockes commented on #751
IIUC, the second one: copy an image as a placeholder where the generated
plot is supposed to be.

[2020-10-07 10:34] stuaxo opened #753 "Example gallery is down"
I went to pypi and clicked on "sphinx gallery" in the list "who uses sphinx gallery" and got a 404

404 is here:  https://sphinx-gallery.github.io/auto_examples/index.html

![image](https://user-images.githubusercontent.com/179677/95320195-0a3d4600-0891-11eb-8935-ac02f222b7d6.png)

[2020-10-07 10:39] lucyleeow commented on #753
Ah that url is old, it should be: https://sphinx-gallery.github.io/stable/auto_examples/index.html

I'll update it, thanks!

[2020-10-07 17:24] larsoner commented on #751
Yes this is what I mean. That way all the `sphx_glr_*` images are created in the right places and doc linking works. Changing the links to go to the stock image would not help with the problem unfortunately.

[2020-10-07 18:56] #753 closed

[2020-10-07 19:01] lucyleeow opened #755 "DOC use intersphinx references in projects_list.rst"
Replace url with intersphinx references in `projects_list.rst`

see https://github.com/sphinx-gallery/sphinx-gallery/pull/754#discussion_r501240506

[2020-10-14 19:35] josephmure opened #757 "Option to disable note in example header"
Hello! Is there an option to disable the note linking to the download buttons in the example header?

[2020-10-14 19:41] larsoner commented on #757
You can override the CSS in your own static CSS file like:
[code]

[2020-10-14 19:41] larsoner commented on #757
(solution from https://github.com/mne-tools/mne-python/blob/master/doc/_static/style.css#L240-L244)

[2020-10-14 19:43] josephmure commented on #757
Thanks @larsoner! That is exactly what I was looking for.

[2020-10-14 19:43] #757 closed

[2020-10-17 07:15] lucyleeow opened #760 "DOC Document how to hide download link note"
See: https://github.com/sphinx-gallery/sphinx-gallery/issues/757#issuecomment-708619298

[2020-10-24 02:44] lucyleeow opened #761 "Sphinx-Gallery in binder requirments.txt"
Not too familiar with this but should Sphinx-Gallery be in [sphinx-gallery/doc/binder/requirements.txt](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/doc/binder/requirements.txt#L8) ? Since it says 'These are extra dependencies that aren't required to use sphinx-gallery.' ?

[2020-10-25 18:53] larsoner commented on #761
No idea -- @choldgraf ?

[2020-10-27 12:31] larsoner opened #765 "BUG: Empty code block output"
From @lucyleeow in https://github.com/matplotlib/matplotlib/issues/17479#issuecomment-717011368:

@lucyleeow it seems like it would make sense to detect this case and not render it

[2020-10-28 00:29] bdice commented on #330
I _think_ I want the same thing as @GaelVaroquaux but I'm not sure - I'm new to sphinx-gallery and am trying to assess whether to use it for our docs. I currently have rST files and I really want to get sphinx-gallery's automatic intersphinx references inserted into all code snippets (doctest-style snippets in method docstrings and rST blocks like `.. code-block:: python`. Is that all handled insi

[2020-10-28 13:39] larsoner commented on #330
The code links are [mostly generated by live variable class inspection during execution](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/backreferences.py#L82-L142). In principle you might be able to get something similar kind of working by inspecting the return types of all functions, but that's going to be outside the scope of Sphinx-gallery (and probably a lot of wor

[2020-10-28 22:21] bdice commented on #330
@larsoner Thanks for the info! I was trying to see how much intersphinx magic I could accomplish without rewriting/reformatting docs (perhaps only adding a plugin with a single line of code). 😅 I have looked at the demos, and this package makes perfect sense for "example galleries." However, I think my primary question is a little different (or I'm not understanding). This might be more suited for

[2020-10-29 15:13] larsoner commented on #330
Sphinx-Gallery does not actually execute notebooks. It executes standard Python scripts, then also happens to output `ipynb` (and `py` and `rst`) files that correspond to them. So actually it seems like it might be tractable.

This is where I think it will get complicated. For Sphinx-Gallery to do linking, it needs to actually execute the code itself and inspect the variables. Who executes the cod

[2020-10-29 19:54] pllim opened #766 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2020-10-31 02:29] lucyleeow commented on #330
Agreed!
I am not very familiar with numpydoc or autodoc. For step 1 - would the aim to be make it work for one, or the most common 'doc' used or if it works for one it will work for the others?

This does look interesting but very complicated. At the moment I am in the middle of moving countries (x1.5 - it's complicated) so I won't have time in the near future to do this. If someone else takes thi

[2020-11-01 20:20] bdice commented on #330
@larsoner Excellent response! This helped explain a lot of the parts that I didn't know. I am interested in pursuing this concept further, especially if there is interest from other sphinx-gallery users. I'm probably going to work on enabling sphinx-gallery for a project first, so I can get more familiar with its usage and features.

@lucyleeow Good question. I use standard Sphinx-style, NumPy-sty

[2020-11-03 07:37] lucyleeow commented on #766
@larsoner I see we clone `git clone git://github.com/astropy/ci-helpers.git` in `appveyor.yml` but not sure what we use from it...

[2020-11-03 13:09] larsoner commented on #766
We should transition to Azure anyway. @lucyleeow do you feel like taking this CI issue? If not, I can do it.

If you want to but don't have much experience, my plan was to start from here:

https://github.com/mne-tools/mne-python/blob/master/azure-pipelines.yml#L156-L254

And just use the `pip` version. (The `conda` one uses the deprecated `appveyor` path.)

[2020-11-04 08:04] lucyleeow commented on #766
@larsoner sorry I really don't have much time at the moment. I have some other SG todos on my list already.

[2020-11-04 21:22] #766 closed

[2020-11-17 09:29] MuellerSeb opened #769 "Overview Gallery"
Hey there!

Is there a possibility to create an "overview gallery" from all created galleries?

Here's what I mean in detail:
I am maintaining a project using sphinx-gallery to create multiple galleries in the examples folder (minimal example):
[code]
In `conf.py`:
[code]
Then I have a `tutorials.rst` in the `docs/source` folder, where I am using a hack to create the overview gallery:
[code]
The `

[2020-11-17 12:42] larsoner commented on #769
Could you take a page like this, that is essentially for you the "overview gallery":

https://mne.tools/dev/auto_tutorials/index.html

Which gets generated from:

https://github.com/mne-tools/mne-python/blob/master/tutorials/README.txt

And add to the top a list of RST files that you can link to? For your structure I think these would just be the current `index.rst` content. I guess the tricky par

[2020-11-17 12:46] MuellerSeb commented on #769
@larsoner I also thought about an include option. The `gallery.inc` would be a great way to reuse created gallery content! But then, the created menu would be still messing around. When clicking on an example in a sub-gallery, I am redirected to the menu entry of the overview-gallery.

Will have a look at your links. Thanks so far!

[2020-11-25 15:37] MuellerSeb opened #770 "BUG: wrongly place gallery with ".. only:: html" directive"
Hey there,

I found a bug in sphinx-gallery. Here some details:

When my "README.rst" looks like the following:
[code]
Everthing is fine, the gallery is shown under the `Gallery` headline only in html.

When I have another sub headline:
[code]
The gallery is placed above `Gallery` and beneath `Some more information`.

When removing the `.. only:: html`, the gallery is placed correctly, but then I

[2020-12-07 22:46] jarrodmillman opened #771 "Adding an extended README"
NetworkX recently added some gallery examples showing how to use NetworkX with several packages within the geospatial Python ecosystem.  We would like to have an extended description describing several important concepts in geospatial data analysis and the functionality of the various packages used in the examples.

We were hoping to do something like the following:

`examples/geospatial/README.tx

[2020-12-08 07:07] jarrodmillman commented on #771
I just added
[code]
to my Makefile before the sphinx-builder call in my ``html`` target.  I am still interested in a cleaner solution.

[2020-12-08 16:52] larsoner commented on #771
I would do it in Python + Sphinx with something like the following in your `conf.py`:
[code]
[code]

[2020-12-10 22:26] AntSimi opened #772 "Animation not show on Read the Docs"
Hi,

I am very pleased to used sphinx-gallery.
For several days, i try to have a working animation in py-eddy-tracker documentation on ReadTheDocs.
I have activate animation [here](https://github.com/AntSimi/py-eddy-tracker/blob/40ce202feefa349b65aac0d2d5fe56fad1fc7f82/doc/conf.py#L54) in sphinx gallery options in conf.py.
I use sphinx-gallery 0.8.1 on my computer and on ReadTheDocs, on my compute

[2020-12-11 13:39] larsoner commented on #772
I cannot replicate locally with:
[code]
I get:
![Screenshot from 2020-12-11 08-37-39](https://user-images.githubusercontent.com/2365790/101909886-2e1c5100-3b8c-11eb-805f-6614bd36d8e7.png)

Does it work for you locally? If so, then it must be something about your RTD doc build setup. I know people have had problems with SG and RTD before, can you search the issues and see if anything helps?

[2020-12-11 14:22] sdhiscocks commented on #772
This should be fixed with #748, but looks like not in a release yet. Is another release planned soon @larsoner, as would be good to get this fixed.

[2020-12-11 14:25] larsoner commented on #772
Makes sense, @lucyleeow do you have time to push out a release?

[2020-12-11 21:59] lucyleeow commented on #772
Will do the release tomorrow. And I'll have some time over christmas to tackle a few other issues.

[2020-12-16 07:03] rossbar opened #774 "ENH: Check for invalid sphinx_gallery_conf keys"
I made silly error of misspelling `examples_dirs` as `example_dir` in the `sphinx_gallery_conf` dict in the `conf.py` for a project.

The path to my gallery examples was not the default value of `../examples`, so I was confused by the following error:

[code]

Of course, the *real* error was my misspelling. Everything behaves exactly as it should, but I probably would've been able to chase down my

[2020-12-16 21:03] larsoner commented on #774
Indeed we should check that there are no keys in the dict that we don't support. @rossbar would you be up for adding a check for this to [gen_gallery.py](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_gallery.py#L128-L129)?

[2020-12-16 21:25] rossbar commented on #774
Sure, though it may be a couple days before I can get to it. If anyone else wants to take it up in the meantime don't let me block you!

[2020-12-17 21:33] lucyleeow commented on #772
Should be fixed in the new release!

[2020-12-17 21:33] #772 closed

[2020-12-20 10:17] lucyleeow opened #777 "test_rebuild and test_error_messages failing on travis"
`test_rebuild` is failing here:
https://github.com/sphinx-gallery/sphinx-gallery/blob/ce5a58cfde1c030364c0bd34b21f2ba00b83896f/sphinx_gallery/tests/test_full.py#L636

when checking that the example `plot_numpy_matplotlib` which we modify above, has a different mtime:
[code]
`test_error_messages` failing here:
[code]

@larsoner you probably know more about this but otherwise I can take a look next

[2020-12-21 12:53] #774 closed

[2020-12-21 12:54] larsoner commented on #777
I did not observe this on https://github.com/sphinx-gallery/sphinx-gallery/pull/775 . Sometimes those tests are a bit unreliable, I would try restarting the one that failed

[2020-12-21 21:04] lucyleeow commented on #777
Gah it didn't run on #775 because we didn't have enough credits: https://travis-ci.com/github/sphinx-gallery/sphinx-gallery/requests

[2020-12-21 21:11] lucyleeow commented on #777
I think we could apply for more credits, or switch e.g., to github actions?

[2020-12-22 12:56] larsoner commented on #777
I would just switch to GitHub actions, or maybe easier make a more complete set of Azure runs that encompass what Travis does. Do you want to try @lucyleeow ?

[2020-12-22 21:21] lucyleeow commented on #777
I can have a go this weekend. What do you think would be best, GitHub actions or Azure? Both would be of similar difficulty for me (I've fiddled a bit with GitHub actions but never really touched Azure, though we have existing Azure yml to build on).

[2020-12-23 12:40] larsoner commented on #777
Azure has better single job restart control and we already have some YAML so let's just do that.

[2021-01-04 19:15] rossbar opened #780 "Configure thumbnail style"
The generated thumbnails use a default background color that very often doesn't quite match with the background color of the parent theme. The gallery in the [sphinx-gallery docs](https://sphinx-gallery.github.io/stable/auto_examples/index.html#general-examples) demonstrate the issue: the thumbnails are whiter than the off-white of the sphinx-rtd-theme page background.

It's a minor style feature,

[2021-01-04 20:33] larsoner commented on #780
You can just override this in your own CSS file, see for example

https://sphinx-gallery.github.io/stable/configuration.html#stylizing-code-links-using-css
https://github.com/mne-tools/mne-python/blob/master/doc/_static/style.css#L215-L244

[2021-01-04 20:37] rossbar commented on #780
Great, thanks - I missed these docs because I was searching for thumbnail styling/configuration rather than link styles. Feel free to close, or I'm happy to add a brief blurb to the docs if you think it would be valuable.

[2021-01-04 20:43] larsoner commented on #780
If you missed it in our docs they probably need improvement, so a PR to improve them would be great!

[2021-01-18 07:41] WesleyTheGeolien commented on #245
Hey everyone 👋

Just a quick thought on this, I know sphinx-gallery executes the python scripts to generate the ipynb files (which means they are always up to date)

I may have missed something here but rather than going ipynb -> py -> ipynb -> sphinx would it be possible to use nbconvert to convert the jupyter notebook to html directly (then potentially add styling) and insert this into the final

[2021-01-18 07:46] rossbar commented on #780
Making the thumbnails fully transparent ended up being more involved than I originally thought. I ended up having to change settings in three places to get the behavior I wanted:
 1. In the CSS file to make the thumbnail container itself transparent (see my original comment)
 2. Make all of the images produced by matplotlib transparent. With a little digging, I was able to accomplish this at the c

[2021-01-19 14:44] larsoner commented on #780
Closing for #782 but if you see a way to improve our docs please feel free to implement that also

[2021-01-19 14:44] #780 closed

[2021-01-24 10:23] lucyleeow commented on #777
Closing as it seems it's due to this test not being reliable in CI

[2021-01-24 10:23] #777 closed

[2021-01-24 12:27] lucyleeow commented on #770
Sorry for the delayed reply. If this is still something you're interested in, could you post the correlating `index.rst` file (e.g., in 'doc/auto_examples')?

I tried this and got the same problem as you described the html page, however the `index.rst` which sphinx-gallery generated had correct order:
[code]

[2021-01-26 05:14] lucyleeow commented on #770
Not an expert on html/css but I think the problem is that the 2nd heading and the gallery icons are inside the same div, with the gallery icon appearing first for some reason.

For example, this rst:
[code]
The gallery icon `<div class="sphx-glr-thumbcontainer" tooltip="blach blach">` appears first and is inside the same div (`<div class="section" id="sub-heading">`) as the 2nd sub heading `<div c

[2021-01-31 04:18] seisman opened #785 "Can sphinx_gallery_thumbnail_number support negative indexes?"
Sometimes, the last figure in an example file is the best one. It's a little inconvenient to count the number of figures to choose the last figure.

I'm wondering if it's possible to let `sphinx_gallery_thumbnail_number` support negative indexes? For example, `sphinx_gallery_thumbnail_number = -1` means the last figure.

[2021-01-31 11:56] lucyleeow commented on #785
All images from all the examples in one gallery are saved in the same `gallery_dir/images` folder. It would be possible to count how many image files are from one example, by matching the pattern `sphx_glr_<example_name>_<nnn>.` and use this to set `thumbnail_number` in `save_thumbnail()`, around here:

https://github.com/sphinx-gallery/sphinx-gallery/blob/d749c5261652380b281174d89f4ab18f2f299aa5/

[2021-02-01 12:59] larsoner commented on #785
The `script_vars` has an `ImagePathIterator` with a `len` property that can be used:

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/gen_rst.py#L830-L832

So I don't think any glob/regex should be necessary

[2021-02-01 22:21] lucyleeow commented on #785
Ah much better solution. I didn't realise that `ImagePathIterator` was available (thought you would have to amend scraper code for that).

[2021-02-12 17:58] Cadair opened #789 "Add a mode which "skips" an example if it fails"
We have the situation where some of our examples are dependant on remote servers or other things which are a little flakey. For our tagged releases we want these to pass, but for our regular builds on our development branch, it would be better if they rendered the same way as if they were skipped.

Would people be interested in a config option which didn't cause sphinx to exit with a non-zero code

[2021-02-13 03:33] lucyleeow opened #790 "Python nightly failing due to Jinja2 import from collections.abc"
Error:
[code]

Fixed here: https://github.com/pallets/jinja/pull/867, included in version Jinja2>=2.10.2

Sphinx only requires [Jinja2>=2.3](https://github.com/sphinx-doc/sphinx/blob/a1489099ec35202de7509fc0ea9c7f67563f6cdf/setup.py#L24)

~Should we make a Sphinx issue or wait~ we could specify Jinja2 version in our CI, WDYT @larsoner ?

[2021-02-17 15:04] larsoner commented on #790
+1 for adding a jinja version to the nightly CI to work around this issue

[2021-02-17 15:04] #765 closed

[2021-02-19 12:10] #790 closed

[2021-02-19 12:17] #785 closed

[2021-03-01 19:25] #789 closed

[2021-03-05 11:00] crcrpar opened #795 "Optuna project Uses Sphinx-Gallery"
Optuna has incorporated Sphinx Gallery to provide executable tutorials as in https://optuna.readthedocs.io/en/stable/tutorial/index.html.

Could you add Optuna to "Who Uses Sphinx-Gallery" list?

[2021-03-05 11:17] agramfort commented on #795
sure.

Can you send us a PR?

[2021-03-05 13:32] crcrpar commented on #795
Of course yes!

[2021-03-05 16:17] #795 closed

[2021-03-05 22:49] Cgadal opened #797 "Creating API mini-gallery using autosummary recursive option"
First of all, thank you so much for this very nice extension of sphinx.

Using it, I was able to create my gallery of example, and inserting mini-galleries everywhere I wanted using:

[code]

However, I haven't been able to create automatically the mini-gallery for each function of my API.

Note that I am using autosummary recursive option to build my documentation, as described [here](https://sta

[2021-03-11 03:27] kakila opened #799 "Pandas _repr_html_ not captured in PDF output"
The following example

[code]

Woud print a nice HTML table when generating the dcos with html. However when the builder is latexpdf (or just latex) the tables are not included in any form.
How could one capture the output to the PDF builder?

[2021-03-13 14:14] tfardet commented on #306
I'm having the exact same issue except that I cannot seem to get it to work again...
I deleted all files in the gallery (except .py of course) and sphinx build folder, as well as __pycache__... I'm at a loss.

Any idea where gallery may be storing files that would still have this hypothetical "half broken" build in memory?

[2021-03-13 22:17] J-Christophe commented on #479
Hello,

I am facing the same problem (sphinx-gallery==0.8.2).

To investigate the problem, I added a print DEBUG at this level (file: sphinx_gallery/gen_rst.py):
    iterator = sphinx_compatibility.status_iterator(
        sorted_listdir,
        'generating gallery for %s... ' % build_target_dir,
        length=len(sorted_listdir))
    for fname in iterator:
        print(f "DEBUG {fname}")

[2021-03-14 18:49] larsoner commented on #479
Maybe this part is a parallel sphinx build issue?

[2021-03-14 18:51] larsoner commented on #306
Sounds like you cleared out `examples/*` (except Python files) and `doc/build/*`, but did you remove `doc/auto_examples`?

[2021-03-15 07:58] tfardet commented on #306
Yeah, I must have been tired, I was just looking at the wrong level and deleting generated files instead of original files, sorry for the noise

[2021-03-15 09:43] J-Christophe commented on #479
This should come from sphinx. I create an issue.

[2021-03-16 10:12] J-Christophe commented on #479
It was not a bug from sphinx. The solution:
https://github.com/sphinx-doc/sphinx/issues/9005

[2021-03-21 21:34] #363 closed

[2021-03-26 17:47] pllim opened #802 "Incompatibility with matplotlib 3.4.0 ?"
Hello. Great package! We use this package to generate some nice examples for our documentation. Unfortunately, I might have seen an incompatibility between sphinx-gallery 0.8.2 with matplotlib 3.4.0.

[code]

Entire log at https://readthedocs.org/api/v2/build/13353772.txt (https://readthedocs.org/projects/astropy/builds/)

EDIT: Shortened the paths so traceback is more readable.

[2021-03-26 18:02] pllim commented on #802
Actually, I could reproduce this without sphinx-gallery. Maybe this is a matplotlib issue after all. Sorry for the noise!

[2021-03-26 18:02] #802 closed

[2021-03-26 23:03] lucyleeow commented on #799
Sorry for delay. I am not sure if there is a good solution to this. The output of `_repr_html_` is literally html e.g.,:
[code]
which can be easily added when building with html.
I don't think there is a good repr method of pandas df that would render well with latex.

I think this is outside the scope of sphinx-gallery as it depends more on pandas or sphinx. Closing but feel free to comment if yo

[2021-03-26 23:03] #799 closed

[2021-03-28 00:29] kakila commented on #799
@lucyleeow thanks for the feedback. Currently I built a workaround sketched below.
I pass an argument to the examples and call print based on its value.

The example file:
[code]

Extract of the `conf.py` file
[code]

[2021-03-28 22:25] timhoffm opened #803 "Lazy loading of gallery thumbnails"
Loading all tumbnails can take a significant amount of time/bandwidth (c.f. Matplotlib galleries).

It would be great if the loading could be deferred to the point when the user actually scrolls to the thumbnail.

Unfortunately, from a quick look this seems to not be easy. Lazy loading requires to change the `<img>` tag to either have an attribute `loading='lazy'` or use `data-src` instead of `src

[2021-03-28 22:51] larsoner commented on #803
In lieu of modifying docutils to add this sort of support, which they might not even go for, we could consider adding our own `.. lazyfigure::` directive that subclasses the standard figure one but overrides the HTML formatting to add this extra `loading='lazy'` (or JS with data-src or whatever).

Maybe even easier would be to add a JS library that modifies the HTML at load time to have this loadi

[2021-03-28 23:46] lucyleeow commented on #799
I would be able to amend the [`capture_repr`](https://sphinx-gallery.github.io/stable/configuration.html#capture-repr) such that it outputs `_repr_html_` if the builder is html and `__repr__` if the builder is latex.

Does the print (which outputs the `__repr__` method) actually look okay in Latex?

[2021-03-29 06:56] timhoffm commented on #803
I've posted a feature request to docutils.
https://sourceforge.net/p/docutils/feature-requests/78/

Let's see how that goes.

[2021-03-29 12:33] kakila commented on #799
@lucyleeow it is not a native latex table, but ti is definitely better than nothing (what one gets without the print). The latex renders exactly the output which in the case of pandas is quite acceptable.

[2021-03-29 22:49] lucyleeow commented on #799
Thanks for the info. I will leave the config as is in that case.

[2021-03-30 00:34] kakila commented on #799
@lucyleeow does that mean that latex will capture the output without the need to execute print or not?

[2021-03-30 00:37] lucyleeow commented on #799
The current `capture_repr` config is not builder dependent. You can set it to capture `__repr__` or `_repr_html_` but this action will not vary depending on the builder (e.g., latex or html) used. See user guide linked above for more.

[2021-04-02 00:01] jklymak opened #804 "Change DPI?"
Is there any way to change the DPI of the images generated?  I naively put `matplotlib.rcParams['savefig.dpi'] = 200` in `conf.py` but that didn't seem to do anything.  Sorry if this is obvious.  Thanks!

[2021-04-02 16:23] larsoner commented on #804
Can you see if this makes sense:

https://sphinx-gallery.github.io/stable/configuration.html#reset-modules

In particular the link toward the end might help:

https://sphinx-gallery.github.io/stable/advanced.html#custom-reset

If it does solve your use case, any hints that you think we could/should have added to help discoverability for you would be appreciated (especially in the form of a docs up

[2021-04-02 16:43] jklymak commented on #804
Hmmm, would have been a tough line to connect for me, though it makes sense in hindsight. Maybe "Prolog for each script execution"  ?

[2021-04-02 17:18] larsoner commented on #804
Sounds reasonable to me to add somewhere

[2021-04-07 08:48] mfeurer opened #805 "How to link from one example to another?"
Hi,

first of all, I'm a huge fan of this package and I'm using for packages I'm working on such as [OpenML-Python](https://github.com/openml/openml-python/) and [Auto-sklearn](https://github.com/automl/auto-sklearn).

I'm currently trying to create links between examples by using rst references (to allow for automatic link checking by sphinx). However, I cannot find any mention of this in the doc

[2021-04-07 10:55] lucyleeow commented on #805
What do you mean the resulting example doesn't render the link?
Inside the 'see also' box, we link to the example 'Syntax error' using the syntax described above, and I checked that the link does work.
I can see how the documentation is confusing though

[2021-04-07 11:34] mfeurer commented on #805
Please excuse this issue, after you answered I tried again and now it works. I must have made a mistake before. Thanks a lot for your answer.

Regarding confusing documentation: I just didn't find this section which explains everything I needed to know: https://sphinx-gallery.github.io/stable/advanced.html#know-your-gallery-files but I'm not sure if this information could be put somewhere else or

[2021-04-07 11:34] #805 closed

[2021-04-07 21:52] lucyleeow commented on #805
No worries. Yes I agree about the documentation, if you have a suggestion feel free to put in a PR!

[2021-04-12 03:05] jkhoogland opened #809 "Generating the output notebooks together with data (folders) used for generating..."
I would like to have data folders as part of the output folder with the python scripts and notebooks.
I could not find any details on whether this is achievable or not.

I have roughly the following setup.

A bunch of folders `A, B, ...`, with python scripts as below.
The various python scripts use data, that is located in the various folders `A`, `B` as a subfolder `data`.
So a script `A/a1.py` w

[2021-04-12 14:15] larsoner commented on #809
I don't think we should have SG do it, but fortunately it should be easy enough for you to do by hooking into a Sphinx event:

https://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx-core-events

I would probably hook into `build-finished` for your use case

[2021-04-12 16:18] jkhoogland commented on #809
Perfect, thanks for the link, I will have a look further look there.

[2021-04-12 16:18] #809 closed

[2021-04-15 17:35] NicolasHug opened #812 "Minigalleries are generated even for objects without examples"
For example in https://sphinx-gallery.github.io/stable/gen_modules/sphinx_gallery.scrapers.html#module-sphinx_gallery.scrapers the functions all have an empty minigallery saying "Examples using ...", but there's nothing to show.

As often minigalleries are automatically generated by adding the directive in a template, it'd be nice to only add it if there's actually a backreference to show.

[2021-04-15 17:43] larsoner commented on #812
Yes, this has bothered me for a while in repos where I use SG!

[2021-04-16 20:15] jorisvandenbossche opened #815 "Custom CSS for space above title target conflicts with pydata-sphinx-theme"
The following snippet from sphinx-gallery's custom css conflicts with the pydata-sphinx-theme (see https://github.com/pydata/pydata-sphinx-theme/issues/389, https://github.com/mne-tools/mne-python/pull/9288):

https://github.com/sphinx-gallery/sphinx-gallery/blob/ec22616661d3728f6fc962d622ddba5686f5356b/sphinx_gallery/_static/gallery.css#L148-L154

Because it adds some space above each header on t

[2021-04-19 12:48] #815 closed

[2021-04-20 05:07] #812 closed

[2021-04-22 14:57] jacobolofsson opened #817 "New release"
Is there a release planned anytime soon, or would it be possible to create one?
I would like to use the bug fix for SVG thumbnails (#810) .

[2021-04-22 15:08] larsoner commented on #817
My inclination is to release now, and then merge #808 (switch to image-sg directive) right after release. That way matplotlib and MNE-Python can use the dev version (pinned to that commit for example) for a few months before springing it on everyone else. @jklymak @timhoffm would that work for you?

[2021-04-22 15:22] jklymak commented on #817
I think thats fine?  Not sure if Matplotlib will want to use dev, but maybe for our dev docs.  We just released 3.4, so 3.5 will probably not be until early fall....

[2021-04-22 15:45] larsoner commented on #817
That seems reasonable to me -- use dev on your dev docs, and then we can easily push out another SG release this summer or early fall before you're pushing out mpl 3.5.

@lucyleeow would you be up for making another release in the coming days?

[2021-04-22 18:05] timhoffm commented on #817
That’s reasonable. Thanks!

[2021-04-22 21:53] lucyleeow commented on #817
Will make the new release in the weekend

[2021-04-22 22:42] lucyleeow commented on #771
I think I'll close this, let me know if anyone thinks it should be re-opened.

[2021-04-22 22:42] #771 closed

[2021-04-23 06:21] GaelVaroquaux commented on #817
Thanks!!!

[2021-04-24 14:51] #755 closed

[2021-04-25 01:46] #760 closed

[2021-04-25 10:20] lucyleeow commented on #817
New release done.

[2021-04-25 10:20] #817 closed

[2021-04-26 07:03] GaelVaroquaux commented on #817
Thanks!!

[2021-04-26 21:51] fepegar opened #823 "TorchIO now uses sphinx-gallery"
Thank you for this great project. [TorchIO](https://torchio.readthedocs.io) has now a [gallery](https://torchio.readthedocs.io/auto_examples/index.html). May I open a PR to add it to the users list?

[2021-04-26 21:58] larsoner commented on #823
Please do!

[2021-04-27 00:36] #823 closed

[2021-04-30 09:59] dstansby opened #827 "Add different formatting for `warning` and `print()` output"
Currently both warnings and manually printed output are rendered the same, making it hard to distinguish between the two - I have attached an example below from sunpy. It would be nice to format warnings differently, so they could be easily distinguished from other output.
![Screenshot 2021-04-30 at 10 57 47](https://user-images.githubusercontent.com/6197628/116679993-1448a280-a9a3-11eb-8133-73f5d

[2021-04-30 12:03] GaelVaroquaux commented on #827
I think that from a "product point of view" this is indeed a good idea.

Would you be able to draft a pull request?

Thanks!!

[2021-04-30 23:08] lucyleeow commented on #827
I think the difficulty would be distinguishing warnings from normal output from `captured_std` here:

https://github.com/sphinx-gallery/sphinx-gallery/blob/2dcdd6c52cb30bb9c1da4b8b884ac32f8fe89788/sphinx_gallery/gen_rst.py#L656

Any ideas, @larsoner ...?

[2021-05-03 12:57] larsoner commented on #827
In the general case, you could have interleaved stdout (print) and stderr (warn). In theory we could split the stdout and stderr into separate LoggingTee outputs. If we also preserved the time of each log call, then we would know how to interleave them in the output. Then we'd have to deal with the styling to make them appear as alternating yellow and red (presumably) literal boxes.

So it's not t

[2021-05-17 07:02] #751 closed

[2021-05-26 09:49] kakila opened #832 "filename_pattern not catching files with at least three underscores"
In the configuration of the gallery I set

`'filename_pattern': r'report_',`

To process files that start with `report_`.
This works flawlessly with names like `report_empty.py` or `report_my_file.py`.
However it will skip files with names like `report_my_other_file.py`. The reason (I could track) is the second underscore.
That is the file `report_my_otherfile.py` would be processed just fine.

[2021-05-26 11:21] larsoner commented on #832
Internally we use:
[code]
Doing that with your examples (plus one more that should yield False):
[code]
So I don't see how it's possible that you are getting this behavior. Are you sure you're running from a clean doc build directory each time? SG will only rebuild examples that are "stale", meaning they've been changed somehow. You can override this behavior with [run_stale_examlpes = True](https

[2021-05-26 12:03] kakila commented on #832
Ok, thanks, I did a better testing: this file name is definitely not processes `report_my_vs_file.py` however, as you pointed out `report_my_other_file.py` is indeed. I had actually not tested that particular name directly, I am sorry
Anyways, a file `reportbad_my_file.py` is actuall yprocessed. So it seems that the matching is not working partially
I am getting this behavior even after I remove a

[2021-05-26 12:06] larsoner commented on #832
It says this:
[code]
But I think it didn't actually execute the file:
[code]
I think this is perhaps by design to say that it at least looked at the file in the list of possible files, but didn't execute. (Normally if your scripts take >= 10 ms it's obvious which did not execute because they are 0.00 sec).

If you add a `raise RuntimeError` to the `reportbad_my_vsfile.py` does it raise an error?

[2021-05-26 12:08] kakila commented on #832
No that's  not the case. the files are just a header. note how thew other files, the ones not processed are not listed.

[2021-05-26 12:11] larsoner commented on #832
Okay so then it's not actually executing the file, right?

Not sure why only some are listed, would have to look into the logging for this. But it seems like what actually is and isn't executed is correct.

[2021-05-26 12:14] kakila commented on #832
Ok, I see.
I added
[code]
to all the files and the RunTimeError to the `reportbad_` one
I get
[code]
and no error is raised.

So you were right about the file not being executed but still listed.
But the file `report_my_vs_file.py` is still not processed.

How can I shared the logs with you? Where do I find them?

[2021-05-26 12:17] larsoner commented on #832
No need to share any logs, just share a tiny zip file with these files + a command to run and I can run it locally to replicate

[2021-05-26 12:43] kakila commented on #832
Great, here you have.

In the clean extracted folder I get
[code]
again, it seems as if `reportbad_` was processed but not the `report_my_vs_file`.

[reports.zip](https://github.com/sphinx-gallery/sphinx-gallery/files/6546722/reports.zip)

[2021-05-26 22:09] kakila commented on #832
oh, that explains the skipped file, So `r'^s_'` should skip only those when the patter in at the beginnig of the file name, right?
I see now, then `reportbad_` is still listed but not executed, becuase it is not explicitly ignored, while the other one was explicitly ignored.

[2021-05-26 22:09] #832 closed

[2021-06-09 03:09] jnothman opened #833 "Generalising image_scrapers facility for non-images"
I was wondering if the `image_scrapers` could be repurposed for general artefacts. For example, a script which generated some non-image file output should be able to create download links. Perhaps the scraper would just collect all files in an `artefacts/` directory created by the script, move those files to the correct location, and generate links to appear in the document.

I see the following i

[2021-06-09 03:09] jnothman commented on #833
A more friendly solution might be to replace the `image_path_iterator` with a `path_maker` which has the following extra methods:
[code]

or something functionally equivalent but not as hacky!

[2021-06-09 03:30] lucyleeow commented on #833
Thanks @jnothman, to clarify,

does this mean that images generated would not show as an image in the document but be a link instead?

[2021-06-09 04:05] jnothman commented on #833
I'm not thinking images at the moment. I'm thinking other artefacts, for example CSV or XLSX etc.

For these "showing" may not be feasible. The scraper would provide the same functionality: identifying the files generated, moving them into a specified location/name, and generating a way to present them.

[2021-06-09 04:44] lucyleeow commented on #833
So presentation would differ depending on, say, file extension?

[2021-06-09 05:36] jnothman commented on #833
Presentation is entirely left up to the scraper to decide, isn't it?

[2021-06-09 05:57] lucyleeow commented on #833
Ah I understand what you're after now.

I can see the use. It would require a bit of fiddling for the thumbnails, a we assume scraped files are images and use them as thumbnails, but that would be manageable. WDYT @larsoner ?

Would you be interested in implementing @jnothman ?

[2021-06-09 09:19] lucyleeow commented on #833
This sounds reasonable. Would `filenames` param be user configurable ?

[2021-06-09 13:14] jnothman commented on #833
Thank you for the more civil issue title :D

The new methods would be used by scrapers to more directly control the list of paths.

I'm not sure I'll find the availability soon, but I will consider it. While image_scrapers API is experimental, it's unclear how much you'd want to change it. Should we be looking to rename `image_path_iterator` and `ImagePathIterator`?

[2021-06-10 17:28] larsoner commented on #833
Not quite, because sphinx-gallery still needs to make thumbnails. It uses the generated paths plus their extensions to do this. One way around this problem would be to extend the scraper API to allow returning not just an image, but also a thumbnail for it (and maybe also the RST to use to embed it?).

But to me the primary question is: why even bother using `image_path_iterator` (or any sphinx-ga

[2021-06-13 08:27] lucyleeow commented on #833
This could also be done readily by adding a `_repr_html_` and using the `capture_repr`.

[2021-06-13 23:00] jnothman commented on #833
You might be right, @larsoner, that all you need is to return appropriate rendering. I think I just got lost in an idea. I'll think about whether advantages remain...

[2021-06-13 23:01] jnothman commented on #833
Thanks for the sanity check!!

[2021-06-14 11:47] jnothman commented on #833
repr is not appropriate in some cases, where we want this not to be mediated public APIs of objects in the script.

I think I had imagined sphinx-gallery's execution to be sandboxed in a temporary directory, such that artifacts would need to be exported from that directory to be used, but it seems that's not the case. Closing until I think of valid use cases!

[2021-06-14 11:47] #833 closed

[2021-06-19 07:35] nabobalis commented on #707
Sorry for bring up such an old issue.

I ran into this problem and wanted to embed this information for our documentation and someone linked me: https://github.com/wpilibsuite/sphinxext-opengraph

This extension works on the gallery pages but the issue is that due to the relative paths that the gallery produces, opengraph doesn't resolve the image path in previews.

[code]

Is it possible to work

[2021-06-21 10:14] lucyleeow commented on #555
I think this can be closed by https://github.com/sphinx-gallery/sample-project

[2021-06-21 10:14] #555 closed

[2021-06-24 11:54] lucyleeow commented on #707
Thanks for your comment @nabobalis, potentially if sphinxext-opengraph works well, it would be a better solution than us implementing it.

Sphinx Gallery generated rst gives an image directive with a relative path to the image, e.g., from our an example in our docs:

[code]
when Sphinx generates the html, it looks like this:
[code]

so it looks like sphinxext-opengraph is pulling the image info fr

[2021-06-24 12:01] nabobalis commented on #707
Thanks for the follow up @lucyleeow.

Yeah that looks like that is the case, I think I will raise an issue upstream and see what they say about it.

[2021-06-25 23:15] lucyleeow commented on #429
Closing due to inactivity.

[2021-06-25 23:15] #429 closed

[2021-06-25 23:28] lucyleeow opened #839 "Add type annotations"
Any thoughts on adding type annotations to our code?

cc @larsoner

[2021-06-26 18:14] larsoner commented on #839
I haven't worked with them much so I'm not sure what the benefits are or how difficult it will be too implement properly

[2021-06-28 08:05] lucyleeow commented on #839
Type annotations allow for static type checking, which can pick up common bugs, mypy have a good intro: https://mypy.readthedocs.io/en/stable/introduction.html I've been working with them recently and have found them helpful, but I realise for SG it is mostly better docstring and parameter documentation that I think would be helpful.

I think I will do some work on just filling out docstrings more

[2021-06-29 14:32] nss350 opened #841 "Galleries using bokeh"
Hi,
I've searched in the issues and more widely to understand whether there is support for bokeh plots in sphinx gallery. I found some issues from 2019 that suggested that bokeh plots maybe supported, but wanted to double check before setting down on a particular development pathway with an incorrect assumption.

Thanks for any help.

[2021-06-29 16:54] larsoner commented on #841
From a very brief search it looks like they rolled their own gallery generator:

https://docs.bokeh.org/en/latest/docs/reference/sphinxext.html#module-bokeh.sphinxext.bokeh_gallery

Nowadays we provide a flexible `scrapers` option so you might be able to create your own sphinx-gallery scraper for Bokeh. But really it seems lower effort to figure out how to use their directive. You'll have to ask t

[2021-06-29 16:54] #841 closed

[2021-06-29 18:49] nss350 commented on #841
Hi @larsoner, thanks for your reply. I did check with bokeh and saw the bokeh gallery, but seeing the lack of docs, I decided to check in here first before proceeding. The plan is to use this functionality in a readthedocs compatible way and I have some larger data that it runs on that does not sit in my project repository, therefore there is a bit of complexity.

[2021-06-30 09:21] GaelVaroquaux commented on #707
@lucyleeow : when upstream makes progress, we should try using "sphinxext-opengraph" in the sphinx-gallery docs :)

[2021-06-30 10:08] lucyleeow commented on #707
Yes will do! I could even mention it in our docs. Would be great if this works as avoids us from adding it and then having to maintain it.

[2021-06-30 12:15] GaelVaroquaux commented on #707
I've just added it in dirty-cat, and it seems to work quite well:
The link https://dirty-cat.github.io/stable/auto_examples/06_dimension_reduction_and_performance.html#sphx-glr-auto-examples-06-dimension-reduction-and-performance-py
Renders as such in mattermost:
![image](https://user-images.githubusercontent.com/208217/123958657-99553580-d9ad-11eb-8219-a3be35d4f662.png)